.xans-member-checkunderfourteen .under14 { padding:10px; margin:0 0 7px; border:1px solid #d5d5d5; color:#353535; text-align:center; background:#f1f1f1; }
.xans-member-checkunderfourteen .under14 strong { color:#508bed; }
.xans-member-checkunderfourteen .select li { line-height:43px; padding:0 0 0 14px; border:1px solid #d5d5d5; }
.xans-member-checkunderfourteen .select li:first-child { border-bottom:0; }
.xans-member-checkunderfourteen input { margin:0 7px 0 0; }
.xans-member-checkunderfourteen label { display:inline-block; width:120px; }
.xans-member-checkunderfourteen .ipin img { width:106px; vertical-align:middle; }
.xans-member-checkunderfourteen .btnNormal {
    display:inline-block; height:28px; line-height:26px; margin:0; padding:0 10px;
    cursor:pointer; vertical-align:middle; font-family:Verdana,'Iropke Batang',"맑은 고딕",Malgun Gothic,"돋움",Dotum; font-size:13px; font-weight:400;
    color:#1b1b1b; border:1px solid #bcbcbc; background:#fff;
    border-radius:2px;
    -moz-box-sizing:border-box; box-sizing:border-box;
 }
