<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <title></title>
    <!--@css(/layout/basic/css/common.css)-->
    <!--@css(/layout/basic/css/popup.css)-->
    <!--@css(/layout/basic/css/button.css)-->
    <!--@css(/layout/basic/css/paginate.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)-->

    <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
    <!--@js(/layout/basic/js/common.js)-->
</head>
<body id="popup" class="popup">
    <!--@contents-->
    <button type="button" class="btnClose" onclick="window.close()">닫기</button>
</body>
</html>
