.mid-0.xans-member-findpasswdmethod { border:1px solid #d7d5d5; padding:30px 0; text-align:center; }
.mid-0.xans-member-findpasswdmethod .memberArea { width:350px; margin:30px auto; text-align:left; }
.mid-0.xans-member-findpasswdmethod .memberArea > ul { overflow:hidden; }
.mid-0.xans-member-findpasswdmethod .memberArea .term,
.mid-0.xans-member-findpasswdmethod .memberArea .desc { float:left; margin:0 0 5px; }
.mid-0.xans-member-findpasswdmethod .memberArea .term { width:32%; }
.mid-0.xans-member-findpasswdmethod .memberArea .desc { width:68%; }
.mid-0.xans-member-findpasswdmethod .memberArea .term .icoDot { display:inline-block; width:5px; height:11px; background:url('http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_title.gif') no-repeat 0 center; }
.mid-0.xans-member-findpasswdmethod .memberArea .number { text-decoration:none; }