.mid-0.xans-member-findpasswdquestion { border:1px solid #d7d5d5; padding:30px 0; text-align:center; }
.mid-0.xans-member-findpasswdquestion .memberArea { width:355px; margin:30px auto; text-align:left; }
.mid-0.xans-member-findpasswdquestion dl.desc { overflow:hidden; width:100%; }
.mid-0.xans-member-findpasswdquestion dl.desc dt,
.mid-0.xans-member-findpasswdquestion dl.desc dd { float:left; margin:0 0 5px; }
.mid-0.xans-member-findpasswdquestion dl.desc dt { width:18%; }
.mid-0.xans-member-findpasswdquestion dl.desc dd { width:82%; }
.mid-0.xans-member-findpasswdquestion dl.desc dt .icoDot { display:inline-block; width:5px; height:11px; background:url('http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_title.gif') no-repeat 0 center; }
.mid-0.xans-member-findpasswdquestion #passwd_answer { width:265px; }