.mid-0.xans-member-findid { border:1px solid #d7d5d5; padding:30px 0; text-align:center; }
.mid-0.xans-member-findid .memberArea { width:355px; margin:30px auto; text-align:left; }
.mid-0.xans-member-findid dl.desc { overflow:hidden; width:100%; }
.mid-0.xans-member-findid dl.desc dt,
.mid-0.xans-member-findid dl.desc dd { float:left; margin:0 0 5px; }
.mid-0.xans-member-findid dl.desc dt { width:40%; line-height:22px; }
.mid-0.xans-member-findid dl.desc dd { width:60%; }
.mid-0.xans-member-findid dl.desc dt .icoDot { display:inline-block; width:5px; height:11px; background:url('http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_title.gif') no-repeat 0 center; }
.mid-0.xans-member-findid #ipin_view dd,
.mid-0.xans-member-findid #mobile_auth_view dd { display:block; width:345px; padding:0 0 0 10px; }
.mid-0.xans-member-findid #searchType { width:205px; }
.mid-0.xans-member-findid #name,
.mid-0.xans-member-findid #email { width:193px; }
.mid-0.xans-member-findid #ssn1 { width:81px; }
.mid-0.xans-member-findid #ssn2 { width:95px; }
.mid-0.xans-member-findid #mobile1 { width:47px; }
.mid-0.xans-member-findid #mobile2,
.mid-0.xans-member-findid #mobile3 { width:56px; }