.mid-0.xans-member-joincomplete { border:1px solid #d7d5d5; padding:30px 0; text-align:center; }
.mid-0.xans-member-joincomplete .memberArea { width:355px; margin:30px auto;  text-align:left; }
.mid-0.xans-member-joincomplete .info { padding:10px 0 10px 35px; border-bottom:1px solid #e8e7e7; background:#fbfbfb url("http://img.echosting.cafe24.com/skin/base_ko_KR/member/ico_warning.gif") no-repeat 10px center; }
.mid-0.xans-member-joincomplete .memberInfo {border:1px solid #ddd;}
.mid-0.xans-member-joincomplete .memberInfo { overflow:hidden; padding:10px; *zoom:1; }
.mid-0.xans-member-joincomplete .memberInfo .thumb { float:left; width:70px; margin:0 20px 0 0; }
.mid-0.xans-member-joincomplete dl.desc { overflow:hidden; float:left; width:240px; *zoom:1; }
.mid-0.xans-member-joincomplete dl.desc dt,
.mid-0.xans-member-joincomplete dl.desc dd { float:left; margin:0 0 5px; }
.mid-0.xans-member-joincomplete dl.desc dt { width:32%; }
.mid-0.xans-member-joincomplete dl.desc dd { width:68%; }
.mid-0.xans-member-joincomplete dl.desc dd span {font-family:'NSQ'; }
.mid-0.xans-member-joincomplete dl.desc dt .icoDot { display:inline-block; width:5px; height:11px; background:url('http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_title.gif') no-repeat 0 center; }
.mid-0.xans-member-joincomplete .buttonArea { margin-top:30px; }