.account-wrap {
  .xans-myshop-benefit {
    background-color: #fff;
    padding: 25px;
    margin-top: 50 ßpx;
    border-radius: 10px;
    box-shadow: 0 5px 0 #eee;

    .division {
      .heading {
        img {
          border-radius: 10px;
        }
      }
    }
  }

  .xans-member-edit {
    margin-top: 100px;
  }

  table {
    caption {
      font-weight: 600;
      border-bottom: 1px solid #333333;
      padding: 20px 0;
    }
    tr {

      th {

      }

      td {

        .btnNormal {
          padding: 5px;
          font-weight: 100;
          color: #fafafa;
          background-color: #333333;
          border: none;
        }

        #email3 {
          margin: 10px 0;
        }
      }

    }
  }

  .additional-account-info {
    margin-top: 50px;

  }

  .buttonArea {
    margin: 50px 0;

    .btnSubmitM {
      padding: 10px;
      font-weight: 100;
      color: #fafafa;
      background-color: #333333;
      border: none;
      position: relative;
      bottom: 1px;
    }

    .btnEmM {
      @extend .font-nanum-square;
    }

    .btnNormalB {
      @extend .font-nanum-square;
      border: none;
      height: 38px;
    }

  }

}