.sign-up-form-wrap {
  padding: 50px 0;

  .xans-member-join {
    margin: 100px 0 50px;

    table {
      margin: 0 0 50px 0;
      border: 0 none !important;

      caption {
        font-weight: 600;
        padding: 20px 0;
      }

      tbody {
        border-left-color: transparent;
        border-right-color: transparent;
        border: none;

        tr {
          th {

          }
          td {
            input {
              box-sizing: border-box;
              margin: 5px 3px;
              padding: 0 10px;
              box-shadow: none;
              border-radius: 5px;
              width: auto;
              min-width: 100px;
              background: #fff;
            }
            select{
              width: auto;
              min-width: 100px;
            }

            #addr1 {
              margin: 5px 3px;
              box-shadow: none;
              border-radius: 5px;
            }

            #postBtn {
              background-color: #333333;
              color: #fafafa;
              padding: 8px;
              font-size: 0.8em;
              font-weight: 100;
              border: 0;
              border-radius: 5px;

              .gSingle {
                display: block;
              }

            }

            #email1 {
              width: 30%;
            }
            #email2 {
             width: 50%;
            }

          }
        }
      }

    }

  }




  .agreeArea {
    .agree-txt {
      color: #333333;
    }

    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }

    .check {
      span {
        margin-right: 10px;
      }
      label {
        color: #333333;
        &:before {
          margin-top: 3px;
        }
      }
    }

    .content {

    }

  }

  .mt15 {
    .btnSubmitM {
      background-color: #333333;
      color: #fafafa;
      padding: 10px;
      font-size: 0.9em;
      font-weight: 100;
      border-radius: 5px;

    }
    .btnEmM {
      background-color: #333333;
      color: #fafafa;
      padding: 10px;
      font-size: 0.9em;
      font-weight: 100;
      border-radius: 5px;
      margin-left: 10px;

    }
  }

}

.sign-up-result {
  text-align: center;
  padding: 30px 15px;

  .txtTitle16B {
    margin: 0 0 50px;
  }

  .xans-member-joincomplete {
    border-radius: 10px;
    background-color: #EEEEEE;

    .memberArea {
      .memberInfo {
        background-color: #fafafa;
        border-radius: 10px;
        padding: 20px;

        .desc {
          font-weight: 400;
          font-size: 1.1em;

          dt {
            @extend .font-ubuntu;
            font-weight: 600;
          }

          dd {
            text-align: center;

            span {
              @extend .font-nanum-square;

            }
          }

        }
      }
    }

    .buttonArea {
      @extend .font-ubuntu;
    }
  }
}

