.my-addr-wrap {
  #frmAddr {
    .xans-myshop-addrlist {
      h1 {
        font-size: 2em;
        font-weight: 600;
      }

      .buttonArea {
        .btnNormalB {
          border: none;
          padding: 10px;
        }
      }
    }
  }
}