.my-addr-wrap {

   .xans-myshop-addrlist {
     table {
       caption {
         width: 100%;
         padding: 20px 0;
         font-weight: 600;

       }

       thead {
         border-bottom: 0;
         background: #eee;

         tr {

           td, th {
             text-align: center;
           }

           th.list-title {
             @extend .font-ubuntu;
             font-weight: 600;

             &:first-child {
               border-radius: 5px 0 0 5px;
             }

             &:last-child {
               border-radius: 0 5px 5px 0;
             }

           }
         }
       }

       tbody {

         tr {

           td {
             text-align: center;

             a {
               img {
                 border: 1px solid #d0d0d0;
                 border-radius: 10px;
               }
             }

             div.button {
               font-weight: 100;

               a {
                 display: block;
                 color: #fafafa;
                 background-color: #333333;
                 padding: 5px;
                 margin: 5px 0;
                 border-radius: 5px;
                 text-align: center;
                 font-size: 0.8em;
               }

               .btnSubmit {

               }

               .btnNormal {

               }

             }

           }




         }
       }


     }
   }

   .helpTheme {
     padding: 100px 0;


     .content {
       padding: 20px;
       background-color: #EEEEEE;
       border-radius: 10px;


       h4 {
         font-size: 1.1em;
         font-weight: 600;
       }

       ul {
         margin-bottom: 50px;
         line-height: 1.7em;

         &:last-child {
           margin-bottom: 0;
         }

         li {
           color: #757575;
           font-weight: 400;
         }
       }
     }
   }

 }