.my-addr-register-wrap {

  form#frmAddr {
    .xans-myshop-addrregister {

      table {
        margin-top: 100px;

        caption {
          font-weight: 600;
        }

        tbody {

          tr {
            td {
              label {
                font-weight: 400;
                color: #333333;
              }
            }

          }
        }
      }

      .buttonArea {
        .gRight {
          .btnSubmitB {
            border: none;
            background-color: #333333;
            color: #fafafa;
            padding: 10px;
            border-radius: 5px;
          }

          .btnNormalB {
            padding: 10px;
          }

          .btnEmB {
            border: none;
            padding: 10px;
          }

        }
      }

    }

  }

  .helpTheme {
    padding: 100px 0;

    .content {
      padding: 20px;
      background-color: #EEEEEE;
      border-radius: 10px;

      h4 {
        font-size: 1.1em;
        font-weight: 600;
      }

      ul {
        margin-bottom: 50px;
        line-height: 1.7em;

        &:last-child {
          margin-bottom: 0;
        }

        li {
          color: #757575;
          font-weight: 400;
        }
      }
    }
  }
}