.product-main {
  width: 100%;

  .product-tap-menu {
    width: 100%;
    @extend .font-ubuntu;
    font-size: 1.4em;
    font-weight: 500;

    ul {
      width: 100%;
      border-bottom: 1px solid #417505;
      display: table;

      li.tap {
        list-style-type: none;
        float: left;
        padding-right: 15px;

        a {
          display: block;
          width: 100%;
          padding: 5px 10px;
          border-radius: 5px 5px 0 0;

          &:hover {
            background-color: #417505;
            color: #fafafa;
          }

        }
      }

    }

  }

}