.order-list-wrap {
  #accountForm {
    .xans-myshop-orderhistoryaccount {
      h1 {
        font-size: 2em;
        font-weight: 600;
      }

      .buttonArea {
        .btnSubmitB {
          border: none;
          padding: 10px;
          color: #fafafa;
          background: #333333;
          font-weight: 100;
        }

        .btnNormalB {
          border: none;
          padding: 10px;
        }
      }
    }
  }
}