.sub-about {
  @extend .font-nanum-square;
  color: #333333;

  .section-about-header {
    background-color: #1E1E1E;
    position: relative;
    overflow: hidden;

    .sub-header-wrap {
      max-width: 960px;
      height: 300px;
      padding: 40px 0;
      margin: 0 auto;
      position: relative;

      .container {
        max-width: 960px;
        padding: 0;
        margin: auto;
        position: absolute;
        top: 50%;
        margin-top: -54px;

        h1.sub-about-title {
          color: #fafafa;
          font-size: 3em;
          line-height: 1.5em;
          display: table;
          margin: 0 auto;
          @extend .font-mono;
          text-align: center;

          span {
            color: #F8E71C;
          }

        }

        img.sub_about_image {
          //display: block;
          display: none;
          width: 400px;
          float: right;
        }

      }
    }

  }

  //about-page-titles 공통 style

  .about-title-wrap {
    text-align: center;

    h2.about-title {
      @extend .font-mono;
      color: #7ED321;
      font-size: 35px;
      font-weight: 600;
      letter-spacing: -1.5px;
      line-height: 61px;

    }

    .about-block-line {
      width: 40px;
      height: 4px;
      background-color: #7ED321;
      margin: 20px auto 20px;
    }

    h3.about-sub-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: #fafafa;
      padding: 20px 0;
    }
  }

  .section-founders {
    display: table;
    background-color: #000000;
    width: 100%;
    color: #fafafa;
    font-weight: 100;
    font-size: 16px;

    .container {
      padding: 50px 30px;

      .founders-contents-wrap {
        text-align: center;
        padding-top: 50px;

        .profile-wrap {
          width: 100%;
          height: 500px;
          margin-bottom: 30px;

          .about-image-wrap {
            margin: 0 auto;
            display: block;

            img.about-image {
              display: block;
              margin: 0 auto;
              width: 100%;
              max-width: 90px;
              min-width: 40px;
            }
          }

          h4 {
            padding-top: 20px;
            font-size: 1.2em;
          }
          p {
            color: #d1d1d1e0;
            padding-top: 10px;
            font-size: 0.8em;
            line-height: 1.8em;
          }
        }

      }

    }
  }

  .section-history {
    background-color: #1E1E1E;
    .container {
      padding: 50px 30px 0 30px;

      .about-title-wrap {
        .history-spaceship {
          display: block;
          margin: 0 auto;
          width: 80px;
          padding: 30px 0;
        }
      }

      .history-contents-wrap {
        width: 100%;
        height: 4700px;
        margin-top: 30px;
        background-image: url("../../../assets/images/sub-about/history-space-bg.png");
        background-size: 100%;
        background-position: top center;
        background-repeat: repeat-y;

        #nerds-timeline-wrap {
          $timeline-gap-width: 30px;
          $timeline-gap-height: 100px;
          $timeline-mx-margin: 20px;

          $timeline-stroke-color: #F39835;
          $timeline-block-color: #1E1E1E;
          $timeline-title-color: #fafafa;
          $timeline-text-color: #9B9B9B;
          $timeline-background-color: #1e1e1e;

          $timeline-date-size: 1.2em;
          $timeline-title-size: 0.5em;
          $timeline-text-size: 1em;

          $timeline-stroke-layer: -1;
          $timeline-contents-layer: 2;

          .start-end-circle {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border: 5px solid $timeline-stroke-color;
            border-radius: 50%;
            text-align: center;
            display: table;
            background-color: $timeline-block-color;

            span {
              display: table-cell;
              color: #F8E71C;
              vertical-align: middle;
              @extend .font-mono;
              font-size: 1.5em;

            }
          }

          .end-circle {
            position: relative;
            top: 100px;
          }

          .center-stroke {
            width: 1px;
            height: 4500px;
            background-color: $timeline-stroke-color;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            z-index: 0;

          }

          img.history-earth-image {
            height: 30px;
            display: block;
            margin: 0 auto;
            z-index: $timeline-contents-layer;
            position: relative;
            top: 50px;

          }

          .timeline-contents-wrap {
            position: relative;
            top: 50px;
            z-index: $timeline-contents-layer;

            .col {
              padding: 0;

              .timeline-body-wrap {
                width: 100%;
                padding: 25px 0;
                text-align: center;

                .timeline-date {
                  color: $timeline-stroke-color;
                  background-color: $timeline-block-color;
                  font-size: $timeline-date-size;
                  padding: 4px 0;

                }

                .timeline-circle-wrap {

                  .logo-circle {
                    width: 100px;
                    height: 100px;
                    background-color: $timeline-block-color;
                    border: 1px solid $timeline-stroke-color;
                    border-radius: 50%;
                    display: table;
                    margin: 0 auto;

                    span.history-logo-wrap {
                      display: table-cell;
                      vertical-align: middle;

                      img.history-logo-image {
                        display: block;
                        margin: 0 auto;
                        max-width: 50px;
                        min-width: 40px;
                      }

                    }

                  }

                }

                .timeline-text-wrap {
                  text-align: center;
                  padding: 10px auto;

                  h4 {
                    line-height: 0.6em;
                    .timeline-title {
                      background-color: $timeline-background-color;
                      color: $timeline-title-color;
                      font-size: $timeline-title-size;
                      padding: 4px 0;

                    }
                  }

                  p {
                    line-height: 1.7em;

                    .timeline-text {
                      background-color: $timeline-background-color;
                      color: $timeline-text-color;
                      font-size: $timeline-text-size;
                      padding: 2px 0;

                    }
                  }

                }

                .timeline-text-wrap-right {
                  clear: both;
                  padding: 10px 5px;
                }

                .photo-square-wrap {

                  .photo-square {
                    width: 170px;
                    height: auto;
                    background-color: $timeline-block-color;
                    border: 1px solid $timeline-stroke-color;
                    border-radius: 8px;
                    display: table;
                    margin: 0 auto;
                    overflow: hidden;

                    span.history-photo-wrap {
                      display: table-cell;
                      vertical-align: middle;

                      img.history-photo-image {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                      }

                    }

                  }

                  .timeline-text-wrap-right {
                    text-align: center;
                    padding: 10px auto;

                    h4 {
                      line-height: 0.6em;
                      .timeline-title {
                        background-color: $timeline-background-color;
                        color: $timeline-title-color;
                        font-size: $timeline-title-size;
                        padding: 4px 0;
                        text-align: right;

                      }
                    }

                    p {
                      line-height: 1.7em;

                      .timeline-text {
                        background-color: $timeline-background-color;
                        color: $timeline-text-color;
                        font-size: $timeline-text-size;
                        padding: 2px 0;
                        text-align: right;

                      }
                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

  .section-axisj-services {
    background: #000000;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: 100;
    font-size: 16px;

    .gradation-box {
      width: 100%;
      height: 300px;
      background: -webkit-linear-gradient(#1e1e1e, #000000); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#1e1e1e, #000000); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#1e1e1e, #000000); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#1e1e1e, #000000); /* Standard syntax */
    }

    .container {
      padding: 50px 30px;
      background: url("../../../assets/images/sub-about/history-space-bg.png");
      background-position: top center;
      background-repeat: repeat-y;
      background-size: 100%;

      h2.about-title {
        color: #f8e71c;
      }

      .about-block-line {
        background-color: #f8e71c;
      }

      h3.about-sub-title {
        color: #fff;
      }

      .service-title-image-wrap {
        width: 200px;
        height: 224px;
        margin: 0 auto;
        overflow: hidden;

        .service-title-image {
          display: block;
          width: 100%;
        }
      }

      .service-link-card {
        width: 100%;
        height: 220px;
        margin-bottom: 30px;
        background: #333;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        position: relative;
        border: 1.5px solid #1e1e1e;

        .service-logo-image-wrap {
          width: 60px;
          height: 60px;
          line-height: 60px;
          margin: auto;
          padding-top: 15px;

          .service-logo-image {
            max-width: 100%;
            vertical-align: middle;
          }
        }

        .service-link-text-wrap {
          padding: 20px 10px;

          h4.service-link-title {
            font-size: 1em;
            font-weight: 600;
            color: #fff;
          }

          p.service-link-text {
            color: #9B9B9B;
            font-size: 0.8em;
          }
        }

        .service-link-button {
          display: block;
          background: #1e1e1e;
          width: 100%;
          height: 40px;
          position: absolute;
          bottom: 0;
          line-height: 40px;

          span {
            color: #fafafa;
            font-size: 0.9em;
            font-weight: 600;
          }

        }

      }

    }

  }

  @media #{$medium-and-up} { // 640

    .section-about-header {

      .sub-header-wrap {

        .container {

          h1.sub-about-title {
            font-size: 3.5em;
            line-height: 1.3em;

          }

        }
      }

    }

    .section-founders {

      .container {

        .profile-wrap {

          .about-image-wrap {

            img.about-image {
              width: 70%;
            }
          }

          h4 {
            font-size: 1.1em;

          }
          p {
            padding-top: 10px;
            font-size: 0.8em;
            line-height: 1.8em;
          }

        }

      }
    }

  }

  // table
  @media #{$large-and-up} { // 993

    .section-about-header {
      height: 300px;

      .sub-header-wrap {
        padding: 50px 0;

        .container {
          top: 40%;
          padding: 0 35px;

          h1.sub-about-title {
            text-align: left;
            margin: 0;
            display: inline-block;

          }

          img.sub_about_image {
            display: inline-block;
            position: relative;
            left: 90px;

          }

        }
      }

    }

    .section-founders {

      .container {

        .founders-contents-wrap {

          .profile-wrap {
            margin-bottom: 0;
            height: auto;
          }

        }

      }
    }

    .section-history {

      .container {

        .history-contents-wrap {
          height: 4200px;

          #nerds-timeline-wrap {
            $timeline-gap-width: 30px;
            $timeline-gap-height: 150px;
            $timeline-mx-margin: 20px;

            $timeline-stroke-color: #F39835;
            $timeline-block-color: #1E1E1E;
            $timeline-title-color: #fafafa;
            $timeline-text-color: #9B9B9B;
            $timeline-background-color: #1e1e1e;

            $timeline-date-size: 1.2em;
            $timeline-title-size: 0.5em;
            $timeline-text-size: 1em;

            $timeline-stroke-layer: -1;
            $timeline-contents-layer: 2;

            .start-end-circle {
              width: 100px;
              height: 100px;
              margin: 0 auto;

            }

            .center-stroke {
              height: 3900px;

            }


            .timeline-contents-wrap {

              .row {
                margin-bottom: $timeline-gap-height;

                .timeline-body-wrap {
                  text-align: left;
                  height: 100%;

                  .timeline-text-wrap {
                    text-align: left;
                  }

                  .timeline-date {
                    margin: 10px 5px;
                  }

                  .timeline-circle-wrap {
                    position: relative;
                    height: 100%;

                    .timeline-circle-stroke-wrap {
                      width: 300px;
                      height: 100px;
                      float: right;
                      position: relative;
                      overflow: hidden;

                      .timeline-stroke-point {
                        width: 10px;
                        height: 10px;
                        background-color: $timeline-stroke-color;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 50%;
                        right: 100%;
                        margin-top: -5px;
                        margin-right: -11px;

                      }

                      .timeline-circle-stroke {
                        width: 300px;
                        height: 1px;
                        background-color: $timeline-stroke-color;
                        position: absolute;
                        top: 100%;
                        left: 100%;
                        margin-top: -50px;
                        margin-left: -300px;

                      }

                    }

                    .circle-contents {
                      width: 100%;
                      float: left;
                      position: absolute;
                      top: 50%;

                      .logo-circle {
                        width: 100px;
                        height: 100px;
                        background-color: $timeline-block-color;
                        border: 1px solid $timeline-stroke-color;
                        border-radius: 50%;
                        display: table;
                        margin: 0;

                        span.history-logo-wrap {
                          display: table-cell;
                          vertical-align: middle;

                          img.history-logo-image {
                            display: block;
                            margin: 0 auto;
                            max-width: 50px;
                            min-width: 40px;
                          }

                        }

                      }

                      .timeline-text-wrap {
                        text-align: left;
                        padding: 10px 5px;

                        h4 {

                          .timeline-title {

                          }
                        }

                        p {

                          .timeline-text {

                          }
                        }

                      }

                    }

                  }

                  .photo-square-wrap {
                    width: 100%;
                    position: absolute;
                    .photo-square {
                      margin: 0;

                      span.history-photo-wrap {

                        img.history-photo-image {

                        }

                      }

                    }

                  }

                  .left-photo-square-wrap {
                    position: static;

                  }

                }

                .right-timeline-body-wrap {
                  float: right;
                  text-align: right;
                  height: 100%;
                  position: relative;


                  .photo-square-wrap {

                    .photo-square {
                      float: right;
                      right: 0;

                    }

                    .timeline-text-wrap-right {
                      text-align: right;
                      padding: 10px auto;

                    }

                  }

                  .timeline-circle-wrap {

                    .timeline-circle-stroke-wrap {
                      float: left;

                      .timeline-stroke-point {
                        right: 0;
                        margin-right: 1px;

                      }

                    }

                    .circle-contents {
                      float: right;

                      .logo-circle {
                        float: right;
                        right: 0;

                      }

                      .timeline-text-wrap {
                        text-align: right;
                        clear: both;

                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }
  }

  // desktop
  @media #{$extra-large-and-up} { // 1200


    }

}



