/* 주문상세 조회 */
.xans-myshop-orderhistorydetail .orderArea table .more { margin:0 0 0 10px; }
.xans-myshop-orderhistorydetail .orderArea table tfoot td { padding:15px 10px 17px; }
.xans-myshop-orderhistorydetail .orderArea table tfoot td .type { float:left; margin:6px 0 0; }
.xans-myshop-orderhistorydetail .orderArea table tfoot td .total { margin:0 0 0 15px; }
.xans-myshop-orderhistorydetail .orderArea table tfoot td .total span { letter-spacing:-1px; }
.xans-myshop-orderhistorydetail .orderArea table td .line { text-decoration:underline; }
.xans-myshop-orderhistorydetail .orderArea table td .product div.option,
.xans-myshop-orderhistorydetail .orderArea table td .product ul.option > li { margin:9px 0 0; line-height:16px; }
.xans-myshop-orderhistorydetail .orderArea table td .product ul.option > li > strong { display:block; }
.xans-myshop-orderhistorydetail .orderArea table td .product div.option span.file a,
.xans-myshop-orderhistorydetail .orderArea table td .product ul.option > li > span.file a { margin:0 0 0 4px; padding:0 0 0 11px; text-decoration:underline; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/common/ico_attach.gif") no-repeat 0 2px; }
.xans-myshop-orderhistorydetail .orderArea div.discount strong {font-weight:normal; }
.xans-myshop-orderhistorydetail .help { margin:5px 9px 0; padding:0 0 0 20px; line-height:1.4; border:0; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/ico_information.gif") no-repeat; }

/* 추가 */
.xans-myshop-orderhistorydetail .productList { padding:0; }
.xans-myshop-orderhistorydetail .productList > ul > li { display:table; table-layout:fixed; width:100%; border-top:1px solid #e9e9e9; }
.xans-myshop-orderhistorydetail .productList > ul > li:first-child { border-top:0; }
.xans-myshop-orderhistorydetail .productList > ul > li p,
.xans-myshop-orderhistorydetail .productList > ul > li ul { display:table-cell; }
.xans-myshop-orderhistorydetail .productList > ul > li .product { padding:9px 0 8px 10px; width:auto; }
.xans-myshop-orderhistorydetail .productList > ul > li .quantity { padding:9px 0 8px 0; width:79px !important; text-align:center; border:solid #e9e9e9; border-width:0 1px 0 1px; }
.xans-myshop-orderhistorydetail .productList > ul > li .price { padding:9px 0 8px 0; width:149px; text-align:center; }
.xans-myshop-orderhistorydetail .productList span.option { display:block; }
/* //추가 */

/* 총 주문금액 상세내역, 추가금액할인 내역보기 레이어 */
.xans-myshop-orderhistorydetail .totalDetail.layerTheme { display:none; width:300px; }
.xans-myshop-orderhistorydetail .totalDetail.layerTheme .content p { text-align:right; }
.xans-myshop-orderhistorydetail .totalDetail.layerTheme .content ul { line-height:25px; margin:8px 0 0; border-top:1px dotted #b0b1b3; }
.xans-myshop-orderhistorydetail .totalDetail.layerTheme .content li { overflow:hidden; padding:0 0 0 6px; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/common/ico_info2.gif") no-repeat 0 10px; *zoom:1; }
.xans-myshop-orderhistorydetail .totalDetail.layerTheme .content li:first-child { padding-top:6px; background-position:0 16px; }
.xans-myshop-orderhistorydetail .totalDetail.layerTheme .content li strong { float:left; }
.xans-myshop-orderhistorydetail .totalDetail.layerTheme .content li span { float:right; }
/* 취소/교환/반품 상세정보 레이어 */
.csDetail.layerTheme { position:fixed; top:50%; left:50%; z-index:100; width:450px; margin:-250px 0 0 -225px; }
.csDetail.layerTheme .content { overflow:auto; max-height:450px; }