.xans-myshop-orderhistoryhead {padding:25px; border:2px solid #eee;}
.xans-myshop-orderhistoryhead fieldset img { vertical-align:middle; }
.xans-myshop-orderhistoryhead fieldset span { margin:0 7px 0 8px; }
.xans-myshop-orderhistoryhead fieldset span a { margin:0 0 0 -5px; padding:0; border:0; }
.xans-myshop-orderhistoryhead fieldset button { width:14px; height:14px; margin:0 5px; }
.xans-myshop-orderhistoryhead .stateSelect { display:inline-block; padding:0 10px 0 0; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_util2.gif") no-repeat 100% 6px; }
.xans-myshop-orderhistoryhead #history_start_date,
.xans-myshop-orderhistoryhead #history_end_date{ width:72px; }