.mid-0.xans-mall-supplysearch { width:283px; position:relative; top:-24px; }
.mid-0.xans-mall-supplysearch fieldset { border:1px solid #d9d9d9; border-radius:2px; }
.mid-0.xans-mall-supplysearch fieldset .title { display:inline-block; left:15px; top:0; width:70px; height:34px; margin:0; line-height:34px; visibility:visible; }
.mid-0.xans-mall-supplysearch #searchSupply { width:160px; padding:0 0 0 85px; border:0; }