/* common */
.xans-instagramwidget-mobile { margin:0 auto; padding:20px 14px 14px; text-align:center; }
.xans-instagramwidget-mobile h2 { margin:0 0 10px; }
.xans-instagramwidget-mobile h2 a { font-size:17px; color:#1b1b1b; text-decoration:none; }
.xans-instagramwidget-mobile .idTag { position:relative; display:inline-block; margin:0 0 14px; padding:4px 10px; box-sizing:border-box; line-height:1; border-radius:30px; background:#3d3d3d; }
.xans-instagramwidget-mobile .idTag a { display:inline-block; color:#fffeff; font-size:10px; font-weight:normal; line-height:1; text-decoration:none; }

/* grid */
.xans-instagramwidget-mobile .thumb .grid1 li {width:100%;}
.xans-instagramwidget-mobile .thumb .grid2 li {width:50%;}
.xans-instagramwidget-mobile .thumb .grid3 li {width:33.33%;}
.xans-instagramwidget-mobile .thumb .grid4 li {width:25%;}
.xans-instagramwidget-mobile .thumb .grid5 li {width:20%;}
.xans-instagramwidget-mobile .thumb .grid6 li {width:16.66%;}
.xans-instagramwidget-mobile .thumb .grid7 li {width:14.28%;}
.xans-instagramwidget-mobile .thumb .grid8 li {width:12.5%;}
.xans-instagramwidget-mobile .thumb .grid9 li {width:11.11%;}
.xans-instagramwidget-mobile .thumb .grid10 li {width:10%;}
.xans-instagramwidget-mobile .thumb .grid11 li {width:9.09%;}
.xans-instagramwidget-mobile .thumb .grid12 li {width:8.33%;}
.xans-instagramwidget-mobile .thumb .grid13 li {width:7.69%;}
.xans-instagramwidget-mobile .thumb .grid14 li {width:7.14%;}
.xans-instagramwidget-mobile .thumb .grid15 li {width:6.66%;}
/* fade in / fade out */
.xans-instagramwidget-mobile .thumb.fadeIn li a img { opacity:0.4; filter:alpha(opacity=40); }
.xans-instagramwidget-mobile .thumb.fadeIn li a:hover img { filter:alpha(opacity=100); opacity:1; transition:opacity 0.8s; -webkit-transition:opacity 0.8s; -moz-transition:opacity 0.8s; -o-transition:opacity 0.8s; }
.xans-instagramwidget-mobile .thumb.fadeOut li a:hover img { filter:alpha(opacity=40); opacity:0.4; transition:opacity 0.8s; -webkit-transition:opacity 0.8s; -moz-transition:opacity 0.8s; -o-transition:opacity 0.8s; }

/* typeGrid */
.xans-instagramwidget-mobile.typeGrid .thumb { overflow:hidden; }
.xans-instagramwidget-mobile.typeGrid .thumb ul:after { content:""; display:block; clear:both; }
.xans-instagramwidget-mobile.typeGrid .thumb li { float:left; box-sizing:border-box; }
.xans-instagramwidget-mobile.typeGrid .thumb li a { position:relative; display:inline-block; box-sizing:border-box; background:#fff; }
.xans-instagramwidget-mobile.typeGrid .thumb li a img { max-width:100%; }
.xans-instagramwidget-mobile.typeGrid .thumb.border li a { border:1px solid #b7b7b7; }
.xans-instagramwidget-mobile.typeGrid .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:7px; top:7px; width:19px; height:20px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/mobile/ico_play.png") no-repeat 0 0; background-size:19px auto; }

/* typeBoard */
.xans-instagramwidget-mobile.typeBoard .thumb { font-size:0; line-height:0; }
.xans-instagramwidget-mobile.typeBoard .thumb li { display:inline-block; vertical-align:top; box-sizing:border-box; }
.xans-instagramwidget-mobile.typeBoard .thumb li .box { overflow:hidden; text-align:left; background:#fff; box-shadow:1px 1px 1px #dad8d8; -moz-box-shadow:1px 1px 1px #dad8d8; -webkit-box-shadow:1px 1px 1px #dad8d8; }
.xans-instagramwidget-mobile.typeBoard .thumb.border li .box { border-top:1px solid #e3e3e3; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; border-bottom:1px solid #bcbaba; }
.xans-instagramwidget-mobile.typeBoard .thumb li .img { position:relative; margin:5px 5px 0; display:block; font-size:0; }
.xans-instagramwidget-mobile.typeBoard .thumb li .img img { max-width:100%; }
.xans-instagramwidget-mobile.typeBoard .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:7px; top:7px; width:19px; height:20px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/mobile/ico_play.png") no-repeat 0 0; background-size:19px auto; }
.xans-instagramwidget-mobile.typeBoard .thumb li .writer { padding:9px; }
.xans-instagramwidget-mobile.typeBoard .thumb li .writer a { overflow:hidden; display:inline-block; width:20px; height:20px; vertical-align:middle; border-radius:14px; }
.xans-instagramwidget-mobile.typeBoard .thumb li .writer a img { width:100%; opacity:1; }
.xans-instagramwidget-mobile.typeBoard .thumb li .writer .user { margin:0 0 0 4px; font-size:12px; font-weight:bold; color:#000; vertical-align:middle; }
.xans-instagramwidget-mobile.typeBoard .thumb li .comment { position:relative; min-height:106px; padding:13px 14px 13px 26px; color:#757575; font-size:11px; line-height:20px; text-align:left; box-sizing:border-box; background:#f2f2f2; }
.xans-instagramwidget-mobile.typeBoard .thumb li .comment:before {content:""; position:absolute; left:13px; top:14px; width:7px; height:7px; border-bottom:1px dotted #8f8f8f; border-left:1px dotted #8f8f8f; }

/* typeScrolling */
.xans-instagramwidget-mobile.typeScrolling { padding:35px 15px 20px; }
.xans-instagramwidget-mobile.typeScrolling .thumb { overflow:hidden; position:relative; margin:0 auto; }
.xans-instagramwidget-mobile.typeScrolling .thumb .list { overflow:hidden; margin:0 17px; white-space:nowrap; }
.xans-instagramwidget-mobile.typeScrolling .thumb li { position:relative; margin:0 0 0 7px; display:inline-block; box-sizing:border-box; background:#fff; }
.xans-instagramwidget-mobile.typeScrolling .thumb li:first-child { margin-left:0; }
.xans-instagramwidget-mobile.typeScrolling .thumb li a { display:block; }
.xans-instagramwidget-mobile.typeScrolling .thumb li a img { width:100%; }
.xans-instagramwidget-mobile.typeScrolling .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:7px; top:7px; width:19px; height:20px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/mobile/ico_play.png") no-repeat 0 0; background-size:19px auto; }
.xans-instagramwidget-mobile.typeScrolling .thumb .button .prev,
.xans-instagramwidget-mobile.typeScrolling .thumb .button .next { position:absolute; top:50%; width:8px; height:13px; margin:-7px 0 0; font-size:0; line-height:0; text-indent:150%; cursor:pointer; border:0; background:url("//img.echosting.cafe24.com/apps/instagram-widget/mobile/btn_scrolling.png") no-repeat 0 0; background-size:auto 13px; }
.xans-instagramwidget-mobile.typeScrolling .thumb .button .prev { left:0; }
.xans-instagramwidget-mobile.typeScrolling .thumb .button .next { right:0; background-position:100% 0; }

/* typeSlideshow */
.xans-instagramwidget-mobile.typeSlideshow .thumb { position:relative; overflow:hidden; margin:0 auto; }
.xans-instagramwidget-mobile.typeSlideshow .thumb li { position:absolute; left:0; top:0; z-index:10; padding:7px; background:#fff; border-left:1px solid #dedddd; border-right:1px solid #dedddd; border-bottom:1px solid #b5b2b2; box-shadow:0px 1px 1px #cccbcb; -moz-box-shadow:0px 1px 1px #cccbcb; -webkit-box-shadow:0px 1px 1px #cccbcb; }
.xans-instagramwidget-mobile.typeSlideshow .thumb li a { display:block; }
.xans-instagramwidget-mobile.typeSlideshow .thumb li a img { max-width:100%; max-height:100%; }
.xans-instagramwidget-mobile.typeSlideshow .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:15px; top:15px; width:19px; height:20px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/mobile/ico_play.png") no-repeat 0 0; background-size:19px auto; }