.mid-0.xans-intro-memberpackage { width:528px; margin:50px auto; }
.mid-0.xans-intro-memberpackage h1 { padding:0 0 11px 3px; border-bottom:3px solid #000; }
.mid-0.xans-intro-memberpackage .info { margin:30px 0; text-align:center; font-size:12px; color:#565656; }
.mid-0.xans-intro-memberpackage .info strong { display:block; }
.mid-0.xans-intro-memberpackage .info p { margin:30px 0 0; }

.mid-0 .xans-member-login { padding:24px 40px 17px 40px; background:#f3f3f3; border-top:1px solid #ddd; border-bottom:3px solid #000; }
.mid-0 .xans-member-login h2 { padding:0 0 10px; font-size:12px; color:#000; }
.mid-0 .xans-member-login input { border:1px solid #ccc; border-top:1px solid #6d6d6d; border-left:1px solid #6d6d6d; }
.mid-0 .xans-member-login .login { width:370px; margin:0 auto; overflow:hidden; zoom:1; font-size:11px; }
.mid-0 .xans-member-login .login span { display:block; overflow:hidden; zoom:1; padding:1px 0 3px; }
.mid-0 .xans-member-login .login span strong { float:left; width:72px; padding:3px 0 0 13px; font-weight:normal; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/intro/ico_dot.gif") 0 50% no-repeat; }
.mid-0 .xans-member-login .login span input { width:200px; padding:3px; }
.mid-0 .xans-member-login .login .inputType { float:left; }
.mid-0 .xans-member-login .login .button { float:right; }
.mid-0 .xans-member-login .security { width:285px; margin:0 auto; padding:5px 0 0 85px; color:#8f8f91; font-size:11px; }

.mid-0 .xans-member-login .join { width:370px; margin:10px auto 0; text-align:center; font-size:11px; line-height:12px; }
.mid-0 .xans-member-login .join span { padding:0 15px 0 0; margin:0 6px 0 0; border-right:1px solid #769546; }
.mid-0 .xans-member-login .join a,
.mid-0 .xans-member-login .join a:hover { padding:0 17px 0 0; color:#769546; text-decoration:none; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/intro/ico_join.gif") right 50% no-repeat; }

.mid-0 .xans-member-login .join .joinus { display:block; padding:33px 0 0; margin:0; border:0; }
.mid-0 .xans-member-login .join .joinus img { vertical-align:middle; }
.mid-0 .xans-member-login .join .joinus a { padding:0 0 0 20px; background:none; }

.mid-0 .xans-member-login .snsArea { overflow:hidden; text-align:left; *zoom:1; }
.mid-0 .xans-member-login .snsArea li { float:left; width:176px; margin:7px 0 0 4px; }
.mid-0 .xans-member-login .snsArea a,
.mid-0 .xans-member-login .snsArea a:hover { padding:0; background:none; }