.mid-0.xans-member-changepasswd { border:1px solid #d7d5d5; padding:30px 0; text-align:center; }
.mid-0.xans-member-changepasswd .memberArea { width:500px; margin:30px auto; text-align:left; }
.mid-0.xans-member-changepasswd dl.desc { overflow:hidden; width:100%; }
.mid-0.xans-member-changepasswd dl.desc dt, .mid-0.xans-member-changepasswd dl.desc dd { float:left; margin:0 0 5px; }
.mid-0.xans-member-changepasswd dl.desc dt { width:25%; }
.mid-0.xans-member-changepasswd dl.desc dd { width:75%; }
.mid-0.xans-member-changepasswd dl.desc dd strong { line-height:20px; }
.mid-0.xans-member-changepasswd dl.desc dt .icoDot { display:inline-block; margin-top:-2px; width:5px; height:12px; vertical-align:middle; background:url('http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_title.gif') 0 50% no-repeat; }
.mid-0.xans-member-changepasswd #passwd,
.mid-0.xans-member-changepasswd #new_passwd,
.mid-0.xans-member-changepasswd #new_passwd_confirm { width:170px; }