.mid-0.xans-member-findidresult { border:1px solid #e9e9e9; padding:30px 0; line-height:150%; text-align:center; }
.mid-0.xans-member-findidresult .memberArea { width:355px; margin:30px auto; border:1px solid #d6d4d4; text-align:left; }
.mid-0.xans-member-findidresult .info { padding:10px 0 10px 35px; border-bottom:1px solid #e8e7e7; background:#fbfbfb url("http://img.echosting.cafe24.com/skin/base_ko_KR/member/ico_warning.gif") no-repeat 10px 13px; }
.mid-0.xans-member-findidresult .memberInfo { overflow:hidden; padding:10px; *zoom:1; }
.mid-0.xans-member-findidresult .memberInfo .thumb { float:left; width:70px; margin:0 20px 0 0; }
.mid-0.xans-member-findidresult .memberInfo .description { float:left; width:240px; }
.mid-0.xans-member-findidresult dl.desc { overflow:hidden width:100%; *zoom:1; }
.mid-0.xans-member-findidresult dl.desc dt, .mid-0.xans-member-findidresult dl.desc dd { float:left; margin:0 0 5px; }
.mid-0.xans-member-findidresult dl.desc dt { width:32%; }
.mid-0.xans-member-findidresult dl.desc dd { width:68%; }
.mid-0.xans-member-findidresult .copy { margin:40px 0 30px; }