$icomoon-font-path: "fonts" !default;

$ci-axisj: "\e901";
$ci-kakaotalk-logo-path1: "\e902";
$ci-kakaotalk-logo-path2: "\e903";
$ci-kakaotalk-logo-path3: "\e905";
$ci-kakaotalk-logo-path4: "\e906";
$ci-kakaotalk-logo-path5: "\e907";
$ci-kakaotalk-logo-path6: "\e908";
$ci-forward: "\e911";
$ci-keep: "\e90d";
$ci-pay: "\e90e";
$ci-rewind: "\e912";
$ci-stack: "\e90f";
$ci-use: "\e910";
$ci-map: "\e94b";
$ci-users: "\e972";
$ci-search2: "\e986";
$ci-facebook2: "\ea91";
$ci-tux: "\eabd";
$ci-android: "\eac0";
$ci-html-five: "\eae4";
$ci-new-message: "\e900";
$ci-looks_3: "\e3fb";
$ci-looks_one: "\e400";
$ci-looks_two: "\e401";
$ci-heart: "\e909";
$ci-search: "\e90a";
$ci-thumbs-up: "\e90b";
$ci-facebook: "\e90c";
$ci-heart2: "\e904";

