<!--@layout(/layout/99nerds/layout-default.html)-->
<!--@import(/layout/99nerds/layout-customer.html)-->

<div class="customer-main">

    <section class="section-company-info">

        <div class="contents-wrap">

            <div class="row">

                <div class="col s12 offset-m1 m2">
                    <div class="company-info-wrap">
                        <div class="icon-wrap">
                            <img class="contact-icon" src="/assets/images/sub-customer/contact-icon.png"/></div>
                        <h2>Contact</h2>
                        <p>
                            <a href="#" class="sns-link"><span class="ci ci-facebook2"></span></a>
                            <a href="#" class="sns-link"><span class="ci ci-kakaotalk-logo2"><span
                                    class="path1"></span><span class="path2"></span><span class="path3"></span><span
                                    class="path4"></span><span class="path5"></span><span
                                    class="path6"></span></span></a><br/>
                            02-2663-3039<br/>
                            010-7336-6183<br/>
                            <a class="mail_link" href="mailto: 99nerds@naver.com">99nerds@naver.com</a>
                        </p>
                    </div>
                </div>

                <div class="col s12 m2">
                    <div class="divider-stroke"></div>
                </div>

                <div class="col s12 m2">
                    <div class="company-info-wrap">
                        <div class="icon-wrap">
                            <img class="business-hour-icon" src="/assets/images/sub-customer/business-hour-icon.png"/></div>
                        <h2>Business hour</h2>
                        <p>
                            평일 : 10:00 - 18:00<br/>
                            점심 : 12:30 - 14:00<br/>
                            토/일/공휴일 휴무
                        </p>
                    </div>
                </div>

                <div class="col s12 m2">
                    <div class="divider-stroke"></div>
                </div>

                <div class="col s12 m2">
                    <div class="company-info-wrap">
                        <div class="icon-wrap">
                            <img class="bank-info-icon" src="/assets/images/sub-customer/bank-info-icon.png"/></div>
                        <h2>Bank info</h2>
                        <p>
                            신한은행 110-031-894662<br/>
                            예금주 : 주식회사 체커
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="section-consult">

        <div class="contents-wrap">

            <div class="row">

                <div class="col s12 m4">
                    <div class="consult-wrap">
                        <div class="icon-wrap">
                            <img class="faq-icon" src="/assets/images/sub-customer/faq.png"/></div>
                        <a href="#">FAQ <span class="ci ci-forward"></span></a>
                        <p>
                            먼저 검색을 해보세요.<br/>
                            원하시는 답변을 쉽게, 그리고<br/>
                            빨리 찾으실 수 있습니다.<br/>
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="consult-wrap">
                        <div class="icon-wrap">
                            <img class="qna-icon" src="/assets/images/sub-customer/qna.png"/></div>
                        <a href="#">QnA <span class="ci ci-forward"></span></a>
                        <p>
                            상품관련 서비스 상담 및 건의사항
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="consult-wrap">
                        <div class="icon-wrap">
                            <img style="width: 50px; height: auto; padding-top: 10px;" class="request-icon"
                                 src="/assets/images/sub-customer/request.png"/></div>
                        <a  href="#">Request <span class="ci ci-forward"></span></a>
                        <p>
                            원하는 스티커를 제작 요청 하시면<br/>
                            적극 검토하여 상품으로 등록해드립니다.
                        </p>
                    </div>
                </div>

            </div>


        </div>

    </section>


</div>
