<!--@layout(/layout/99nerds/layout-default.html)-->

<div class="sub-customer">

    <section class="section-customer-header">
        <div class="sub-header-wrap">
            <div class="container">

                <div class="row" style="margin-bottom:0">
                    <div class="col s6">
                        <h1 class="sub-customer-title">We support<br/><span><span
                                style="text-decoration: underline">every</span> customer;</span>
                        </h1>
                    </div>
                    <div class="col s6">
                        <img class="sub_customer_image" src="/assets/images/sub-customer/99nerds-customer.png"
                             alt="99nerds-customer-image"/></div>
                </div>
            </div>
        </div>
    </section>


</div>