<!DOCTYPE HTML>
<html lang="ko">
<head>
    <!--@import(/layout/99nerds/inc/head.html)-->
    <title>99NERDS</title>
</head>
<body>

<div id="ax-base-root">
    <header data-tag-header>
        <!--@import(/layout/99nerds/inc/nav.html)-->
        <div class="container">
            <div class="header-main-visual">
                <div class="row" style="height: 550px; margin-bottom: 0">

                    <div class="main-title-text">
                        <p>We support<img src="/assets/images/landing_page/main_visual/comet.png"
                                          alt="main-title-comet"/><br>
                            <span style="color: #F8E71C">opensource projects!_</span></p>
                    </div>

                    <div class="col m8 l8 xl8">
                        <div class="keyword-links-wrap">
                            <div class="col s2">
                                <div class="keyword-card type-0">
                                    <h3 class="keyword-card-title">Linux</h3>
                                    <div class="keyword-card-content">
                                        <a href="/product/search.html?banner_action=&keyword=linux">linux</a>
                                        <a href="/product/search.html?banner_action=&keyword=android">android</a>
                                        <a href="/product/search.html?banner_action=&keyword=android">android</a>
                                        <a href="/product/search.html?banner_action=&keyword=fedora">fedora</a>
                                        <a href="/product/search.html?banner_action=&keyword=ubuntu">ubuntu</a>
                                        <a href="/product/search.html?banner_action=&keyword=bash">bash</a>
                                        <a href="/product/search.html?banner_action=&keyword=rm-rf">rm-rf</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s2">
                                <div class="keyword-card type-1">
                                    <h3 class="keyword-card-title">Program</h3>
                                    <div class="keyword-card-content">
                                        <a href="/product/search.html?banner_action=&keyword=HTML5">HTML5</a>
                                        <a href="/product/search.html?banner_action=&keyword=CSS3">CSS3</a>
                                        <a href="/product/search.html?banner_action=&keyword=swift">swift</a>
                                        <a href="/product/search.html?banner_action=&keyword=python">python</a>
                                        <a href="/product/search.html?banner_action=&keyword=React">React</a>
                                        <a href="/product/search.html?banner_action=&keyword=Clojure">Clojure</a>
                                        <a href="/product/search.html?banner_action=&keyword=Angular">Angular</a>
                                        <a href="/product/search.html?banner_action=&keyword=Golang">Golang</a>
                                        <a href="/product/search.html?banner_action=&keyword=JS">JS</a>
                                        <a href="/product/search.html?banner_action=&keyword=C++">C++</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s2">
                                <div class="keyword-card type-2">
                                    <h3 class="keyword-card-title">software</h3>
                                    <div class="keyword-card-content">
                                        <a href="/product/search.html?banner_action=&keyword=Jenkins">Jenkins</a>
                                        <a href="/product/search.html?banner_action=&keyword=git">git</a>
                                        <a href="/product/search.html?banner_action=&keyword=Chrome">Chrome</a>
                                        <a href="/product/search.html?banner_action=&keyword=mariaDB">mariaDB</a>
                                        <a href="/product/search.html?banner_action=&keyword=google">google-drive</a>
                                        <a href="/product/search.html?banner_action=&keyword=gitlab">gitlab</a>
                                        <a href="/product/search.html?banner_action=&keyword=intellij">intellij</a>
                                        <a href="/product/search.html?banner_action=&keyword=mongodb">mongodb</a>
                                        <a href="/product/search.html?banner_action=&keyword=GNU">GNU</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s2">
                                <div class="keyword-card type-3">
                                    <h3 class="keyword-card-title">framework</h3>
                                    <div class="keyword-card-content">
                                        <a href="/product/search.html?banner_action=&keyword=AXISJ">AXISJ</a>
                                        <a href="/product/search.html?banner_action=&keyword=AXBOOT">AXBOOT</a>
                                        <a href="/product/search.html?banner_action=&keyword=django">django</a>
                                        <a href="/product/search.html?banner_action=&keyword=jQuery">jQuery</a>
                                        <a href="/product/search.html?banner_action=&keyword=Bootstrap">Bootstrap</a>
                                        <a href="/product/search.html?banner_action=&keyword=Flask">Flask</a>
                                        <a href="/product/search.html?banner_action=&keyword=NodeJS">NodeJS</a>
                                        <a href="/product/search.html?banner_action=&keyword=Sinatra">Sinatra</a>
                                        <a href="/product/search.html?banner_action=&keyword=ANP">ANP</a>
                                        <a href="/product/search.html?banner_action=&keyword=Spring">Spring</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s2">
                                <div class="keyword-card type-4">
                                    <h3 class="keyword-card-title">tool</h3>
                                    <div class="keyword-card-content">
                                        <a href="/product/search.html?banner_action=&keyword=gulp">gulp</a>
                                        <a href="/product/search.html?banner_action=&keyword=bower">bower</a>
                                        <a href="/product/search.html?banner_action=&keyword=Eclipse">Eclipse</a>
                                        <a href="/product/search.html?banner_action=&keyword=Yeoman">Yeoman</a>
                                        <a href="/product/search.html?banner_action=&keyword=npm">npm</a>
                                        <a href="/product/search.html?banner_action=&keyword=emacs">emacs</a>
                                        <a href="/product/search.html?banner_action=&keyword=Vim">Vim</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="main-image-wrap">
                        <img src="/assets/images/landing_page/main_visual/thomas-left.svg"
                             alt="main-image-thomas"/></div>

                    <div class="ctn-button"><a href="/product/list.html?cate_no=24">shop now <span style="color: #F39835;">&#62;</span></a></div>
                </div>

            </div>
        </div>
    </header>

    <!--@contents-->

    <!--@import(/_cia/import/footer.html)-->
</div>

<!--@import(/_cia/import/side-nav.html)-->
<!--@import(/_cia/import/js.html)-->
</body>
</html