<!DOCTYPE HTML>
<html lang="ko">
<head>
    <!--@import(/layout/99nerds/inc/head.html)-->
    <title>99NERDS</title>
</head>
<body>

<div id="ax-base-root">
    <header data-tag-header>
        <!--@import(/layout/99nerds/inc/nav.html)-->
        <div class="container">
            <div class="header-main-visual">
                <div class="row" style="height: 550px; margin-bottom: 0">


                    <div class="main-title-text">
                        <p>We support<img src="/assets/images/landing_page/main_visual/comet.png"
                                          alt="main-title-comet"/><br>
                            <span style="color: #F8E71C">opensource projects!_</span></p>
                    </div>



                    <div class="col m8 l8 xl8">
                        <div class="keyword-links-wrap">
                            <div class="col s2">

                                <div class="keyword-card type-0">
                                    <h3 class="keyword-card-title">Linux</h3>
                                    <div class="keyword-card-content">
                                        <a href="#">linux</a>
                                        <a href="#">android</a>
                                        <a href="#">android</a>
                                        <a href="#">fedora</a>
                                        <a href="#">ubuntu</a>
                                        <a href="#">bash</a>
                                        <a href="#">rm-rf.</a>
                                    </div>
                                </div>

                            </div>
                            <div class="col s2">

                                <div class="keyword-card type-1">
                                    <h3 class="keyword-card-title">Program</h3>
                                    <div class="keyword-card-content">
                                        <a href="#">HTML5</a>
                                        <a href="/product/css3/26/category/1/display/2/">CSS3</a>
                                        <a href="#">swift</a>
                                        <a href="#">python</a>
                                        <a href="#">React</a>
                                        <a href="#">Clojure</a>
                                        <a href="/product/angular/32/category/1/display/2/">Angular</a>
                                        <a href="#">Golang</a>
                                        <a href="#">Javascript</a>
                                        <a href="#">C++</a>
                                    </div>
                                </div>

                            </div>
                            <div class="col s2">

                                <div class="keyword-card type-2">
                                    <h3 class="keyword-card-title">software</h3>
                                    <div class="keyword-card-content">
                                        <a href="#">Jenkins</a>
                                        <a href="#">git</a>
                                        <a href="#">Chrome</a>
                                        <a href="#">mariaDB</a>
                                        <a href="#">google-drive</a>
                                        <a href="#">gitlab</a>
                                        <a href="#">intellij-tool</a>
                                        <a href="#">mongodb</a>
                                        <a href="#">GNU</a>
                                    </div>
                                </div>

                            </div>
                            <div class="col s2">

                                <div class="keyword-card type-3">
                                    <h3 class="keyword-card-title">framework</h3>
                                    <div class="keyword-card-content">
                                        <a href="#">AXISJ</a>
                                        <a href="#">AXBOOT</a>
                                        <a href="#">django</a>
                                        <a href="#">jQuery</a>
                                        <a href="#">Bootstrap</a>
                                        <a href="#">Flask</a>
                                        <a href="#">NodeJS</a>
                                        <a href="#">Sinatra</a>
                                        <a href="#">ANP</a>
                                        <a href="#">Spring</a>
                                    </div>
                                </div>

                            </div>
                            <div class="col s2">
                                <div class="keyword-card type-4">
                                    <h3 class="keyword-card-title">tool</h3>
                                    <div class="keyword-card-content">
                                        <a href="#">gulp</a>
                                        <a href="#">bower</a>
                                        <a href="#">Eclipse</a>
                                        <a href="#">Yeoman</a>
                                        <a href="#">npm</a>
                                        <a href="#">emacs</a>
                                        <a href="#">Vim</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="main-image-wrap">
                        <img src="/assets/images/landing_page/main_visual/thomas-left.svg"
                             alt="main-image-thomas"/></div>

                    <div class="ctn-button"><a href="/product/list.html?cate_no=24">shop now <span style="color: #F39835;">&#62;</span></a></div>
                </div>

            </div>
        </div>
    </header>

    <!--@contents-->

    <!--@import(/_cia/import/footer.html)-->
</div>

<!--@import(/_cia/import/side-nav.html)-->
<!--@import(/_cia/import/js.html)-->
</body>
</html