<!--@layout(/layout/99nerds/layout-default.html)-->

<div class="sub-product">

    <section class="section-product-header">
        <div class="sub-header-wrap">

            <div class="container">

                <div class="header-main-visual">
                    <div class="row" style="height: 550px; margin-bottom: 0">

                        <div class="col offset-s2 s8 ">
                            <div class="keyword-links-wrap">
                                <div class="col s2">

                                    <div class="keyword-card type-0">
                                        <h3 class="keyword-card-title">Linux</h3>
                                        <div class="keyword-card-content">
                                            <a href="#">linux</a>
                                            <a href="#">android</a>
                                            <a href="#">android</a>
                                            <a href="#">fedora</a>
                                            <a href="#">ubuntu</a>
                                            <a href="#">bash</a>
                                            <a href="#">rm-rf.</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col s2">

                                    <div class="keyword-card type-1">
                                        <h3 class="keyword-card-title">Program</h3>
                                        <div class="keyword-card-content">
                                            <a href="#">HTML5</a>
                                            <a href="#">CSS3</a>
                                            <a href="#">swift</a>
                                            <a href="#">python</a>
                                            <a href="#">React</a>
                                            <a href="#">Clojure</a>
                                            <a href="#">Angular</a>
                                            <a href="#">Golang</a>
                                            <a href="#">Javascript</a>
                                            <a href="#">C++</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col s2">

                                    <div class="keyword-card type-2">
                                        <h3 class="keyword-card-title">software</h3>
                                        <div class="keyword-card-content">
                                            <a href="#">Jenkins</a>
                                            <a href="#">git</a>
                                            <a href="#">Chrome</a>
                                            <a href="#">mariaDB</a>
                                            <a href="#">google-drive</a>
                                            <a href="#">gitlab</a>
                                            <a href="#">intellij-tool</a>
                                            <a href="#">mongodb</a>
                                            <a href="#">GNU</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col s2">

                                    <div class="keyword-card type-3">
                                        <h3 class="keyword-card-title">framework</h3>
                                        <div class="keyword-card-content">
                                            <a href="#">AXISJ</a>
                                            <a href="#">AXBOOT</a>
                                            <a href="#">django</a>
                                            <a href="#">jQuery</a>
                                            <a href="#">Bootstrap</a>
                                            <a href="#">Flask</a>
                                            <a href="#">NodeJS</a>
                                            <a href="#">Sinatra</a>
                                            <a href="#">ANP</a>
                                            <a href="#">Spring</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col s2">
                                    <div class="keyword-card type-4">
                                        <h3 class="keyword-card-title">tool</h3>
                                        <div class="keyword-card-content">
                                            <a href="#">gulp</a>
                                            <a href="#">bower</a>
                                            <a href="#">Eclipse</a>
                                            <a href="#">Yeoman</a>
                                            <a href="#">npm</a>
                                            <a href="#">emacs</a>
                                            <a href="#">Vim</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </section>


</div>