<!--@layout(/layout/99nerds/layout-default.html)-->


<div class="sub-notice">

    <section class="section-notice-header">

        <div class="sub-header-wrap">
            <div class="container">

                        <h1 class="sub-notice-title">
                            Here is<br/>
                            <span>the <span style="text-decoration: underline">notice</span>;</span>
                        </h1>

                        <img class="sub_notice_image" src="/assets/images/sub-notice/99nerds-notice.png"
                             alt="99nerds-notice-image"/></div>
                </div>
            </div>
        </div>

    </section>

    <!--@import(/_cia/import/board.html)-->

</div> 