<!--@layout(/layout/99nerds/layout-default.html)-->


<div class="sub-about">

    <section class="section-about-header">
        <div class="sub-header-wrap">
            <div class="container">

                <div class="row" style="margin-bottom:0">
                    <div class="col s6">
                        <h1 class="sub-about-title">information<br/><span><span
                                style="text-decoration: underline">about</span> 99NERDS;</span>
                        </h1>
                    </div>
                    <div class="col s6">
                        <img class="sub_about_image" src="/assets/images/sub-about/99nerds-about.png"
                             alt="99nerds-about-image"/></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-founders">
        <div class="container">

            <div class="row">
                <div class="col s12">
                    <div class="about-title-wrap">
                        <h2 class="about-title">
                            <span class="ci ci-users"></span></br>
                            The founders
                        </h2>
                        <div class="about-block-line"></div>
                        <h3 class="about-sub-title">
                            '구구너드'를 만든 사람들
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="founders-contents-wrap">

                    <div class="col s6 m3">
                        <div class="profile-wrap">
                            <div class="about-image-wrap">
                                <img class="about-image" src="/assets/images/sub-about/about-thomas.png"
                                     alt="sub-about-thomas"/></div>
                            <h4>Thomas</h4>
                            <p>CHEQUER Director<br/>
                                대한민국 최고 javascript engineer<br/><br/>

                                &bull;javascript UI 라이브러리 AXISJ 런칭<br/>
                                &bull;javascript UI 프레임워크 AX5UI 런칭<br/>
                                &bull;풀스택 웹 어플리케이션 프레임워크 AXBoot 런칭<br/>
                                &bull;그외 다양한 UI Component를<br/>
                                &bull;지속적으로 개발/공개 하고 있는<br/>
                                &bull;Web UI 오픈소스 개발자</p>

                        </div>
                    </div>

                    <div class="col s6 m3">
                        <div class="profile-wrap">

                            <div class="about-image-wrap">
                                <img class="about-image" src="/assets/images/sub-about/about-brant.png"
                                     alt="sub-about-brant"/></div>
                            <h4>Brant</h4>
                            <p>CHEQUER CEO<br/>
                                Java, Spring Framework를 즐겨쓰는<br/>
                                server engineer<br/><br/>

                                •Spring Evangelist<br/>
                                •Spring Boot in Action 번역<br/>
                                •카카오에서 커머스 서비스/플랫폼 개발자</p>

                        </div>
                    </div>

                    <div class="col s6 m3">
                        <div style="height: 300px;" class="profile-wrap">
                            <div class="about-image-wrap">
                                <img class="about-image" src="/assets/images/sub-about/about-bill.png"
                                     alt="sub-about-bill"/></div>
                            <h4>Bill</h4>
                            <p>구구너드 MD</p>
                        </div>
                    </div>

                    <div class="col s6 m3">
                        <div style="height: 300px;" class="profile-wrap">
                            <div class="about-image-wrap">
                                <img class="about-image" src="/assets/images/sub-about/about-cia.png"
                                     alt="sub-about-cia"/></div>
                            <h4>Cia</h4>
                            <p>구구너드 Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section-history">

        <div class="container">

            <div class="row">
                <div class="col s12">
                    <div class="about-title-wrap">
                        <h2 class="about-title" style="color: #F8E71C">
                            <span class="ci ci-map"></span></br>
                            Our history
                        </h2>
                        <div class="about-block-line" style="background-color: #F8E71C"></div>
                        <h3 class="about-sub-title">
                            '구구너드'의 탄생
                        </h3>
                        <img class="history-spaceship" src="/assets/images/sub-about/history-spaceship.png"/></div>
                </div>
            </div>

            <div class="history-contents-wrap">


                <div id="nerds-timeline-wrap">

                    <div class="row" style="margin-bottom: 0">
                        <div class="start-end-circle"><span>START</span></div>
                    </div>

                    <div class="row" style="margin-bottom: 0; ">
                        <div class="center-stroke"></div>
                        <img class="history-earth-image" src="/assets/images/sub-about/history-earth.png"
                             alt="history-earth"/></div>


                    <div class="end-circle start-end-circle"><span>NOW</span>
                    </div>

                    <div class="timeline-contents-wrap">

                        <!--left-->
                        <div class="row">
                            <div class="col s12 m6">

                                <div class="timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">15 Aug 2013</mark>
                                    </p>

                                    <div class="timeline-circle-wrap">

                                        <div class="timeline-circle-stroke-wrap">

                                            <div class="timeline-stroke-point"></div>
                                            <div class="timeline-circle-stroke"></div>

                                        </div>

                                        <div class="circle-contents">

                                            <div class="logo-circle">

                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             src="/assets/images/sub-about/axisj.png"
                                                                             alt="axisj"/></span>
                                            </div>

                                            <div class="timeline-text-wrap">
                                                <h4>
                                                    <mark class="timeline-title">AXISJ 런칭</mark>
                                                </h4>
                                                <p>
                                                    <mark class="timeline-text">
                                                        그 동안의 노하우를 기반으로<br/>
                                                        코드 리팩토링 및 고도화 UI를 개선하여<br/>
                                                        새롭게 런칭하였다.
                                                    </mark>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>


                        <!--right-->
                        <div class="row">
                            <div class="col s12 offset-m6 m6">

                                <div class="right-timeline-body-wrap timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">26 Oct 2013</mark>
                                    </p>
                                    <div class="photo-square">
                                        <span class="history-photo-wrap"><img class="history-photo-image"
                                                                              src="/assets/images/sub-about/history-daum-photo.png"
                                                                              alt="history-daum-photo"/></span>
                                    </div>
                                    <div class="timeline-square-stroke-wrap">

                                    </div>
                                    <div class="timeline-text-wrap">
                                        <h4>
                                            <mark class="timeline-title">DAUM 디브온 2013 행사 참여</mark>
                                        </h4>
                                        <p>
                                            <mark class="timeline-text">
                                                다음(Daum)에서 주최한<br/>
                                                개발자 행사에 선정되어부스에서 행사를 하였다.<br/>
                                                좋은 만남이 가득했던 현장.<br/>
                                                지금도 두근두근<br/>
                                            </mark>
                                        </p>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <!--left-->
                        <div class="row">
                            <div class="col s12 m6">

                                <div class="timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">25 Jun 2014</mark>
                                    </p>

                                    <div class="timeline-circle-wrap">

                                        <div class="timeline-circle-stroke-wrap">

                                            <div class="timeline-circle-stroke"></div>
                                            <div class="timeline-stroke-point"></div>

                                        </div>

                                        <div class="circle-contents">

                                            <div class="logo-circle">
                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             src="/assets/images/sub-about/axu.png"
                                                                             alt="axu"/></span>
                                            </div>

                                            <div class="timeline-text-wrap">
                                                <h4>
                                                    <mark class="timeline-title">악수 배럭스 런칭</mark>
                                                </h4>
                                                <p>
                                                    <mark class="timeline-text">
                                                        그 동안의 노하우를 기반으로<br/>
                                                        코드 리팩토링 및 고도화 UI를 개선하여<br/>
                                                        새롭게 런칭하였다.
                                                    </mark>
                                                </p>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col s12 m6">

                                <div class="timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">01 Sep 2014</mark>
                                    </p>

                                    <div class="timeline-circle-wrap">

                                        <div class="timeline-circle-stroke-wrap">
                                            <div class="timeline-circle-stroke"></div>
                                            <div class="timeline-stroke-point"></div>
                                        </div>

                                        <div class="circle-contents">

                                            <div class="logo-circle">

                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             src="/assets/images/sub-about/axgate.png"
                                                                             alt="axgate"/></span>
                                            </div>

                                            <div class="timeline-text-wrap">
                                                <h4>
                                                    <mark class="timeline-title">액스게이트 개발</mark>
                                                </h4>
                                                <p>
                                                    <mark class="timeline-text">
                                                        AXISJ와 SQLGate는 함께 웹브라우저용 DB 쿼리툴<br/>
                                                        프로토타입을 제작하였다.<br/>
                                                        AXISJ의 무한한 가능성을 엿볼 수 있었다.<br/>
                                                    </mark>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>


                        <!--right-->
                        <div class="row">
                            <div class="col s12 offset-m6 m6">

                                <div class="right-timeline-body-wrap timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">11 Nov 2014</mark>
                                    </p>

                                    <div class="timeline-circle-wrap">

                                        <div class="timeline-circle-stroke-wrap">
                                            <div class="timeline-circle-stroke"></div>
                                            <div class="timeline-stroke-point"></div>
                                        </div>

                                        <div class="circle-contents">
                                            <div class="logo-circle">
                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             src="/assets/images/sub-about/axicon.png"
                                                                             alt="axicon"/></span>
                                            </div>

                                            <div class="timeline-text-wrap">
                                                <h4>
                                                    <mark class="timeline-title">액시콘 런칭</mark>
                                                </h4>
                                                <p>
                                                    <mark class="timeline-text">
                                                        오픈 소스 웹폰트 아이콘 -<br/>
                                                        당신의 웹애플리케이션에 날개를 달아주세요
                                                    </mark>
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col s12 offset-m6 m6">

                                <div class="right-timeline-body-wrap timeline-body-wrap">

                                    <p>
                                        <mark class="timeline-date">20 Nov 2014</mark>
                                    </p>

                                    <div class="timeline-circle-wrap">

                                        <div class="timeline-circle-stroke-wrap">
                                            <div class="timeline-circle-stroke"></div>
                                            <div class="timeline-stroke-point"></div>
                                        </div>

                                        <div class="circle-contents">

                                            <div class="logo-circle">
                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             src="/assets/images/sub-about/x-json.png"
                                                                             alt="x-json"/></span>
                                            </div>

                                            <div class="timeline-text-wrap">
                                                <h4>
                                                    <mark class="timeline-title">X-JSON 런칭</mark>
                                                </h4>
                                                <p>
                                                    <mark class="timeline-text">
                                                        세상에서 가장 빠른 JSON 뷰어
                                                    </mark>
                                                </p>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>


                        <!--left-->
                        <div class="row">
                            <div class="col s12 m6">

                                <div class="right timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">16 Dec 2014</mark>
                                    </p>
                                    <div class="photo-square">
                                        <span class="history-photo-wrap"><img class="history-photo-image"
                                                                              src="/assets/images/sub-about/history-k3-photo.png"
                                                                              alt="history-k3-photo"/></span>
                                    </div>
                                    <div class="timeline-square-stroke-wrap">

                                    </div>
                                    <div class="timeline-text-wrap">
                                        <h4>
                                            <mark class="timeline-title">슈퍼 개발자K3 우승</mark>
                                        </h4>
                                        <p>
                                            <mark class="timeline-text">
                                                안전행정부 주최 2014 전자정부프레임워크<br/>
                                                기능공모전
                                            </mark>
                                        </p>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <!--right-->
                        <div class="row">
                            <div class="col s12 offset-m6 m6">

                                <div class="right-timeline-body-wrap timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">18 Apr 2016</mark>
                                    </p>
                                    <div class="photo-square">
                                        <span class="history-photo-wrap"><img class="history-photo-image"
                                                                              src="/assets/images/sub-about/history-k3-photo.png"
                                                                              alt="history-k3-photo"/></span>
                                    </div>
                                    <div class="timeline-square-stroke-wrap">

                                    </div>
                                    <div class="timeline-text-wrap">
                                        <h4>
                                            <mark class="timeline-title">
                                                공개 SW 해커톤 AX5<br/>
                                                최우수상 수상
                                            </mark>
                                        </h4>
                                        <p>
                                            <mark class="timeline-text">
                                                안전행정부 주최 2014 전자정부프레임워크<br/>
                                                기능공모전
                                            </mark>
                                        </p>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <!--left-->
                        <div class="row">
                            <div class="col s12 m6">

                                <div class="timeline-body-wrap">

                                    <p>
                                        <mark class="timeline-date">15 May 2016</mark>
                                    </p>

                                    <div class="timeline-circle-wrap">

                                        <div class="timeline-circle-stroke-wrap">
                                            <div class="timeline-circle-stroke"></div>
                                            <div class="timeline-stroke-point"></div>
                                        </div>

                                        <div class="circle-contents">

                                            <div class="logo-circle">
                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             src="/assets/images/sub-about/axboot.png"
                                                                             alt="axboot"/></span>
                                            </div>
                                            <div class="logo-circle" style="margin-top: 15px;">
                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             src="/assets/images/sub-about/ax5.png"
                                                                             alt="ax5"/></span>
                                            </div>

                                            <div class="timeline-text-wrap">
                                                <h4>
                                                    <mark class="timeline-title">AXBoot, AX5런칭</mark>
                                                </h4>
                                            </div>

                                        </div>

                                    </div>


                                </div>


                            </div>

                        </div>

                        <!--right-->
                        <div class="row">
                            <div class="col s12 m6 offset-m6">

                                <div class="right-timeline-body-wrap timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">11 Nov 2014</mark>
                                    </p>

                                    <div class="timeline-circle-wrap">

                                        <div class="timeline-circle-stroke-wrap">
                                            <div class="timeline-circle-stroke"></div>
                                            <div class="timeline-stroke-point"></div>
                                        </div>

                                        <div class="circle-contents">

                                            <div class="logo-circle">
                                        <span class="history-logo-wrap"><img class="history-logo-image"
                                                                             style="max-width: 100%; min-width: 100%;"
                                                                             src="/assets/images/sub-about/history-bill-photo.png"
                                                                             alt="history-bill-photo"/></span>
                                            </div>

                                            <div class="timeline-text-wrap">
                                                <h4>
                                                    <mark class="timeline-title">Bill을 만나다</mark>
                                                </h4>
                                                <p>
                                                    <mark class="timeline-text">
                                                        AXISJ 만남 속에서<br/>
                                                        Thomas의 스티커 욕심은 열정이 되었고,<br/>
                                                        Bill의 목표가 되었다.<br/>
                                                        그렇게 99NERDS는 시작되었고,<br/>
                                                        더 많은 오픈소스를 후원하기 위한<br/>
                                                        콘텐츠들을 만들어 낼 것이다.<br/>
                                                    </mark>
                                                </p>
                                            </div>

                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>

                        <!--left-->
                        <div class="row">
                            <div class="col s12 m6">

                                <div class="timeline-body-wrap">
                                    <p>
                                        <mark class="timeline-date">16 Dec 2014</mark>
                                    </p>
                                    <div class="photo-square">
                                        <span class="history-photo-wrap"><img class="history-photo-image"
                                                                              src="/assets/images/sub-about/history-axboot-photo.png"
                                                                              alt="history-axboot-photo"/></span>
                                    </div>
                                    <div class="timeline-square-stroke-wrap">

                                    </div>
                                    <div class="timeline-text-wrap">
                                        <h4>
                                            <mark class="timeline-title">제10회 공개소프트웨어<br/>
                                                개발자대회 금상<br/>
                                                - AXBoot
                                            </mark>
                                        </h4>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </section>

    <section class="section-axisj-services">
        <div class="container">

            <div class="row">

                <div class="col s12">
                    <div class="about-title-wrap">
                        <h2 class="about-title">
                            <span class="ci ci-axisj"></span><br/>
                            AXISJ Services
                        </h2>
                        <div class="about-block-line"></div>
                        <h3 class="about-sub-title">
                            AXISJ의 모든 서비스
                        </h3>
                    </div>
                </div>


                <div class="col s12">
                    <div class="service-title-image-wrap">
                        <img class="service-title-image" src="/assets/images/landing_page/main_visual/thomas-right.svg"
                             alt="service-title-image"/></div>
                </div>


                <div class="col s6 m6 l3">

                    <div class="service-link-card">

                        <div class="service-logo-image-wrap">
                            <img class="service-logo-image" src="/assets/images/sub-about/axboot.png"
                                 alt="service-logo-image"/></div>
                        <div class="service-link-text-wrap">
                            <h4 class="service-link-title">
                                AXBoot
                            </h4>
                            <p class="service-link-text">
                                풀스택 웹애플리케이션<br/>
                                개발 프레임워크
                            </p>
                        </div>

                        <a href="#" class="service-link-button">
                            <span>Go  </span><span class="ci ci-forward"></span>
                        </a>
                    </div>

                </div>

                <div class="col s6 m6 l3">

                    <div class="service-link-card">

                        <div class="service-logo-image-wrap">
                            <img class="service-logo-image"
                                 src="/assets/images/sub-about/ax5.png"
                                 alt="service-logo-image"/></div>
                        <div class="service-link-text-wrap">
                            <h4 class="service-link-title">
                                AX5UI
                            </h4>
                            <p class="service-link-text">
                                HTML5 웹표준<br/>
                                Javascript UI 컴포넌트
                            </p>
                        </div>
                        <a href="#" class="service-link-button">
                            <span>Go  </span><span class="ci ci-forward"></span>
                        </a>
                    </div>

                </div>

                <div class="col s6 m6 l3">

                    <div class="service-link-card">

                        <div class="service-logo-image-wrap">
                            <img class="service-logo-image" src="/assets/images/sub-about/99nerds.png"
                                 alt="service-logo-image"/></div>
                        <div class="service-link-text-wrap">
                            <h4 class="service-link-title">
                                99NERDS
                            </h4>
                            <p class="service-link-text">
                                개발자를 위한 쇼핑몰
                            </p>
                        </div>
                        <a href="#" class="service-link-button">
                            <span>Go  </span><span class="ci ci-forward"></span>
                        </a>
                    </div>

                </div>

                <div class="col s6 m6 l3">

                    <div class="service-link-card">

                        <div class="service-logo-image-wrap">
                            <img class="service-logo-image"
                                 src="/assets/images/sub-about/axicon.png"
                                 alt="service-logo-image"/></div>
                        <div class="service-link-text-wrap">
                            <h4 class="service-link-title">
                                AXICON
                            </h4>
                            <p class="service-link-text">
                                웹 아이콘 폰트 패키지
                            </p>
                        </div>
                        <a href="#" class="service-link-button">
                            <span>Go  </span><span class="ci ci-forward"></span>
                        </a>
                    </div>

                </div>


            </div>
        </div>
    </section>

</div>