
.page-footer {
  background: #1E1E1E;

  .container {
    padding: 20px 0;
    font-size: 1.1em;
    color: #666;

    .col {

      border: 1px solid #1E1E1E;

      .footer-logo-wrap {
        margin-top: 0.82rem;

        img {
          width: 80%;
          margin: 0 auto;
        }
      }

      h5.company-info-title {
        color: #ffffff;
        font-size: 14px;
        font-family: "BM DoHyeon OTF", sans-serif;
        font-weight: 100;
        line-height: 16px;

      }

      .footer-vertical-line {
        width: 1px;
        height: 325px;
        margin: 0 auto;
        background-color: #417505;
      }

      p.company-info-contents {
        color: #fafafa;
        opacity: 50%;
        font-size: 11px;
        font-family: nanum NanumSquareOTF sans-serif;
        font-weight: 100;
        margin: 15px 0;
        line-height: 20px;
      }

      h5.footer-nav-title {
        font-family: 'Overpass Mono', monospace, sans-serif;
        font-size: 13px;
        color: #F8E71C;
      }

      ul.footer-nav-list {
        -webkit-margin-before: 20px;
        -webkit-margin-after: 20px;
        line-height: 28px;
        font-size: 13px;

        a {
          color: #fafafa;
          font-family: NanumSquareOTF;
          font-weight: 100;
        }

      }

    }
  }

  .footer-copyright {
    background: #000000;
    padding: 0;
    .container {
      text-align: center;
      a {
        color: #9B9B9B;
        font-family: 'Overpass Mono', monospace, sans-serif;
        font-weight: 100;
        font-size: 10px;
      }

    }
  }
}
