
.page-footer {
  background: #1E1E1E;
  padding-top: 0;
  .container {
    padding: 50px 30px;
    margin: 0 auto;
    color: #666;

    .footer-logo-wrap {
      margin-top: 0.82rem;

      img {
        width: 15%;
        display: block;
        margin: 0 auto;
      }
    }

    .company-info-wrap {
      display: block;
      text-align: center;

      h5.company-info-title {
        color: #ffffff;
        font-size: 14px;
        font-family: "BM DoHyeon OTF", sans-serif;
        font-weight: 100;
        line-height: 16px;
        padding: 20px 0;
        margin: 0;

      }

      p.company-info-contents {
        color: #fafafa;
        font-size: 11px;
        font-family: nanum NanumSquareOTF sans-serif;
        font-weight: 100;
        padding: 15px 0;
        margin: 0;
        line-height: 20px;
      }

    }

    .footer-vertical-line {
      width: 80%;
      height: 1px;
      margin: 100px auto;
      background-color: #417505;

    }

    .footer-nav {
      width: 90%;
      margin: 0 auto;

      h5.footer-nav-title {
        font-family: 'Overpass Mono', monospace, sans-serif;
        font-size: 11px;
        color: #F8E71C;
        text-align: center;
        line-height: 1.5em;
      }

      ul.footer-nav-list {
        -webkit-margin-before: 20px;
        -webkit-margin-after: 20px;
        line-height: 28px;
        font-size: 9px;
        text-align: center;

        li.contact-link {

          font-size: 18px;

        }

        a {
          color: #fafafa;
          font-family: NanumSquareOTF;
          font-weight: 100;
        }

      }

    }

  }

  .footer-copyright {
    background-color: #000000;

    .container {
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      a {
        color: #9B9B9B;
        font-family: 'Overpass Mono', monospace, sans-serif;
        font-weight: 100;
        font-size: 8px;
      }

    }

  }


  //mobile
  @media #{$medium-and-up} { // 640

    .container {
      padding: 50px 0;

      .footer-logo-wrap {
        img {
          width: 10%;
        }
      }

      .company-info-wrap {

        h5.company-info-title {
          padding: 10px 0;
          font-size: 18px;
          font-family: "BM DoHyeon OTF", sans-serif;
          font-weight: 100;
          line-height: 16px;

        }

        p.company-info-contents {
          padding: 10px 0;
          font-size: 15px;
          margin: 15px 0;
          line-height: 26px;
        }
      }

      .footer-vertical-line {

        width: 80%;
      }

      .footer-nav {

        h5.footer-nav-title {
          font-size: 14px;
        }

        ul.footer-nav-list {

          font-size: 13px;

        }
      }
    }

    .footer-copyright {
      background: #000000;
      padding: 0;

      .container {
        text-align: center;
        a {
          color: #9B9B9B;
          font-family: 'Overpass Mono', monospace, sans-serif;
          font-weight: 100;
          font-size: 10px;
        }

      }

    }

  }


  // table
  @media #{$large-and-up} { // 993

    .container {
      padding: 50px 0 0;

      .footer-logo-wrap {

        img {
          width: 100%;
        }
      }

      .company-info-wrap {
        margin-left: 15px;
        text-align: left;

        h5.company-info-title {

          font-size: 14px;

        }

        p.company-info-contents {
          font-size: 11px;
          font-weight: 100;
          line-height: 20px;
        }

      }

      .footer-vertical-line-wrap {
        height: 500px;

        .footer-vertical-line {
          margin-top: 10px;
          float: right;
          width: 1px;
          height: 90%;


        }

      }

      h5.footer-nav-title {
        font-family: 'Overpass Mono', monospace, sans-serif;
        font-size: 13px;
        color: #F8E71C;
      }

      ul.footer-nav-list {
        -webkit-margin-before: 20px;
        -webkit-margin-after: 20px;
        line-height: 28px;
        font-size: 13px;

        a {
          color: #fafafa;
          font-family: NanumSquareOTF;
          font-weight: 100;
        }

      }

    }

    .footer-copyright {
      background: #000000;
      padding: 0;

      .container {
        text-align: center;
        a {
          color: #9B9B9B;
          font-family: 'Overpass Mono', monospace, sans-serif;
          font-weight: 100;
          font-size: 10px;
        }

      }

      .tablet-br {
        display: block;
      }
    }

  }


  // desktop
  @media #{$extra-large-and-up} { // 1200



      .container {
        padding: 50px 0 0;

        .footer-logo-wrap {
          margin-top: 0.82rem;

          img {
            width: 80%;
            margin: 0 auto;
          }
        }

        h5.company-info-title {
          color: #ffffff;
          font-size: 14px;
          font-family: "BM DoHyeon OTF", sans-serif;
          font-weight: 100;
          line-height: 16px;

        }

        .footer-vertical-line-wrap {


          .footer-vertical-line {
            height: 80%;
          }

        }


        p.company-info-contents {
          color: #fafafa;
          opacity: 50%;
          font-size: 11px;
          font-family: nanum NanumSquareOTF sans-serif;
          font-weight: 100;
          margin: 15px 0;
          line-height: 20px;
        }

        h5.footer-nav-title {
          font-family: 'Overpass Mono', monospace, sans-serif;
          font-size: 13px;
          color: #F8E71C;
        }

        ul.footer-nav-list {
          -webkit-margin-before: 20px;
          -webkit-margin-after: 20px;
          line-height: 28px;
          font-size: 13px;

          a {
            color: #fafafa;
            font-family: NanumSquareOTF;
            font-weight: 100;
          }

        }


      }

      .footer-copyright {
        background: #000000;
        padding: 0;

        .container {
          text-align: center;
          a {
            color: #9B9B9B;
            font-family: 'Overpass Mono', monospace, sans-serif;
            font-weight: 100;
            font-size: 10px;
          }

        }

        .tablet-br {
          display: inline;
        }
      }








  }


}
