.header-nav {

  @include transition(background 0.3s);
  position: relative;
  width: 100%;
  z-index: 2;
  height: 65px;
  line-height: 65px;

  //background-color: #161616;
  background-color: #1E1E1E;
  box-shadow: none;

  .nav-wrapper {

    position: relative;
    bottom: 50px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;


    .main-nav {

      > li {
        line-height: 40px;
        > a {
          display: none;
          height: 50px;
        }
        &.side-drawer a {
          display: block;
          padding: 0;

          span {
            font-size: 40px;
          }

        }
      }
    }

    .searchBar {

      float: right;
      width: 40px;
      height: 40px;


      //margin: 15px 0;
      a.searchIcon {
        display: block;
        line-height: 32px;

        span.ci-search2 {

          font-size: 32px;
        }
      }
      & input {
        display: none;
        border: none;
        outline: none;
        width: 125px;
        height: 15px;
        float: right;
        text-align: left;
        font-size: 10px;
        color: #7ED321;
        box-shadow: none;
      }
    }

    .btn-download {
      /* Rectangle 2: */
      //border: 2px solid #50E3C2;
      //border-radius: 30px;
      display: none;
      font-size: 16px;
      color: #54ACD2;
      letter-spacing: 0;
      padding: 10px 15px;

      &:hover {
        color: #50E3C2;
        border: 2px solid #54ACD2;
      }
    }

    .dropdown-content {
      background: rgba(0, 0, 0, 0.8);
      li {

        &:hover, &.active, &.selected {
          background: none;
        }

        &.active.selected {
          background: none;
        }

        &.divider {
          background: #000;
        }

        a {
          color: darken(#54ACD2, 10%);
          font-size: 1.1em;
          // font-weight: 500;
          &:hover {
            color: darken(#50E3C2, 10%);
          }
        }
      }

      &#update-history-dropdown {
        min-width: 150px;
      }
      &#account-dropdown {
        min-width: 150px;
      }
      &#store-dropdown {
        min-width: 150px;
      }
      &#download-dropdown {
        min-width: 150px;
      }

      &#login-dropdown {
        min-width: 120px;
      }
    }

  }

}

//mobile
@media #{$medium-and-up} { // 640

  .header-nav {



    @include transition(background 0.3s);
    position: relative;
    width: 100%;
    z-index: 2;
    height: 65px;
    line-height: 65px;

    //background-color: #161616;
    background-color: #1E1E1E;
    box-shadow: none;

    .nav-wrapper {

      position: relative;
      bottom: 50px;
      margin: 0 auto;
      text-align: center;
      vertical-align: middle;


      .main-nav {

        > li {
          line-height: 40px;
          > a {
            display: none;
            height: 50px;
          }
          &.side-drawer a {
            display: block;
            padding: 0;

            span {
              font-size: 40px;
            }

          }
        }
      }

      .searchBar {

        float: right;
        width: 40px;
        height: 40px;


        //margin: 15px 0;
        a.searchIcon {
          display: block;
          line-height: 32px;

          span.ci-search2 {

            font-size: 32px;
          }
        }
        & input {
          display: none;
          border: none;
          outline: none;
          width: 125px;
          height: 15px;
          float: right;
          text-align: left;
          font-size: 10px;
          color: #7ED321;
          box-shadow: none;
        }
      }

      .btn-download {
        /* Rectangle 2: */
        //border: 2px solid #50E3C2;
        //border-radius: 30px;
        display: none;
        font-size: 16px;
        color: #54ACD2;
        letter-spacing: 0;
        padding: 10px 15px;

        &:hover {
          color: #50E3C2;
          border: 2px solid #54ACD2;
        }
      }

      .dropdown-content {
        background: rgba(0, 0, 0, 0.8);
        li {

          &:hover, &.active, &.selected {
            background: none;
          }

          &.active.selected {
            background: none;
          }

          &.divider {
            background: #000;
          }

          a {
            color: darken(#54ACD2, 10%);
            font-size: 1.1em;
            // font-weight: 500;
            &:hover {
              color: darken(#50E3C2, 10%);
            }
          }
        }

        &#update-history-dropdown {
          min-width: 150px;
        }
        &#account-dropdown {
          min-width: 150px;
        }
        &#store-dropdown {
          min-width: 150px;
        }
        &#download-dropdown {
          min-width: 150px;
        }

        &#login-dropdown {
          min-width: 120px;
        }
      }

    }

  }

}

// table
@media #{$large-and-up} { // 993

  .header-nav {
    @include transition(background 0.3s);
    position: relative;
    width: 100%;
    z-index: 2;
    height: 65px;
    line-height: 65px;

    //background-color: #161616;
    background-color: #1E1E1E;
    box-shadow: none;

    .nav-wrapper {
      > ul {
        > li {
          a {
            margin: 15px 0;
            padding: 0 25px;
          }
        }

        &.main-nav {
          > li {
            > a {
              font-family: 'Overpass Mono', monospace;
              font-size: 13px;
              font-weight: 400;
              line-height: 30px;

              &:hover:after {
                content: '';
                width: 100%;
                display: block;
                border-bottom: 3px solid #F8E71C;
              }
            }
            &.side-drawer a {
              padding-left: 0;
              font-size: 24px;
              &:hover:after {
                display: none;
              }
            }
          }
        }
      }
      .searchBar {
        margin: 12px 0 18px 0;
        float: right;
        width: 180px;
        height: 35px;
        border: 1px solid #7ED321;
        border-radius: 20px;
        padding: 10px 15px;
        //margin: 15px 0;
        a.searchIcon {
          display: block;
          float: left;
          line-height: 0;
          span.ci-search2 {
            font-size: 15px;
            color: #7ED321;
          }
        }
        & input {
          border: none;
          outline: none;
          width: 125px;
          height: 15px;
          float: right;
          text-align: left;
          font-size: 10px;
          color: #7ED321;
          box-shadow: none;
        }
      }

      .btn-download {
        /* Rectangle 2: */
        //border: 2px solid #50E3C2;
        //border-radius: 30px;
        display: none;
        font-size: 16px;
        color: #54ACD2;
        letter-spacing: 0;
        padding: 10px 15px;

        &:hover {
          color: #50E3C2;
          border: 2px solid #54ACD2;
        }
      }

      .dropdown-content {
        background: rgba(0, 0, 0, 0.8);
        li {

          &:hover, &.active, &.selected {
            background: none;
          }

          &.active.selected {
            background: none;
          }

          &.divider {
            background: #000;
          }

          a {
            color: darken(#54ACD2, 10%);
            font-size: 1.1em;
            // font-weight: 500;
            &:hover {
              color: darken(#50E3C2, 10%);
            }
          }
        }

        &#update-history-dropdown {
          min-width: 150px;
        }
        &#account-dropdown {
          min-width: 150px;
        }
        &#store-dropdown {
          min-width: 150px;
        }
        &#download-dropdown {
          min-width: 150px;
        }

        &#login-dropdown {
          min-width: 120px;
        }
      }

    }

  }

}

// desktop
@media #{$extra-large-and-up} { // 1200

  .header-nav {
    @include transition(background 0.3s);
    position: relative;
    width: 100%;
    z-index: 2;
    height: 65px;
    line-height: 65px;

    //background-color: #161616;
    background-color: #1E1E1E;
    box-shadow: none;

    .nav-wrapper {
      > ul {
        > li {
          a {
            margin: 15px 0;
            padding: 0 25px;
          }
        }

        &.main-nav {
          > li {
            > a {
              font-family: 'Overpass Mono', monospace;
              font-size: 13px;
              font-weight: 400;
              line-height: 30px;

              &:hover:after {
                content: '';
                width: 100%;
                display: block;
                border-bottom: 3px solid #F8E71C;
              }
            }
            &.side-drawer a {
              padding-left: 0;
              font-size: 24px;
              &:hover:after {
                display: none;
              }
            }
          }
        }
      }
      .searchBar {
        margin: 12px 0 18px 0;
        float: right;
        width: 180px;
        height: 35px;
        border: 1px solid #7ED321;
        border-radius: 20px;
        padding: 10px 15px;
        //margin: 15px 0;
        a.searchIcon {
          display: block;
          float: left;
          line-height: 0;
          span.ci-search2 {
            font-size: 15px;
            color: #7ED321;
          }
        }
        & input {
          border: none;
          outline: none;
          width: 125px;
          height: 15px;
          float: right;
          text-align: left;
          font-size: 10px;
          color: #7ED321;
          box-shadow: none;
        }
      }

      .btn-download {
        /* Rectangle 2: */
        //border: 2px solid #50E3C2;
        //border-radius: 30px;
        display: none;
        font-size: 16px;
        color: #54ACD2;
        letter-spacing: 0;
        padding: 10px 15px;

        &:hover {
          color: #50E3C2;
          border: 2px solid #54ACD2;
        }
      }

      .dropdown-content {
        background: rgba(0, 0, 0, 0.8);
        li {

          &:hover, &.active, &.selected {
            background: none;
          }

          &.active.selected {
            background: none;
          }

          &.divider {
            background: #000;
          }

          a {
            color: darken(#54ACD2, 10%);
            font-size: 1.1em;
            // font-weight: 500;
            &:hover {
              color: darken(#50E3C2, 10%);
            }
          }
        }

        &#update-history-dropdown {
          min-width: 150px;
        }
        &#account-dropdown {
          min-width: 150px;
        }
        &#store-dropdown {
          min-width: 150px;
        }
        &#download-dropdown {
          min-width: 150px;
        }

        &#login-dropdown {
          min-width: 120px;
        }
      }

    }

  }

}

