
.header-main-visual {
  color: #fafafa;
  background-color: #1E1E1E;
  //background-color: #1E1E1E;
  background-image: url("/assets/images/landing_page/main_visual/main-bg.png");
  background-size: 960px;
  background-position: center center;
  background-repeat: no-repeat;

  /*
  .main-image-wrap {
    img {
      width:280px;
      float: right;
      position: relative;
      top: 120px;
      right: 85px;
      z-index: 1;
    }
  }

  .main-title-text {
    padding: 1px 0;
    p {
      line-height: 61px;
      margin-top: 75px;
      padding: 0;
      font-size: 48px;
      font-family: 'Overpass Mono', monospace;
      font-weight: 600;
      color: #fafafa;

      img {
        display: inline-block;
        width: 70px;
        position: relative;
        bottom: 10px;
        left: 20px;
      }
    }
  }

  .keyword-links-wrap {
    position: relative;
    z-index: 2;
    width: 80%;
    padding-right: 50px;

    .keyword-card {
      font-family: 'Overpass Mono', monospace;
      font-weight: lighter;
      @mixin keyword-card-box($color1, $color2){
        .keyword-card-title {
          color: $color1;
        }
        .keyword-card-content {
          a {
            color: $color2;
          }
        }
      }

      .keyword-card-title {
        font-size: 14px;
      }
      .keyword-card-content {
        font-size: 11px;
        a {
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }

      &.type-0 {
        @include keyword-card-box(#B8E986, #B8E986);
      }
      &.type-1 {
        @include keyword-card-box(#7ED321, #7ED321);
      }
      &.type-2 {
        @include keyword-card-box(#B4FF00, #B4FF00);
      }
      &.type-3 {
         @include keyword-card-box(#E0F81C, #E0F81C);
       }
      &.type-4 {
        @include keyword-card-box(#B4FF00, #B4FF00);
      }

    }

  }

  .ctn-button {
    margin-top: 50px;
    padding-bottom: 70px;
    a {
      display: block;
      width: 160px;
      border: 1px solid #F8E71C;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
      font-family: 'Overpass Mono', monospace;
      font-weight: 700;
      padding: 7px;
      text-align: center;
      color: #fafafa;
    }
  }
*/


  @media #{$medium-and-up} { // 992


      .main-image-wrap {
        img {
          width:30%;
          float: right;
          padding-top: 40px;
          margin-left: 10px;
          z-index: 1;
        }
      }

      .main-title-text {
        p {
          font-size: 40px;
          -webkit-margin-after: 10px;
        }
      }

      .keyword-links-wrap {
        width: 70%;
        padding-right: 30px;

        .keyword-card {
          font-family: 'Overpass Mono', monospace;
          font-weight: lighter;

          @mixin keyword-card-box($color1, $color2){
            .keyword-card-title {
              color: $color1;
            }
            .keyword-card-content {
              a {
                color: $color2;
              }
            }
          }

          .keyword-card-title {
            font-size: 14px;
          }
          .keyword-card-content {
            font-size: 11px;
            a {
              float: left;
              margin-right: 10px;
              margin-bottom: 10px;
            }
            &:after {
              content: '';
              display: block;
              clear: both;
            }
          }

          &.type-0 {
            @include keyword-card-box(#B8E986, #B8E986);
          }
          &.type-1 {
            @include keyword-card-box(#7ED321, #7ED321);
          }
          &.type-2 {
            @include keyword-card-box(#B4FF00, #B4FF00);
          }
          &.type-3 {
            @include keyword-card-box(#E0F81C, #E0F81C);
          }
          &.type-4 {
            @include keyword-card-box(#B4FF00, #B4FF00);
          }

        }

      }

      .ctn-button {
        margin-top: 50px;
        padding-bottom: 70px;
        a {
          display: block;
          width: 160px;
          border: 1px solid #F8E71C;
          border-radius: 5px;
          box-sizing: border-box;
          font-size: 16px;
          font-family: 'Overpass Mono', monospace;
          font-weight: 700;
          padding: 7px;
          text-align: center;
          color: #fafafa;
        }
      }

    }

  @media #{$large-and-up} { // 1200
    .main-image-wrap {
      width:280px;
      float: right;
      padding-top: 10px;
      margin-right: 10px;
      z-index: 1;

    }

    .main-title-text {
      padding: 1px 0;
      p {
        line-height: 61px;
        margin-top: 75px;
        padding: 0;
        font-size: 48px;
        //font-family: 'Overpass Mono', monospace;
        font-weight: 600;
        color: #fafafa;

        img {
          display: inline-block;
          width: 70px;
          position: absolute;
          bottom: 10px;
          left: 20px;
        }
      }
    }

    .keyword-links-wrap {
      width: 75%;
      padding-right: 40px;

      .keyword-card {
        font-family: 'Overpass Mono', monospace;
        font-weight: lighter;

        @mixin keyword-card-box($color1, $color2){
          .keyword-card-title {
            color: $color1;
          }
          .keyword-card-content {
            a {
              color: $color2;
            }
          }
        }

        .keyword-card-title {
          font-size: 14px;
        }
        .keyword-card-content {
          font-size: 11px;
          a {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          &:after {
            content: '';
            display: block;
            clear: both;
          }
        }

        &.type-0 {
          @include keyword-card-box(#B8E986, #B8E986);
        }
        &.type-1 {
          @include keyword-card-box(#7ED321, #7ED321);
        }
        &.type-2 {
          @include keyword-card-box(#B4FF00, #B4FF00);
        }
        &.type-3 {
          @include keyword-card-box(#E0F81C, #E0F81C);
        }
        &.type-4 {
          @include keyword-card-box(#B4FF00, #B4FF00);
        }

      }

    }

    .ctn-button {
      margin-top: 50px;
      padding-bottom: 70px;
      a {
        display: block;
        width: 160px;
        border: 1px solid #F8E71C;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: 'Overpass Mono', monospace;
        font-weight: 700;
        padding: 7px;
        text-align: center;
        color: #fafafa;
      }
    }

  }

}