.header-gnb {
  @extend .font-mono;
  position: relative;
  background-color: #1E1E1E;
  z-index: 1;
  height: 70px;
  display: none;
  padding-top: 10px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    li {
      float: left;
      padding: 0;
      margin: 0;

      a {
        display: block;
        color: #fff;
        line-height: 35px;
        font-size: 0.9em;
        font-weight: 300;
        padding: 0 10px;
      }
    }
  }

  //mobile
  @media #{$medium-and-up} { // 640
    display: block;
  }

  // table
  @media #{$large-and-up} { // 993

  }

  // desktop
  @media #{$extra-large-and-up} { // 1200

  }
}