
.main-contents {

  .main-product-ad {
    margin: 0 auto;

    .slider-wrap {

      width: 100%;
      height: 150px;
      padding: 20px 30px;
      display: table;

      .col:first-child {
        display: none;
      }
      .col:nth-last-child(2) {
        display: none;
      }

      .product-wrap {
        background-color: #EEEEEE;
        border-radius: 15px;

        a.product {
          line-height: 0;
          margin: 0 auto;
          display: block;
          vertical-align: middle;
          text-align: center;
          img {
            max-width: 120px;
            width: 100%;
            margin: 0 auto;
          }

        }

      }

      .slider-button {
        //height: 20px;
        margin: 20px auto;
        list-style-type: none;
        display: table-cell;
        vertical-align: middle;

        li {

          padding: 0 5px;

          a {
            display: block;
            width: 13px;
            height: 13px;
            background-color: #EEEEEE;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;

          }

        }

      }
    }

  }

  .best-product {

    .best-product-list-wrap {

    }

  }

}

//mobile
@media #{$medium-and-up} { // 640

}

// table
@media #{$large-and-up} { // 993

}

// desktop
@media #{$extra-large-and-up} { // 1200

  /*
  .main-contents {

    @import "main-product-ad";

    @import "main-product-best";

    @import "_main-introduce";

    @import "_main-report";


    .main-product-ad {
      background-color: #fafafa;
      height: 170px;
      .row {
        margin-bottom: 0;

        .slider-wrap {
          max-width: 960px;
          height: 170px;
          margin: auto;
          padding: 15px 0;


          .product-wrap {
            background-color: #EEEEEE;
            height: 140px;
            margin: 0 auto;
            border-radius: 15px;

            .product {
              img {
                display: block;
                max-width: 80px;
                margin: auto;
              }
              span.ci {
                font-size: 48px;
                display: block;
                margin: 0 auto;
              }
            }

          }
        }
      }
    }

  }
  */

}



