.sub-product {

  .section-product-header {
    background-color: #1E1E1E;

    .sub-header-wrap {

      .container {

        .header-main-visual {

          .row {
            display: none;

            .keyword-links-wrap {
              z-index: 2;
              width: 80%;
              padding-right: 0;
              margin: 0 auto;
              .keyword-card {
                font-family: 'Overpass Mono', monospace;
                font-weight: lighter;

                @mixin keyword-card-box($color1, $color2) {
                  .keyword-card-title {
                    color: $color1;
                  }
                  .keyword-card-content {
                    a {
                      color: $color2;
                    }
                  }
                }

                .keyword-card-title {
                  font-size: 13px;
                }
                .keyword-card-content {
                  line-height: 11px;
                  font-size: 11px;
                  a {
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 10px;
                  }
                  &:after {
                    content: '';
                    display: block;
                    clear: both;
                  }
                }

                &.type-0 {
                  @include keyword-card-box(#B8E986, #B8E986);
                }
                &.type-1 {
                  @include keyword-card-box(#7ED321, #7ED321);
                }
                &.type-2 {
                  @include keyword-card-box(#B4FF00, #B4FF00);
                }
                &.type-3 {
                  @include keyword-card-box(#E0F81C, #E0F81C);
                }
                &.type-4 {
                  @include keyword-card-box(#B4FF00, #B4FF00);
                }

              }

            }

          }

        }

        .section-customer-header {
          background-color: #1E1E1E;
          position: relative;
          overflow: hidden;

          .sub-header-wrap {
            max-width: 960px;
            height: 300px;
            padding-: 40px 0;
            margin: 0 auto;
            position: relative;


            .container {
              max-width: 960px;
              padding: 0;
              margin: auto;
              position: absolute;
              top: 50%;
              margin-top: -100px;


              h1.sub-customer-title {
                color: #fafafa;
                font-size: 3em;
                line-height: 1.5em;
                display: table;
                margin: 0 auto;
                @extend .font-mono;
                text-align: center;

                span {
                  color: #F8E71C;
                }

              }

              img.sub_customer_image {
                //display: block;
                display: none;
                width: 180px;
                float: right;
              }

            }
          }

        }

      }
    }
  }



  @media #{$medium-and-up} { // 640



  }

  // table
  @media #{$large-and-up} { // 993

    .section-product-header {

      .sub-header-wrap {

        .container {

          .header-main-visual {
            .row {
              display: block;

              .keyword-links-wrap {
                width: 120%;

                .keyword-card {

                  @mixin keyword-card-box($color1, $color2) {
                    .keyword-card-title {

                    }
                    .keyword-card-content {
                      a {

                      }
                    }
                  }

                  .keyword-card-title {

                  }
                  .keyword-card-content {

                    a {

                    }
                    &:after {

                    }
                  }

                  &.type-0 {
                    @include keyword-card-box(#B8E986, #B8E986);
                  }
                  &.type-1 {
                    @include keyword-card-box(#7ED321, #7ED321);
                  }
                  &.type-2 {
                    @include keyword-card-box(#B4FF00, #B4FF00);
                  }
                  &.type-3 {
                    @include keyword-card-box(#E0F81C, #E0F81C);
                  }
                  &.type-4 {
                    @include keyword-card-box(#B4FF00, #B4FF00);
                  }

                }

              }

            }

          }

          .section-customer-header {
            display: none;
          }

        }
      }
    }


  }

  // desktop
  @media #{$extra-large-and-up} { // 1200



  }

}






