.section-notice-read {
  @extend .font-nanum-square;
  $list-header-background: #eeeeee;
  $list-body-background: #fafafa;
  $list-important-background: rgba(238, 238, 238, 0.7);

  $list-header-font-color: #717171;
  $list-body-font-color: #9B9B9B;
  $list-button-color: #333333;
  $list-white-font-color: #fafafa;

  .container {
    padding: 100px 30px;

    .tableTheme {

      .titleArea {

        h2 {
          font-size: 2rem;
          font-weight: 600;
          @extend .font-ubuntu;
        }
        .block-line {
          width: 30px;
          height: 4px;
          background-color: #7ED321;
          margin-top: 20px;
          margin-bottom: 50px;
        }

      }

      table {
        font-size: 1em;

        tbody.middle {

          .first-header {
            border-radius: 0 0 5px 0;

            th {
              border-radius: 5px 0 0 0;
            }
            td {
              font-weight: 600;
            }

          }

          .last-header {
            border-radius: 0 5px 0 0;

            th {
              border-radius: 0 0 0 5px;
            }

          }

          tr.list-read-header {

            th {
              @extend .font-ubuntu;
              padding-left: 20px;
              background-color: $list-header-background;

            }
            td {
              padding-left: 20px;
              background-color: $list-body-background;
            }

          }

          tr.gMerge {
            background-color: #ffffff;
          }
        }
      }

      .btnNormalB {
         background-color: $list-button-color;
         @extend .font-ubuntu;
         padding: 10px;
         border-radius: 5px;
         color: $list-white-font-color;
         margin: 30px 0;
         display: inline-block;

       }

      .btnEmB {
        background-color: $list-button-color;
        @extend .font-ubuntu;
        padding: 10px;
        border-radius: 5px;
        color: $list-white-font-color;
        margin: 30px 0;
        display: inline-block;

      }

    }

    .list-movement {
      ul {

        li {
          background-color: $list-body-background;
          border-radius: 0 5px 5px 0;
          margin-bottom: 5px;

          span {
            @extend .font-ubuntu;
            font-weight: 600;
            padding: 15px 10px;
            background-color: $list-header-background;
            display: inline-block;
            border-radius: 5px 0 0 5px;

          }
          a {
            padding-left: 10px;
          }

        }
      }

    }

  }

}