.xans-product-relation .relation { padding:20px 0 50px; line-height:1.8em; }
.xans-product-relation .relation h3 { padding:0 10px 0 9px; text-align:left; }
.xans-product-relation .relation ul.prdList { display:table; width:100%; margin:-8px 0 0; font-size:0; line-height:0; }
.xans-product-relation .relation ul.prdList img { vertical-align:middle; }
.xans-product-relation .relation ul.prdList li.item { display:inline-block; margin:20px 0; vertical-align:top; *display:inline; *zoom:1; }
.xans-product-relation .relation ul.prdList li.item .box { line-height:18px; }
.xans-product-relation .relation ul.prdList li.item .box strong { display:block; margin:3px 0 0; }
.xans-product-relation .relation ul.prdList li.item .thumb { margin:0 0 16px; border:1px solid #ececec; }

/* 진열방식 */
.xans-product-relation .relation ul.prdList.column2 li.item { width:50%; }
.xans-product-relation .relation ul.prdList.column3 li.item { width:33.33%; }
.xans-product-relation .relation ul.prdList.column4 li.item { width:25%; }
.xans-product-relation .relation ul.prdList.column5 li.item { width:20%; }
.xans-product-relation .relation ul.prdList.column6 li.item { width:16.66%; }
.xans-product-relation .relation ul.prdList.column7 li.item { width:14.28%; }
.xans-product-relation .relation ul.prdList li.item .box { margin:0 7px; }
.xans-product-relation .relation ul.prdList li.item .box .strike { text-decoration: line-through; }

.xans-product-relation .relation ul.prdList.column2.wyImgSizeFixed li.item .box { min-width:354px; }
.xans-product-relation .relation ul.prdList.column3.wyImgSizeFixed li.item .box { min-width:232px; }
.xans-product-relation .relation ul.prdList.column4.wyImgSizeFixed li.item .box { min-width:170px; }
.xans-product-relation .relation ul.prdList.column5.wyImgSizeFixed li.item .box { min-width:134px; }
.xans-product-relation .relation ul.prdList.column6.wyImgSizeFixed li.item .box { min-width:108px; }
.xans-product-relation .relation ul.prdList.column7.wyImgSizeFixed li.item .box { min-width:92px; }
.xans-product-relation .relation ul.prdList.wyImgSizeFixed li.item .thumb { width:240px; height:240px; }

.xans-product-relation .relation ul.prdList.wyImgSizeFlex li.item .thumb { width:100%; }