.xans-layout-bookmark { display:inline-block; float:left; line-height:1em; }
.xans-layout-bookmark a { margin:0 9px 0 0; padding:0 10px 0 0; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_util2.gif") no-repeat 100% 50%; }
.xans-layout-bookmark a span { padding-left:17px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_bookmark.png") no-repeat 0 50%; }
.xans-layout-bookmark a span img { vertical-align:middle; }