
.f-nav{position: fixed; left: 0; top: 36px; width: 100%; transition:all 0.3s;}

.gnb {float:left;}
.submenu {float:right;}
.gnb>ul>li:first-child {margin-left:25px;}
.gnb ul li, .submenu ul li {display:inline-block;width:auto; padding:0px 10px;}
.gnb ul>li>a, .submenu ul>li>a {display:block; height:50px; line-height:50px;font-size:13px; letter-spacing:0.1em; color:#555;}
.gnb ul li.on>a {color:#222;}

#gnbList .util {float:left;}
#gnbList .util li {float:left; border-left:1px solid #ddd;}
#gnbList .util li a {display:inline-block; width:52px; height:50px; overflow:hidden; text-indent:-9999px; float:left;}
#gnbList .util .btn_allmenu a {background:url('/layout/basic/img/i_allmenu.png') 50% 50% no-repeat; }
#gnbList .util .btn_allmenu.close a {background:url('/layout/basic/img/i_allmenu_close.png') 50% 50% no-repeat;}
/* #gnbList .util .btn_search a {background:url('/layout/basic/img/i_magnify.png') 50% 50% no-repeat; border-right:1px solid #ddd;} */

#gnb {float:left; margin:20px 0 0 30px;}
#gnb:after {content:""; display:block; clear:both;}
#gnb > ul {margin:0 0 0 .9rem;float:left;}
#gnb > ul > li { float:left; height:50px; line-height:50px; width:auto;}
#gnb > ul > li > a {letter-spacing:0.09em; font-size:13px; display:block; text-align:center; padding:0 20px;}
#gnb > ul > li > a:hover {color:#222;}

.sub-category:before {content:""; width:14px; height:8px; background:url('/layout/basic/img/bg_subcate.png') no-repeat; position:absolute; z-index:100;left:50%; margin-left:-7px; margin-top:-18px;}
.sub-category {position:absolute; width:110px; height:auto; border:1px solid #eee; z-index:2; background:rgba(255,255,255,.6); padding:10px 0px; margin:0 0 0 -5px;}
.sub-category ul li {display:block; height:24px;line-height:24px; text-align:center;}
.sub-category ul li a {font-size:12px; letter-spacing:0.1em; height:20px; line-height:20px; letter-spacing:0em;}
.sub-category ul li a:hover {font-weight:700; color:#444;}