.xans-layout-info { margin:0; padding:0 0 10px; }
.xans-layout-info ul { padding:0 9px; }
.xans-layout-info li { display:block; margin:4px 0 0; padding:0 0 0 9px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_customer.png") no-repeat 1px 50%; }
.xans-layout-info li strong { width:36px; padding:0 10px 0 0; }
.xans-layout-info li span { display:inline; }
.xans-layout-info li.tel { margin:0 0 10px; padding:0; background:none; }
.xans-layout-info li.tel strong { visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0; }

/* 레이아웃 중앙형 */
body.center .xans-layout-info { float:left; display:inline-block; width:180px; border-bottom:0; }
body.center .xans-layout-info ul { padding:0 10px 0 0; }
body.center .xans-layout-info li.tel { min-height:23px; }