.xans-layout-logotop {
    float:left;
    display:inline-block;
    text-align:center;
    margin:20px 0 0;
    z-index:10;
}
.xans-layout-logotop a {
    font-size:19px;
    letter-spacing:0.05em;
    font-weight:700;
}