.xans-layout-searchside { margin:0; padding:0 0 10px; }
.xans-layout-searchside fieldset {
    max-width:100%; border-radius:2px;
    width:auto;
    border:1px solid #d9d9d9;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.xans-layout-searchside input { background:#fff; }
.xans-layout-searchside #keyword { float:left; padding:0; margin-right:-36px; width:100%; height:32px; line-height:32px; border:0; z-index:9; }
.xans-layout-searchside #search { float:right; max-height:100%; z-index:10;}
.xans-layout-searchside .bestKeyword { margin:13px 0 0; line-height:18px; }
.xans-layout-searchside .bestKeyword a { margin:0 3px 0 0; padding:0 0 0 8px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_search_best.gif") no-repeat 0 0; }
.xans-layout-searchside .bestKeyword a:first-child { padding-left:0; background:none; }

.xans-layout-searchside p { margin:18px 10px 0 0; padding:0 22px 0 0; text-align:right; line-height:1.5; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_search2.png") no-repeat 100% 1px; }
.xans-layout-searchside p a { padding:0 0 0 9px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_search1.png") no-repeat 0 3px; }