/*.xans-layout-shoppinginfo { position:absolute; right:0; top:0; height:35px; line-height:35px; }
.xans-layout-shoppinginfo li { float:left; margin:0 0 0 10px; padding:0 0 0 11px; color:#757575; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_util2.gif") no-repeat 0 12px; }
.xans-layout-shoppinginfo li:first-child { background:none; }
.xans-layout-shoppinginfo li a { color:#757575; }*/