/* read */
.mid-0.xans-board-inquiryview table td .detail { padding:17px 17px 15px; }
.mid-0.xans-board-inquiryview table td .detail ol,
.mid-0.xans-board-inquiryview table td .detail ul { margin:15px 0; padding:0 0 0 40px; }
.mid-0.xans-board-inquiryview table td .detail ol li { list-style:decimal; }
.mid-0.xans-board-inquiryview table td .detail ul li { list-style:disc; }
.mid-0.xans-board-inquiryview table td .attach a { padding:0 0 0 12px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/ico_attach1.gif") no-repeat 0 0; }
.mid-0.xans-board-inquiryview .boardWait { margin:60px 0 0; padding:20px; border:1px solid #d7d5d5; background:#fbfafa; }

/* read - 선택상품 */
.mid-0.xans-board-inquiryhead .prdThumb { float:left; margin:0 15px 0 0; }