.mid-0.xans-board-inquirysearch { padding:15px 0 20px; text-align:center; }
.mid-0.xans-board-inquirysearch input { height:16px; width:162px; padding:3px; border:1px solid #d5d5d5; }
.mid-0.xans-board-inquirysearch .boardSearch { display:block; }