/* 게시판 메인 > 갤러리 */
.mid-0.board.xans-board-listpackage-8 { position:relative; margin:0 0 65px 23px; }
.mid-0.board.xans-board-listpackage-8 .more { position:absolute; top:0; right:0; padding:2px; }

.mid-0.board.xans-board-listpackage-8 ul.prdList { display:table; width:100%; margin:0; font-size:0; line-height:0; }
.mid-0.board.xans-board-listpackage-8 ul.prdList li.item { display:inline-block; margin:20px 0 0 0; color:#757575; vertical-align:top; *display:inline; *zoom:1; }
.mid-0.board.xans-board-listpackage-8 ul.prdList li.item .box { margin:0 auto; line-height:1.5; text-align:left; }
.mid-0.board.xans-board-listpackage-8 ul.prdList .imgLink img { display:block; margin:0 0 10px; border:1px solid #ececec; }
.mid-0.board.xans-board-listpackage-8 li span { display:block; }

/* 진열방식 */
.mid-0.board.xans-board-listpackage-8 ul.prdList.column2 li.item { width:50%; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column3 li.item { width:33.33%; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column4 li.item { width:25%; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column5 li.item { width:20%; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column6 li.item { width:16.66%; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column7 li.item { width:14.28%; }
.mid-0.board.xans-board-listpackage-8 ul.prdList li.item .box { margin:0 7px; }

.mid-0.board.xans-board-listpackage-8 ul.prdList.column2.wyImgSizeFixed li.item .box { min-width:223px; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column3.wyImgSizeFixed li.item .box { min-width:144px; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column4.wyImgSizeFixed li.item .box { min-width:104px; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column5.wyImgSizeFixed li.item .box { min-width:80px; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column6.wyImgSizeFixed li.item .box { min-width:65px; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.column7.wyImgSizeFixed li.item .box { min-width:53px; }
.mid-0.board.xans-board-listpackage-8 ul.prdList.wyImgSizeFixed li.item .imgLink img { width:84px; height:114px; }

.mid-0.board.xans-board-listpackage-8 ul.prdList.wyImgSizeFlex li.item .imgLink img { width:100%; }