.section-log-in {


    .log-in-wrap {
      width: 100%;

      .xans-member-login {
        border-radius: 10px;
        width: 70%;
        background: #fafafa;
        padding: 30px 15px;
        margin: 100px auto;

        .memberArea {
          border: none;
          width: 100%;
          text-align: center;

          legend {
            padding: 20px;
            @extend .font-ubuntu;
            font-size: 2em;
            font-weight: 600;
          }

          label.input-area {
            margin: 0 auto 10px;
            width: 100%;
            background: #fff;
            border-radius: 5px;
            line-height: 54px;

            span {
              padding-top: 15px;
            }

            #member_id {
              font-weight: 400;
            }

          }

          p.security {
            padding: 10px;
            text-align: center;
            font-size: 1em;
            font-weight: 600;
            color: #333333;
            @extend .font-nanum-square;

            label {
              margin-right: 20px;
              background-color: transparent;
              line-height: 25px;
              font-size: 1em;
              font-weight: 600;
              color: #333333;
              @extend .font-nanum-square;

            }
          }

          button.btnLogin {
            position: static;
            background: #333;
            border: none;
            border-radius: 5px;
            color: #fafafa;
            padding: 10px;
            width: 100%;
            font-weight: 400;
            font-size: 1.1em;

          }

          ul.find-account {
            padding: 20px 0;
            width: 100%;
            margin: 0 auto;

            li {
              padding: 0 0 0 13px;
            }

            li:last-child {
              float: right;
            }
          }

          ul.snsArea {
            width: 100%;
            padding: 20px 0;

            li {
              width: 100%;
              margin: 0 auto;
            }
          }

          .link {
            padding: 25px 10px 0;
          }

          a.btnEm {
            position: static;
            background: #333;
            border: none;
            border-radius: 5px;
            color: #fafafa;
            padding: 10px;
            width: 100%;
            font-weight: 400;
            font-size: 1.1em;
            display: block;
            margin: 20px 0;

          }

        }

      }


  }



  @media #{$medium-and-up} { // 640

      .log-in-wrap {
        width: 60%;

      }



  }

  // table
  @media #{$large-and-up} { // 993

    .log-in-wrap {
      width: 650px;

    }

  }

  // desktop
  @media #{$extra-large-and-up} { // 1200


  }


}




