.section-contents-wrap {
  .basket-wrap {

    .title {
      padding: 0 0 10px 0;
      h3 {
        padding: 0 15px;
        font-weight: 600;
        font-size: 2em;
        border: none;
      }

      .row {
        margin: 0;
      }
    }

    .form-wrap {
      background: #fff;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 10px;

      @media #{$large-and-up} { // 993
        padding: 15px;
      }
    }

    .orderArea {
      table.form-table {
        table-layout: fixed;
        border: 0 none !important;
        background: #fff;

        th, td {
          display: block;
          width: 100%;
          padding: 5px 0;

          input, textarea {
            box-shadow: none;
            border: 1px solid #e8e8e8 !important;
            border-radius: 5px;
            padding: 0 5px;
            height: 2.5rem;
            box-sizing: border-box;
            margin: 0.3em 0;
            // width: 100% !important;
            max-width: 100%;
          }
          select {
            height: 2.5rem;
            width: 100%;
            border: 1px solid #e8e8e8;
            margin: 0.3em 0;

          }
        }
      }

      // table
      @media #{$large-and-up} { // 993

        table.form-table {
          th {
            width: 100px;
          }

          th, td {
            display: table-cell;
            padding: 5px 10px;

            input, textarea {
              box-shadow: none;
              border-radius: 5px;
              padding: 0 5px;
              height: 2.5rem;
              box-sizing: border-box;
              margin: 0 0.3em;
              // width: auto !important;
            }
            select {
              height: 2.5rem;
              width: auto;
              margin: 0 0.3em;
            }
          }
        }
      }

    }

    .totalArea {
      margin-top: 50px;

      .row-summary {
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;

        h5 {
          text-align: center;
          font-size: 1.2em;
          background: #444;
          padding: 7px;
          color: #fff;
          border-radius: 6px;
          display: inline-block;
          margin: 10px;
        }
        p {
          text-align: center;
          font-size: 1.5em;
          margin: 0;
          margin-bottom: 10px;
        }
      }

      .detail {
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        background: #fafafa;
        td, th{
          padding: 5px;
        }
        caption {
          font-size: 1.2em;
          text-align: left;
          padding: 5px 5px;

          span {
            color: #f39835;
            font-weight: 600;
          }
        }
      }

    }

    .payArea {
      margin-top: 50px;

      .payment {
        width: 100%;
        float: none;

        .info {
          margin: 10px 0;
          background: #fff;

          table{
            input, textarea {
              box-shadow: none;
              border: 1px solid #d6d6d6 !important;
              border-radius: 5px;
              padding: 0 5px;
              height: 2.5rem;
              box-sizing: border-box;
              margin: 0 0.3em;
              width: auto;
            }
            select {
              height: 2.5rem;
              width: auto;
              border: 1px solid #d6d6d6;
              margin: 0 0.3em;
            }
          }

        }
        .tableClear {
          border-radius: 5px;

          .payHelp {
            margin: 0 auto;
          }
        }
      }

      .total {
        border-top: none;
        border-radius: 5px;
        padding: 20px;
        background-color: #f8e71c;
        width: 100%;
        float: none;
        h4 {
          text-align: left;
        }

        p {
          text-align: right;
          input {
            background: none;
            margin-right: 10px;
            padding: 5px;
            box-shadow: none;
            letter-spacing: 0;
            font-size: 1.2em;

          }
        }

        .mileage {
          border: 0 none;
        }

        .button {
          #btn_payment {
            background-color: #333333;
            color: #fafafa;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            border: none;
            font-weight: 400;
            font-size: 1.2em;
          }
        }

      }
    }

    .buttonArea {
      padding: 10px;
      margin: 0;
      a {
        margin: 0;
      }
    }

  }
}