.sub-product {

  .container {

    .content {

      .xans-product-detail {
        padding: 0;

        .detailArea {
          padding: 70px 0 0 0;
          margin: 0 auto;
          text-align: center;

          .imgArea {
            float: none;
            width: 90%;
            margin: auto;
            text-align: center;

            .keyImg {

              .thumbnail {
                a {
                  img {
                    border: none;
                  }
                }

              }

            }

            .listImg {
              ul {
                min-width: unset;
              }
            }
          }

          .infoArea {
            width: 80%;
            padding: 20px 0 0;
            margin: auto;

            #totalProducts {
              margin: 50px 0 0;
              border-collapse: collapse;
              border-spacing: 0;
              border-color: transparent;

              table {

                thead {
                  border-bottom: none;
                }

                tbody {

                  tr {

                    td {

                      padding: 0;
                      line-height: 40px;
                      /* 이상 삭제 */

                      border-top: none;
                      //600and up - line-height: 40px;

                      a {
                        display: block;
                        float: left;
                        img {
                          height: 40px;
                          //height: 40px;
                          display: block;
                        }
                      }

                      span.quantity {
                        height: 40px;
                        width: 30px;
                        display: table;
                        /* 이상 삭제
                        height: 40px;
                        width: 50px;
                        display: block;
                        */

                        float: left;
                        text-align: center;
                        background-color: #EEEEEE;

                        input#quantity {
                          height: 40px;
                          width: 30px;
                          display: table;
                          /* 이상 삭제 */

                          border: none;
                          box-shadow: none;
                          //height: 40px;
                          text-align: center;
                          margin: 0 auto;
                          font-weight: 600;
                        }
                      }
                    }

                    td.txtStrong12B {
                      @extend .font-ubuntu;
                      font-weight: 600;
                      line-height: 40px;
                      //margin: 9px 0 9px 15px;
                      background-color: #EEEEEE;
                      border-radius: 50px;
                      height: 40px;
                      padding: 0;
                      //height: 40px;
                      //line-height: 40px;
                      //padding: 0 20px;
                      width: 190px;
                      text-align: center;

                      span {
                        font-weight: 600;
                      }

                    }
                  }

                  tr.quantity-title {
                    @extend .font-ubuntu;
                    font-size: 1.2em;
                    font-weight: 600;
                    letter-spacing: 0.05em;

                    td {
                      width: 50%;
                      //이상 삭제
                    }

                    td:first-child {
                      //width: 40%;
                    }

                    td:last-child {
                      //width: 60%;
                    }

                  }
                }

              }

            }

          }

          .buttonArea {
            width: 80%;
            @extend .font-ubuntu;
            font-size: 1.2em;
            font-weight: 100;
            color: #fafafa;
            //width: 400px;
            margin: 20px auto;
            padding: 10px 0;

            button {
              width: 100%;
              /* 이상 삭제 */

              background-color: #333333;
              padding: 10px 45px;
              letter-spacing: 0.1em;
              border-radius: 50px;
              margin-bottom: 10px;
              border: none;

            }

            a {
              display: block;
              text-align: center;
              width: 100%;
              background-color: #5DA608;
              padding: 10px 0;
              margin: 10px 0 0;
              border-radius: 50px;
              color: #fafafa;
              letter-spacing: 0.1em;

            }

            .btnNormalL {
              //width: 40%;
              //margin-left: 10px;
            }

            .btnEmL {
              //width: 56%;

            }

          }

        }

      }

      .xans-product-additional {
        padding: 20px;
        border: 1px solid #D5D5D5;
        border-radius: 10px;
        margin: 100px 30px;

        ul.menu {
          text-align: center;
          font-size: 1em;
          padding-bottom: 10px;
          border-bottom: 1px solid #D5D5D5;
          background-color: #fafafa;

          li {
            border-radius: 5px;

            a {
              display: block;
              color: #9B9B9B;
              padding: 5px 10px;

            }

          }

          li.selected {
            background-color: #E7E7E7;
          }

        }

        .board {

          p.buttonArea {
            .gRight {
              a.btnNormal {
                @extend .font-nanum-square;
                padding: 10px;
                margin-right: 5px;
                border-radius: 5px;
                background-color: #333333;
                color: #fafafa;
                font-weight: 100;
                font-size: 0.9em;

              }
            }
          }

          table {

            caption {
              font-weight: 600;
              padding: 10px 0;
            }

            thead {
              border-bottom: none;
              background: #eeeeee;

              tr {

                td, th {
                  border-radius: 0;
                  padding-left: 10px;
                }

                th {
                  &:first-child {
                    border-radius: 5px 0 0 0;
                  }
                  &:last-child {
                    border-radius: 0 5px 0 0;
                  }
                }

              }

            }

            tbody {
              background: #fafafa;
              tr {

                td.th {
                  border-radius: 0;
                  padding-left: 10px;
                }
              }

            }
          }

          .additional-content {
            padding-bottom: 100px;
          }

          .paginate {
            margin: 0 auto;
            display: table;
            padding: 30px;

            p {
              display: table;
              float: left;
              margin: 0;

              img {
                width: 25px;

              }
            }

            ol {
              display: table;
              float: left;
              -webkit-margin-after: 0;
              -webkit-margin-before: 0;
              padding: 0;
              height: 25px;
              line-height: 25px;

              li {
                float: left;
                list-style-type: none;
                padding: 0 10px;
                background: #fff;

                a {
                  @extend .font-ubuntu;
                  color: #717171;
                  font-size: 0.8em;
                }
              }

            }
          }

        }

        #prdDetail {

          .cont {
            .txtBase {

              img {
                width: 100%;
              }

            }
          }

        }

      }

    }

  }

    //mobile
    @media #{$medium-and-up} { // 640

      .container {

        .content {

          .xans-product-detail {

            .detailArea {

              .imgArea {

                .keyImg {

                  .thumbnail {
                    a {
                      img {

                      }
                    }

                  }

                }

                .listImg {
                  ul {

                  }
                }
              }

              .infoArea {
                width: 80%;
                padding: 20px 0 0;
                margin: auto;

                #totalProducts {
                  margin: 50px 0 0;
                  border-collapse: collapse;
                  border-spacing: 0;
                  border-color: transparent;

                  table {

                    thead {
                      border-bottom: none;
                    }

                    tbody {

                      tr {

                        td {
                          border-top: none;
                          line-height: 40px;

                          a {
                            display: block;
                            float: left;
                            img {
                              height: 40px;
                              display: block;
                            }
                          }

                          span.quantity {
                            height: 40px;
                            width: 50px;
                            display: block;
                            float: left;
                            text-align: center;
                            background-color: #EEEEEE;

                            input#quantity {
                              border: none;
                              box-shadow: none;
                              height: 40px;
                              text-align: center;
                              margin: 0 auto;
                              font-weight: 600;
                            }
                          }
                        }

                        td.txtStrong12B {

                          font-weight: 600;
                          font-size: 1em;
                          line-height: 40px;
                          padding: 0 20px;
                          margin: 9px 0 9px 15px;
                          background-color: #EEEEEE;
                          border-radius: 50px;
                          height: 40px;
                          width: 190px;
                          text-align: center;

                          span {
                            font-weight: 600;
                          }

                        }
                      }

                      tr.quantity-title {

                        font-size: 1.2em;
                        font-weight: 600;
                        letter-spacing: 0.05em;

                        td:first-child {
                          width: 40%;
                        }

                        td:last-child {
                          width: 60%;
                        }

                      }
                    }

                  }

                }

              }

              .buttonArea {

                .btnNormalL {
                  width: 41%;

                }

                .btnEmL {
                  width: 56%;
                  float: left;
                  margin-right: 10px;

                }
              }

            }

          }

          .xans-product-additional {
            padding: 20px;
            border: 1px solid #D5D5D5;
            border-radius: 10px;
            margin: 100px 30px;

            ul.menu {
              text-align: center;
              font-size: 1em;
              padding-bottom: 10px;
              border-bottom: 1px solid #D5D5D5;
              background-color: #fafafa;

              li {
                border-radius: 5px;

                a {
                  display: block;
                  color: #9B9B9B;
                  padding: 5px 10px;

                }

              }

              li.selected {
                background-color: #E7E7E7;
              }

            }

            .board {
              p.buttonArea {
                .gRight {
                  a.btnNormal {
                    padding: 10px;
                    margin-right: 5px;
                    border-radius: 5px;
                    background-color: #333333;
                    color: #fafafa;
                    font-weight: 100;
                    font-size: 0.9em;

                  }
                }
              }
            }



            .additional-content {
              padding-bottom: 100px;
            }

          }

        }

      }

    }

    // table
    @media #{$large-and-up} { // 993

      .container {

        .content {

          .xans-product-detail {
            padding: 30px 0 0 0;

            .detailArea {
              padding: 0 0 0 446px;
              text-align: left;

              .imgArea {
                float: left;
                width: 446px;
                margin: 0 0 0 -446px;
                text-align: left;

                .keyImg {

                  .thumbnail {
                    a {
                      img {

                      }
                    }

                  }

                }
              }

              .infoArea {
                float: right;

                #totalProducts {

                  table {

                    thead {

                    }

                    tbody {

                      tr {
                        td {

                          a {

                            img {

                            }
                          }

                          span.quantity {

                            input#quantity {

                            }
                          }
                        }

                        td.txtStrong12B {

                          span {

                          }

                        }
                      }

                      tr.quantity-title {

                        td:first-child {

                        }

                        td:last-child {

                        }

                      }
                    }

                  }

                }

              }

              .buttonArea {
                float: right;
                margin: 20px auto;

                button {

                }
                a {

                }

                .btnNormalL {

                }

                .btnEmL {

                }

              }

            }

          }

          .xans-product-additional {
            margin: 100px 0;

            ul.menu {
              width: 100%;
              display: table;
              margin-bottom: 10px;
              padding: 0;
              background-color: transparent;

              li {
                width: 20%;
                float: left;

                a {
                  width: 100%;
                  padding: 10px 10px;

                }
              }

              li.selected {
                border-radius: 10px 50px 0 0;
                box-shadow: 2px 0 0 #D5D5D5;
              }

            }

            #prdDetail {

              .cont {
                .txtBase {

                }
              }

            }

            .additional-content {
              padding-bottom: 200px;
            }

          }

        }

      }

    }

    // desktop
    @media #{$extra-large-and-up} { // 1200

    }

  }


