.section-contents-wrap {

  #searchForm {
    padding: 50px 0;

    .xans-search-form {
      width: 90%;
      margin: 0 auto;

      .searchbox {
        background: #eee;
        border-radius: 10px;
        margin-top: 20px;
        padding: 0 5px;
        border: none;

        fieldset {
          padding: 10px 25px;
          border-radius: 10px;
          border: none;

          legend {
            text-align: center;
            width: 100%;
            font-size: 1.1em;
            font-weight: 600;
          }

          .desc {
            width: 100%;

            dt, dd {
              padding: 10px 0;
            }

            dt {
              width: 40%;
            }
            dd {
              width: 60%;

              #search_type {
                width: 100px;
              }
              select {
                width: 100%;
                border: 1px solid #ddd;
              }

              #keyword {
                margin: 5px 0;
              }

              input {
                box-sizing: border-box;
                margin: 5px 3px;
                padding: 0 10px;
                box-shadow: none;
                border: 1px solid #ddd;
                border-radius: 5px;
                width: 100px;
                min-width: 100px;
                background: #fff;
              }
            }
          }

        }

      }

      .buttonArea {
        padding: 0 0 50px 0;
        text-align: center;

        button {
          width: auto;
          height: auto;
          background: #333333;
          color: #fafafa;
          border-radius: 5px;
          padding: 5px 10px;
          border: none;
        }

        .btnSubmitM{
          padding: 10px 25px;
          font-size: 18px;
        }
      }

      .searchResult {
        border: none;
        border-radius: 5px;
        padding: 0 0 0 10px;

        .record {
          float: none;
          text-align: center;
          border-bottom: 1px solid #ddd;
        }


        ul {
          text-align: center;
          display: block;
          li {
            line-height: 63px;
          }
        }


      }

      .empty {
        text-align: center;
      }

    }

  }

  .xans-search-result {
    width: 90%;
    margin: 0 auto;

    .prdList {

    }
  }

  .paginate {
    margin: 0 auto;
    display: table;
    padding: 30px;

    p {
      display: table;
      float: left;
      margin: 0;

      img {
        width: 25px;

      }
    }

    ol {
      display: table;
      float: left;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      padding: 0;
      height: 25px;
      line-height: 25px;

      li {
        float: left;
        list-style-type: none;
        padding: 0 10px;
        background: #fff;

        a {
          @extend .font-ubuntu;
          color: #717171;
          font-size: 0.8em;
        }
      }

    }
  }


  //mobile
  @media #{$medium-and-up} { // 640

    #searchForm {


      .xans-search-form {
        .searchbox {

          fieldset {

            .desc {


              dd {

                input {
                  width: 100px;

                }


                #keyword {
                  width: 150px;
                  margin: 5px 3px;
                }
              }
            }

          }

        }

        .buttonArea {
          padding: 0 0 50px 0;
          text-align: center;

          button {
            width: auto;
            height: auto;
            background: #333333;
            color: #fafafa;
            border-radius: 5px;
            padding: 5px 10px;
            border: none;
          }
        }

        .searchResult {
          border: none;
          border-radius: 5px;
          padding: 0 0 0 10px;

          .record {
            float: none;
            text-align: center;
            border-bottom: 1px solid #ddd;
          }


          ul {
            text-align: center;
            display: block;
            li {
              line-height: 63px;
            }
          }


        }

        .empty {
          text-align: center;
        }

      }

    }

  }

  // table
  @media #{$large-and-up} { // 993



  }

  // desktop
  @media #{$extra-large-and-up} { // 1200

  }


}

