.sub-notice {
  @extend .font-nanum-square;
  color: #333333;



  .section-notice-board {

    .container {
      padding: 100px 30px;

      h2 {
        font-size: 2rem;
        font-weight: 600;
        @extend .font-ubuntu;
      }
      .block-line {
        width: 30px;
        height: 4px;
        background-color: #7ED321;
        margin-top: 20px;
        margin-bottom: 50px;
      }


    }


  }










}