
.customer-main {
  @extend .font-ubuntu;
  @extend .font-nanum-square;
  font-weight: 500;
  line-height: 2em;

  .divider-stroke {
    width: 1px;
    height: 100px;
    background-color: #7ED321;
    margin: 170px auto 0;
    display: none;

  }

  .contents-wrap {
    max-width: 960px;
    padding: 10px 0;
    margin: 0 auto;
  }


  .section-company-info {
    background-color: #fafafa;
    height: auto;
    color: #333333;
    font-weight: 600;

    .company-info-wrap {
      text-align: center;
      padding: 50px 0;

      .icon-wrap {
        width: 30px;
        margin: 0 auto;

        img {
          width: 100%;
          display: block;
        }
      }

      h2 {
        font-size: 1.8em;
        padding: 15px 0;
        font-weight: 800;

      }

      p {
        font-size: 1.2em;

        .sns-link {
          font-size: 2em;

          &:hover {
            color: #4A90E2;
          }

        }
        .mail_link {
          font-size: 0.9em;

          &:hover {
            color: #4A90E2;
          }
        }

      }
    }
  }

  .section-consult {
    background-color: #4cb2e4;
    width: 100%;
    height: auto;
    color: #fafafa;
    font-weight: 400;

    .consult-wrap {
      text-align: center;
      padding: 50px 0;

      .icon-wrap {
        width: auto;
        height: 70px;

        img {
          height: 65px;
          display: block;
          margin: 0 auto;
        }
      }

      a {
        @extend .font-ubuntu;
        display: block;
        color: #fafafa;
        font-size: 1.5em;
        font-weight: 300;
        padding: 15px 0;

        span.ci {
          color: #7ED321;
        }

      }

      p {
        width: 90%;
        margin: 0 auto;
        font-size: 1.2em;
        padding: 0 15px;
        font-weight: 300;
      }
    }

  }

  @media #{$medium-and-up} { // 640

    .divider-stroke {
      width: 1px;
      height: 100px;
      background-color: #7ED321;
      display: block;
    }

    .section-company-info {
      width: 100%;
      height: auto;
      color: #333333;
      font-weight: 600;
      font-size: 0.9em;

      .contents-wrap {

        .company-info-wrap {
          text-align: center;
          padding: 50px 0;

          .icon-wrap {
          }

          h2 {
            font-size: 1.8em;
            padding: 15px 0;
            font-weight: 800;

          }

          p {
            font-size: 1.2em;

            .sns-link {
              font-size: 2em;

            }

          }
        }
      }
    }

    .section-consult {
      width: 100%;
      height: auto;
      color: #fafafa;
      font-weight: 300;

      .contents-wrap {

        .consult-wrap {
          text-align: center;
          padding: 50px 0;

          .icon-wrap {
            width: auto;
            height: 70px;

            img {
              height: 70px;
              display: block;
              margin: 0 auto;
            }
          }

          a {
            display: block;
            color: #fafafa;
            font-weight: 400;
            padding: 15px 0;

            span.ci {
              color: #7ED321;
            }

          }

          p {
            font-size: 1.1em;

          }
        }
      }

    }

  }

}

// table
@media #{$large-and-up} { // 993

}

// desktop
@media #{$extra-large-and-up} { // 1200

}

