.font-special {

}

[data-page="index"] {
  margin: 0 auto;

  .main-product-ad {
    margin: 0 auto;

    .row {
      margin-bottom: 0;
      display: table;

      .slider-wrap {

        width: 100%;
        padding: 20px 30px;
        margin: auto;
        display: table;

        .col:first-child {
          display: none;
        }
        .col:nth-last-child(2) {
          display: none;
        }

        .product-wrap {
          background-color: #EEEEEE;
          border-radius: 10px;

          a.product {
            line-height: 0;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
            text-align: center;
            img {
              max-width: 120px;
              width: 100%;
              margin: 0 auto;
            }

          }

        }

        .slider-icon-wrap {
          display: none;

        }

      }

      .slider-button {
        //height: 20px;
        margin: 0 auto 50px;
        list-style-type: none;
        display: table;

        li {
          position: relative;
          float: left;
          padding: 0 5px;

          a {
            display: block;
            width: 10px;
            height: 10px;
            background-color: #EEEEEE;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;

          }

        }

      }

    }

  }

  .section-white {
    background: #fff;
  }
  .section-charcoal {
    background: #1E1E1E;
  }
  .section-ivory {
    background: #fafafa;
  }
  .section-gray {
    background: #363636;
  }


  .best-product {
    margin: 0 30px;

    .best-product-list-wrap {
      background-color: #eeeeee;
      border-radius: 10px;
      padding: 10px 20px;
      display: table;

      h2 {
        font-size: 2rem;
        font-weight: 600;
        @extend .font-ubuntu;
        text-align: center;
      }

      .block-line {
        width: 30px;
        height: 4px;
        background-color: #7ED321;
        margin: 20px auto 50px;
      }

      .best-product-wrap {
        background-color: #fff;
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px 10px;
        display: table;
        min-height: 230px;

        @extend .font-ubuntu;

        .product-image-wrap {
          width: 80%;
          margin: 10px auto;


          .magnify {
            display: block;
            float: left;
            img {
              display: block;
              width: 15px;
              height: auto;
            }
          }

          .heart {
            display: block;
            float: right;
            img {
              display: block;
              width: 15px;
              height: auto;

            }
          }

          .product-image-link {
            display: block;
            a {
              display: table;
              img {
                display: block;
                width: 100%;
                min-height: 20px;
                margin: 0 auto;
              }
            }
          }

        }

        .product-info-wrap {
          width: 80%;
          margin: 0 auto;

          img {
            float: left;
            padding-right: 5px;
            height: 12px;
          }
          h5 {
            font-size: 1.2rem;
            clear: both;
            word-wrap: break-word;

            a {
              display: block;
              padding: 10px 0;
            }

          }

          ul {

            li#product-price {
              font-weight: 600;
            }

            li#product-size {
              font-weight: 200;
            }
          }

        }

      }

    }
  }

  .section-info {
    overflow-x: hidden;
    text-align: center;
    color: #717171;

    .info-title {
      color: #7ED321;
      font-size: 3em;
      font-weight: 600;
      //letter-spacing: -1.5px;
      line-height: 1.5em;
    }

    .info-block-line {
      width: 40px;
      height: 4px;
      background-color: #7ED321;
      margin: 20px auto 30px;
    }

    .info-sub-title {
      font-size: 2em;
      font-weight: 500;
      line-height: 30px;
      color: #fafafa;
      padding: 20px 0;
    }

    &.section-01 {
      padding: 50px 10px 0 10px;
      .info-title {
        .ci {
          font-size: 2em;
        }
        font-size: 3.5em;
        font-weight: 900;
      }
      p {
        font-size: 1.5em;
      }

      .first-info-image {
        width: 100%;
        display: block;
      }
    }
    &.section-02 {

    }
    &.section-03 {

    }
  }

  .nerds-info {
    overflow-x: hidden;
    margin: 0 auto;

    .row {
      margin-bottom: 0;
      .col {
        padding: 0;
      }
    }
  }

  .info-section {
    overflow-x: hidden;
    text-align: center;
    line-height: 2rem;
    font-size: 12px;
    font-weight: 300;
    color: #717171;

    .info-title {
      color: #7ED321;
      font-size: 35px;
      font-weight: 600;
      letter-spacing: -1.5px;
      line-height: 61px;
    }

    .info-block-line {
      width: 40px;
      height: 4px;
      background-color: #7ED321;
      margin: 20px auto 50px;
    }

    .info-sub-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: #fafafa;
      padding: 20px 0;
    }

    .info-wrapper {
      position: relative;

      //&nbsp 해결안됨
      img {
        width: 100%;
        padding-top: 20px;
        line-height: 0;
        font-size: 0;
      }

    }
  }

  .sub-info-section {
    padding: 100px 30px;
    position: relative;

    .info-wrapper {
      color: #333333;

      h2.info-title {
        color: #333333;
      }
      h3.info-sub-title {
        color: #333333;
        font-weight: 600;
      }

      //how it works - section

      a.how-ctn-button {
        color: #fafafa;
        font-size: 1.5rem;
        font-family: 'Overpass Mono', monospace;
        font-weight: 700;
        vertical-align: middle;
        text-align: center;

        display: table;
        background-color: #1E1E1E;
        padding: 10px 40px;
        border-radius: 50px;
        margin: 30px auto;

      }

      //The best quality - section

      img#thomas {
        position: absolute;
        right: -30%;
        width: 45%;
      }

      img#bill {
        position: absolute;
        bottom: 100px;
        left: -10%;
        width: 15%;
      }

      ul.info-quality {
        //margin: 0 auto;
        display: table;
        margin: 0 auto;

        li {
          margin: 15px auto;
          width: 60%;
          text-align: center;
          vertical-align: middle;

          img {
            width: 20%;
          }
          h4 {
            font-size: 18px;
            font-weight: 600;
          }
          p {
            font-size: 14px;
          }
        }

      }

      //Support report

      .report-section {
        color: #fafafa;
        .info-title {
          color: #F8E71C;
        }
        .info-block-line {
          background-color: #F8E71C;
        }
        .info-sub-title {
          color: #fafafa;
          padding-bottom: 50px;
        }
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 20px;
          font-family: 'Overpass Mono', monospace;
          color: #9B9B9B;
          background-color: #2A2A2A;
          border: 1px solid #414141;
          border-radius: 10px;
          width: 80%;
          padding: 10px 5px;
          margin: 15px auto 50px;
        }

        a.report-ctn-button {
          color: #fafafa;
          font-size: 1.5rem;
          font-family: 'Overpass Mono', monospace;
          font-weight: 700;
          vertical-align: middle;
          text-align: center;

          display: table;
          background-color: #1E1E1E;
          padding: 10px 40px;
          border-radius: 50px;
          margin: 30px auto;

        }

      }

    }

  }


  //mobile
  @media #{$medium-and-up} { // 640

    .best-product {

      .best-product-list-wrap {

        .best-product-wrap {

          .product-info-wrap {

            a {
              font-size: 2rem;
            }

            p {

              &#product-price {
                font-size: 1.5rem;
              }

              &#product-size {
                font-size: 1rem;
              }

            }

          }

        }

      }

    }

    .info-section {

      .info-wrapper {
        font-size: 20px;
        line-height: 250%;

        .info-title {
          font-size: 40px;

        }

        .info-sub-title {
          font-size: 24px;

        }

        //&nbsp 해결안됨
        img {
          width: 60%;
        }

      }
    }

    .sub-info-section {

      .info-wrapper {

        //The best quality - section

        img#bill {
          bottom: 20px;
        }

        ul.info-quality {

          li {
            width: 60%;
            padding-bottom: 20px;

            img {
              width: 25%;
            }
            h4 {
              font-size: 1.8rem;
            }
            p {
              font-size: 1.5rem;
            }
          }

        }

        //Support report

        .report-section {

          h4 {
            font-size: 1.5rem;
          }
          p {
            width: 80%;
            padding: 5px 5px;
            margin: 30px auto 85px;
          }

        }

      }

    }

  }


  // table
  @media #{$large-and-up} { // 993

    .best-product {

      .best-product-list-wrap {

        .best-product-wrap {

          .product-info-wrap {

            a {
              font-size: 2rem;
            }

            p {

              &#product-price {
                font-size: 1.5rem;
              }

              &#product-size {
                font-size: 1rem;
              }

            }

          }

        }

      }

    }

    .sub-info-section {

      .info-wrapper {

        //The best quality - section

        img#bill {
          bottom: 20px;
        }

        ul.info-quality {

          li {
            width: 60%;
            padding-bottom: 20px;

            img {
              width: 25%;
            }
            h4 {
              font-size: 1.8rem;
            }
            p {
              font-size: 1.5rem;
            }
          }

        }

        //Support report

        .report-section {

          h4 {
            font-size: 1.5rem;
          }
          p {
            width: 80%;
            padding: 5px 5px;
            margin: 30px auto 85px;
          }

        }

      }

    }

  }


  // desktop
  @media #{$extra-large-and-up} { // 1200

  }

}







