/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */

/* The Nivo Slider styles */
.xans-photoslide2 .nivoSlider, .xans-photoslider-slide .nivoSlider {
    overflow:hidden;
    position:relative;
    margin:0 auto;
    background:#fff url("http://img.echosting.cafe24.com/apps/photo-slider/skin1/img-loading.gif") no-repeat 50% 50%;
}
.xans-photoslide2 .nivoSlider img , .xans-photoslider-slide .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
/* If an image is wrapped in a link */
.xans-photoslide2 .nivoSlider a.nivo-imageLink , .xans-photoslider-slide .nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.xans-photoslide2 .nivo-slice , .xans-photoslider-slide .nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
}
.xans-photoslide2 .nivo-box , .xans-photoslider-slide .nivo-box {
    display:block;
    position:absolute;
    z-index:5;
}
/* Caption styles */
.xans-photoslide2 .nivo-caption , .xans-photoslider-slide .nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    height:24px;
    padding:6px 0 0 0;
    background:url("http://img.echosting.cafe24.com/apps/photo-slider/skin2/bg-title.png") 0 0 repeat-x;
    color:#fff;
    font-size:12px;
    line-height:180%;
    opacity:1; /* Overridden by captionOpacity setting */
    width:100%;
    z-index:8;
}
.xans-photoslide2 .nivo-caption p , .xans-photoslider-slide .nivo-caption p {
    margin:0;
    padding:0 130px 0 11px;
}
.xans-photoslide2 .nivo-caption a , .xans-photoslider-slide .nivo-caption a {
    display:inline !important;
    color:#fff;
}
.xans-photoslide2 .nivo-html-caption , .xans-photoslider-slide .nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.xans-photoslide2 .nivo-directionNav a , .xans-photoslider-slide .nivo-directionNav a {
    display:block;
    overflow:hidden;
    position:absolute;
    top:50%;
    z-index:9;
    width:51px;
    height:51px;
    margin:-26px 0 0;
    background:url("http://img.echosting.cafe24.com/apps/photo-slider/skin2/sfix-ico.png") 0 -23px no-repeat;
    text-indent:100%;
    white-space:nowrap;
    cursor:pointer;
}
.xans-photoslide2 .nivo-prevNav , .xans-photoslider-slide .nivo-prevNav {
    left:12px; background-position:0 -23px;
}
.xans-photoslide2 .nivo-prevNav:hover , .xans-photoslider-slide .nivo-prevNav:hover {
    background-position:-61px -23px;
}
.xans-photoslide2 .theme-default .nivo-nextNav , .xans-photoslider-slide .theme-default .nivo-nextNav {
    right:12px; background-position:0 -84px;
}
.xans-photoslide2 .theme-default .nivo-nextNav:hover , .xans-photoslider-slide .theme-default .nivo-nextNav:hover {
    background-position:-61px -84px;
}
/* Control nav styles (e.g. 1,2,3...) */
.xans-photoslide2 .nivo-controlNav , .xans-photoslider-slide .nivo-controlNav {
    position:absolute;
    right:15px;
    bottom:8px;
    z-index:11
}
.xans-photoslide2 .nivo-controlNav a , .xans-photoslider-slide .nivo-controlNav a {
    overflow:hidden;
    position:relative;
    z-index:9;
    float:left;
    width:22px;
    height:6px;
    margin:0 0 0 3px;
    padding:4px 0;
    background:url("http://img.echosting.cafe24.com/apps/photo-slider/skin2/sfix-ico.png") 0 4px no-repeat;
    text-indent:100%;
    white-space:nowrap;
    cursor:pointer;

}
.xans-photoslide2 .nivo-controlNav a.active , .xans-photoslider-slide .nivo-controlNav a.active {
    background-position:-32px 4px;
}