@charset "utf-8";

table tr.radioType input,
span.noBorder input { border:none !important; width:auto !important; height:auto !important; margin:0 3px 0 0 !important; vertical-align:middle !important; background:none !important; }
[id*="content_CONTAINER"] table.seLayout { border:0; margin:-1px 0; table-layout:auto; }
[id*="content_CONTAINER"] table.seLayout td { width:auto !important; border-left:0 !important; border-right:0 !important; background:#f8f8f8 !important; }
[id*="content_CONTAINER"] #content_TOOLBAR_RECOVER table { table-layout:auto; margin:0; }
[id*="content_CONTAINER"] #content_TOOLBAR_RECOVER table td { font-size:8pt; background:#c1d2ee !important; }
table.nneditor-table { margin:0 !important; width:auto !important; }
.nnContents table { table-layout:auto; }

/* 결제진행바 */
#progressPaybarBackground { position:absolute; z-index:99; left:0; top:0; width:100%; height:100%; }
#progressPaybarView { position:absolute; z-index:100; top:160px; left:20px; width:471px; font-size:12px; }
#progressPaybarView .box { height:180px; background:url(http://img.cafe24.com/images/ec_hosting/popup/layer_guide/bg_layer_box1.gif) 0 0 no-repeat; }
#progressPaybarView .box .graph { padding:15px 0 0 0; text-align:center; }
#progressPaybarView .box .graph span { display:block; text-align:center; margin:20px 0; }
#progressPaybarView .box .txt { text-align:center; padding:15px 0 0; color:#555; }
div.layerProgress { filter:alpha(opacity=40); opacity:0.4; -moz-opacity:0.4; background-color:#999; }

/* contents */
#skipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; height:0; }
#skipNavigation p, #skipNavigation ul, #skipNavigation ul li { height:0; }
#skipNavigation p a { position:absolute; left:0; top:0; display:block; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; color:#000; white-space:nowrap; }
#skipNavigation p a:focus, #skipNavigation p a:hover, #skipNavigation p a:active { width:100%; height:auto; padding:10px 0; background:#c4122f; color:#fff; z-index:100; }
.cl {clear:both;}

/* PRODUCTS 공통 */
 .ec-product-bgLT { background-position:left top; }
 .ec-product-bgLC { background-position:left center; }
 .ec-product-bgLB { background-position:left bottom; }
 .ec-product-bgRT { background-position:right top; }
 .ec-product-bgRC { background-position:right center; }
 .ec-product-bgRB { background-position:right bottom; }
 .ec-product-bgCT { background-position:center top; }
 .ec-product-bgCC { background-position:center center; }
 .ec-product-bgCB { background-position:center bottom; }

 ul.prdList .prdImg { display:block; position:relative; max-width:100%; transition:all 0.3s;}
 ul.prdList .prdImg .deam_pop {display:none; transition:all 0.3s; cursor:pointer;}
 ul.prdList .prdImg ul.prdico {opacity:0; position:absolute; top:0px; right:15px; transition:all 0.3s;}
 ul.prdList .prdImg ul.prdico li, ul.prdList .prdImg .deam_pop ul.prdico div.option {cursor:pointer;}
 ul.prdList .prdImg ul.prdico li span {display:table-cell;vertical-align:middle;}
 ul.prdList .prdImg ul.prdico li {margin:0 0 5px 0;}
 ul.prdList .prdImg ul.prdico li:last-child {margin:0;}
 ul.prdList .prdImg:hover > .deam_pop {display:block; position:absolute; width:100%; height:100%; top:0px; right:0px;}
 ul.prdList .prdImg:hover > ul.prdico {opacity:1; display:block; top:15px;}
 ul.prdList .prdImg > ul.prdico img.ec-product-listwishicon[icon_status="off"]:hover { content: url('/_inno/img/icon_heart_off_2.png');}
 ul.prdList .prdImg > ul.prdico img.ec-admin-icon.cart:hover { content: url('/_inno/img/icon_bag_2.png');}
 ul.prdList > li > div.thumbnail a img {max-width:100%;}
 ul.prdList .prdIcon { position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; }
 ul.prdList .thumb { width:100%;}
 /* ul.prdList .status { margin:0 0 16px; padding:0 40px 4px 0; border-bottom:1px solid #e8e8e8; text-align:right; line-height:0; *zoom:1; }
 ul.prdList .status:after { content:""; display:block; clear:both; } */
 ul.prdList .icon {position:absolute; bottom:10px; left:10px;}
 ul.prdList .icon img { margin:0 1px 0; }
 ul.prdList .button { margin:0 -40px 0 0; *zoom:1; }
 ul.prdList .button img { margin:0 0 2px -3px; cursor:pointer; }
 ul.prdList .button .option { display:inline; position:relative; *zoom:1; }
 ul.prdList .mileage { display:block; }
 ul.prdList span.grid { display:block; }

 p.name {text-align:left; line-height:130%; padding:5px 0px;}

/* 진열방식 */
 ul.prdList.column2 li.item { width:50%; }
 ul.prdList.column3 li.item { width:33.33%; }
 ul.prdList.column4 li.item { width:25%; }
 ul.prdList.column5 li.item { width:20%; }
 ul.prdList.column6 li.item { width:16.66%; }
 ul.prdList.column7 li.item { width:14.28%; }
 ul.prdList li.item .box {}
 ul.prdList.column4 li.item { width:23.5%; margin: 20px 2% 20px 0;}
 ul.prdList.column4 li.item:nth-child(4n) {margin: 20px 0% 20px 0;}

 ul.prdList.column2.wyImgSizeFixed li.item .box { min-width:354px; }
 ul.prdList.column3.wyImgSizeFixed li.item .box { min-width:232px; }
 ul.prdList.column4.wyImgSizeFixed li.item .box { min-width:170px; }
 ul.prdList.column5.wyImgSizeFixed li.item .box { min-width:134px; }
 ul.prdList.column6.wyImgSizeFixed li.item .box { min-width:108px; }
 ul.prdList.column7.wyImgSizeFixed li.item .box { min-width:92px; }
 ul.prdList.wyImgSizeFixed li.item .thumb { width:240px; height:240px; }
 ul.prdList.wyImgSizeFlex li.item .thumb { width:100%; }

/* module="product_ListItem" */
 .xans-product-listitem {}

/* 할인기간 레이어 */
 .discountPeriod { display:inline-block; z-index:10; position:relative; width:55px; height:19px; vertical-align:middle; *zoom:1; *display:inline; }
 .discountPeriod .edge { position:absolute; left:50%; top:-6px; width:10px; height:6px; margin:0 0 0 -5px; font-size:0; line-height:0; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_edge.gif") no-repeat 0 0; }
 .layerDiscountPeriod { display:none; position:absolute; left:50%; top:26px; width:247px; margin:0 0 0 -124px; border:1px solid #565960; background-color:#fff; }
 .layerDiscountPeriod strong.title { display:block; margin:0 0 12px; padding:0 35px 0 0; }
 .layerDiscountPeriod .content { padding:9px 10px 12px 14px; }
 .layerDiscountPeriod .content p { margin:2px 0 0; line-height:16px; letter-spacing:-1px; }
 .layerDiscountPeriod .close { position:absolute; right:14px; top:14px; }
 .layerDiscountPeriod .close img { cursor:pointer; }

/* 배송비레이어 */
 .prdList .shippingFee { position:relative; display:inline-block; }
 .prdList .shippingFee .button { display:inline-block; float:none; }
 .prdList .shippingFee .ec-base-tooltip { display:block; margin:0 0 0 -170px; width:360px; }
 .prdList .shippingFee .ec-base-tooltip table th { width:40px; }
 .prdList .shippingFee .ec-base-tooltip table th,
 .prdList .shippingFee .ec-base-tooltip table td { padding:7px 10px 8px 10px; }

 /* 툴팁 */
 .ec-base-tooltip { display:none; z-index:11; position:absolute; top:24px; padding:15px; border:1px solid #565960; background:#fff;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
}
 .ec-base-tooltip h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; background:url("http://img.echosting.cafe24.com/skin/base/common/ico_layer_title.gif") no-repeat 0 50%; }
 .ec-base-tooltip h3 + p { margin:0 10px 8px; }
 .ec-base-tooltip h4 { margin:15px 10px 8px 5px; font-size:12px; }
 .ec-base-tooltip h4:before { display:inline-block; content:""; margin:0 5px 0 0; width:3px; height:3px; background:#666; vertical-align:middle; }
 .ec-base-tooltip .btnClose { position:absolute; right:14px; top:14px; }
 .ec-base-tooltip .edge { z-index:20; position:absolute; left:50%; top:-6px; display:block; margin:0 0 0 -5px; width:10px; height:6px; }
 .ec-base-tooltip .edge:before,
 .ec-base-tooltip .edge:after { display:inline-block; content:""; position:absolute; top:0; width:0; height:0; border:solid transparent; }
 .ec-base-tooltip .edge:before { margin:1px 0 0; border-bottom-color:#565960; border-width:0 5px 5px 5px; }
 .ec-base-tooltip .edge:after { left:1px; margin:2px 0 0; border-bottom-color:#fff; border-width:0 4px 4px 4px; }
 .ec-base-tooltip table th,
 .ec-base-tooltip table td { padding:7px 10px 8px 10px; border:1px solid #e8e8e8; line-height:1.3em; }
 .ec-base-tooltip table th { padding-right:0; background:#fbf9fa; }
 .ec-base-tooltip table thead th { text-align:center; }
 .ec-base-tooltip table tbody th { text-align:left; }
 .ec-base-tooltip table .left { text-align:left; }
 .ec-base-tooltip table .center { text-align:center; }
 .ec-base-tooltip table .right { text-align:right; }
 .ec-base-tooltip table .info { padding:0; color:#757575; }
 .ec-base-tooltip table p.info:before,
 .ec-base-tooltip table ul.info li:before { display:inline-block; content:""; margin:0 3px 0 0; width:4px; height:1px; background:#757575; vertical-align:middle; }
 .ec-base-tooltip .info { padding:10px 10px 0; margin:5px 0 0; }
 .ec-base-tooltip p.bullet,
 .ec-base-tooltip ul.bullet { margin:8px 10px; }
 .ec-base-tooltip p.bullet:before,
 .ec-base-tooltip ul.bullet li:before { display:inline-block; content:""; margin:-3px 3px 0 0; width:0; height:0; border:solid transparent; border-left-color:#333; border-width:2px 0 2px 2px; vertical-align:middle; }
 .ec-base-tooltip ul.bullet li { line-height:1.5em; }
 .ec-base-tooltip .txtEm { color:#008bcc; }
 .ec-base-tooltip .txtWarn { color:#f65b54; }