/* 토글 */
.xans-myshop-orderhistorydetail .toggleArea { position:relative; }
.xans-myshop-orderhistorydetail .toggleArea > .title,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea > .title { position:relative; padding:14px 43px 14px 14px; cursor:pointer; line-height:1.3em; background-color:#737782; color:#fff; -webkit-tap-highlight-color: rgba(255,255,255,0); }
.xans-myshop-orderhistorydetail .toggleArea > .title:after,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea > .title:after { display:block; position:absolute; top:0; right:0; content:""; width:40px; height:100%; background-repeat:no-repeat; background-size:20px; background-position:center; background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_white.png"); }
.xans-myshop-orderhistorydetail .toggleArea.selected > .title:after,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea.selected > .title:after { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg); }
.xans-myshop-orderhistorydetail .toggleArea.disable > .title:after,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea.disable > .title:after { background-image:none !important; }
.xans-myshop-orderhistorydetail .toggleArea > .title h2,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea > .title h2 { display:inline-block; font-size:13px; }
.xans-myshop-orderhistorydetail .toggleArea > .contents,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea > .contents { display:none; box-sizing:border-box; border:1px solid #d5d5d5; border-top:0; }
.xans-myshop-orderhistorydetail .toggleArea.selected > .contents,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea.selected > .contents,
.xans-myshop-orderhistorydetail .toggleArea .toggleArea.disable > .contents { display:block; }

.xans-myshop-orderhistorydetail .toggleArea.type1 > .contents { border-top:0; }
.xans-myshop-orderhistorydetail .toggleArea.type2 > .title { overflow:hidden; position:relative; margin:0; padding:14px 38px 14px 14px; cursor:pointer; border-bottom:1px solid #ececec; background-color:#f1f1f1; color:#757575; -webkit-tap-highlight-color: rgba(255,255,255,0); }
.xans-myshop-orderhistorydetail .toggleArea.type2 > .title:after { display:block; position:absolute; top:0; right:0; content:""; width:40px; height:100%; background-repeat:no-repeat; background-size:20px; background-position:center; background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_gray.png"); }
.xans-myshop-orderhistorydetail .toggleArea.type2 > .title h3 { float:left; display:inline; font-weight:normal; font-size:13px; }
.xans-myshop-orderhistorydetail .toggleArea.type2 > .contents { border:0; }
.xans-myshop-orderhistorydetail .toggleArea .title p { float:right; color:#757575; text-align:right; }
.xans-myshop-orderhistorydetail .toggleArea .title p strong,
.xans-myshop-orderhistorydetail .toggleArea .title p span { display:inline-block; word-break:break-all; }
.xans-myshop-orderhistorydetail .toggleArea .subTitle { padding:14px 43px 14px 14px; line-height:1.3em; background-color:#f0f0f0; color:#508bed; border-bottom:1px solid #d5d5d5; -webkit-tap-highlight-color: rgba(255,255,255,0); }

.xans-myshop-orderhistorydetail .toggleArea.type3 { margin:0; border-top:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .toggleArea.type3 > .title { position:relative; margin:0; padding:0; border:0; cursor:pointer; font-weight:bold; background-color:#f9f9f9; color:#1b1b1b; -webkit-tap-highlight-color: rgba(255,255,255,0); }
.xans-myshop-orderhistorydetail .toggleArea.type3 > .title:after { display:block; position:absolute; top:0; right:0; content:""; width:40px; height:100%; background-repeat:no-repeat; background-size:20px; background-position:center; background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_gray.png"); }
.xans-myshop-orderhistorydetail .toggleArea.type3 .contents { margin:14px 0 0; padding:0; border:0; }

/* 상품정보 */
.xans-myshop-orderhistorydetail .title { margin:7px 0 0; }
.xans-myshop-orderhistorydetail { margin:14px 7px 0; padding:0 0 29px; }
.xans-myshop-orderhistorydetail .prdInfo {  background-color:#fff; }
.xans-myshop-orderhistorydetail .description { position:relative; min-height:90px; padding:14px 0 0 104px; border-top:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .description .prdImg { position:absolute; left:14px; top:14px; z-index:10; width:73px; border:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .description .prdImg img { width:100%; }
.xans-myshop-orderhistorydetail .description .prdName { display:block; margin:0 0 14px; font-size:13px; }
.xans-myshop-orderhistorydetail .description .info li { margin:0 0 7px; font-size:11px; color:#757575; }
.xans-myshop-orderhistorydetail .description .prdTotal { margin:14px 0; font-size:13px; }
.xans-myshop-orderhistorydetail .description .prdTotal span > span > span { font-size:11px; }
.xans-myshop-orderhistorydetail .description .prdTotal span span.discount { text-decoration:line-through; }
.xans-myshop-orderhistorydetail .description .prdTotal span span.discount strong {font-weight:normal; }
.xans-myshop-orderhistorydetail .description .prdTotal .quantity { position:relative; display:inline-block; margin:0 0 0 10px; padding:0 0 0 14px; font-size:13px; }
.xans-myshop-orderhistorydetail .description .prdTotal .quantity:before { display:block; content:""; position:absolute; top:1px; left:0; width:1px; height:13px; background:#989899; }
.xans-myshop-orderhistorydetail .option { border-top:1px solid #d5d5d5; margin:0 14px; padding:14px 0; }
.xans-myshop-orderhistorydetail .option .file a { margin:0 0 0 4px; padding:0 0 0 11px; color:#80aeef; text-decoration:underline; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/order/ico_attach.png") no-repeat 0 0; background-size:8px 13px; }
.xans-myshop-orderhistorydetail .totalPrice { padding:14px 0 14px 14px; background-color:#f9f9f9; line-height:18px; }
.xans-myshop-orderhistorydetail .totalPrice .txtTitle { display:block; margin:0 0 14px; font-size:13px; font-weight:normal; color:#757575; }
.xans-myshop-orderhistorydetail .status { padding:0 14px; line-height:36px; font-weight:bold; color:#508bed; background:#f1f1f1; }
.xans-myshop-orderhistorydetail .status:after { content:""; display:block; clear:both; }
.xans-myshop-orderhistorydetail .status .store { color:#000; font-weight:normal; }
.xans-myshop-orderhistorydetail .button { float:right; }
.xans-myshop-orderhistorydetail .button .btnBasic { background-color:#fff; }
.xans-myshop-orderhistorydetail .btnArea.typeFull { margin:14px 0; padding:0; }
.xans-myshop-orderhistorydetail .contents .btnArea { max-width:100%; margin:0; padding:7px 14px; border-top:1px solid #d5d5d5; }

/* 리스트 */
.xans-myshop-orderhistorydetail.toggleArea { margin:0 0 7px; }
.xans-myshop-orderhistorydetail.toggleArea.type1 > .contents { border-bottom:none; }
.xans-myshop-orderhistorydetail .boardView table { font-size:13px; word-wrap:break-word; background-color:#fff; }
.xans-myshop-orderhistorydetail .boardView table th { padding:14px 0 14px 14px; border-bottom:1px solid #ececec; font-weight:normal; color:#757575; text-align:left; }
.xans-myshop-orderhistorydetail .boardView table td { padding:14px; border-bottom:1px solid #ececec; }
.xans-myshop-orderhistorydetail .boardView table td > button { margin:7px 0 0; }
.xans-myshop-orderhistorydetail .boardView .totalPay th,
.xans-myshop-orderhistorydetail .boardView .totalPay td { color:#508bed; }
.xans-myshop-orderhistorydetail .boardView .totalPay td { padding:0 38px 0 0; font-size:13px; text-align:right; }
.xans-myshop-orderhistorydetail .boardView table tr:last-child th,
.xans-myshop-orderhistorydetail .boardView table tr:last-child td { border-bottom:0; }
.xans-myshop-orderhistorydetail .boardView .prdInfo { background-color:#f1f1f1; }
.xans-myshop-orderhistorydetail .boardView .prdInfo th,
.xans-myshop-orderhistorydetail .boardView .prdInfo td { border-bottom:1px solid #d5d5d5; font-weight:bold; }
.xans-myshop-orderhistorydetail .boardView .additional ul { margin:14px 0 0; }
.xans-myshop-orderhistorydetail .boardView .additional ul li { padding:0 0 2px 7px; color:#757575; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_dot.png") 0 9px no-repeat; background-size:2px 2px; }
.xans-myshop-orderhistorydetail .boardTotal table td { padding:14px 0; }

.xans-myshop-orderhistorydetail .boardList table { font-size:13px; word-wrap:break-word; background-color:#fff; }
.xans-myshop-orderhistorydetail .boardList table th { padding:14px 0 14px 24px; text-align:left; font-weight:normal; color:#757575; border-bottom:1px solid #ececec; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_bullet.png") 14px center no-repeat; background-size:7px 7px; }
.xans-myshop-orderhistorydetail .boardList table td { padding:14px 38px 14px 0; text-align:right; border-bottom:1px solid #ececec; }
.xans-myshop-orderhistorydetail .boardList table tr:last-child th,
.xans-myshop-orderhistorydetail .boardList table tr:last-child td { border-bottom:0; }
.xans-myshop-orderhistorydetail .boardList table tr:last-child.first th,
.xans-myshop-orderhistorydetail .boardList table tr:last-child.first td { color:#508bed; border-bottom:1px solid #ececec; }
.xans-myshop-orderhistorydetail .boardList + .boardView { border-top:1px solid #ececec; }
.xans-myshop-orderhistorydetail .orderCs .help { margin:0 -1px 0; padding:7px 0 14px 22px; border:solid #f1f1f1; border-width:0 1px 0 1px; background-position:0 7px; }
.xans-myshop-orderhistorydetail .orderCs table { border-bottom:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .orderCs table th { background-image:none; }
.xans-myshop-orderhistorydetail .boardList table.csProduct thead th { text-align:center; border-bottom:1px solid #d5d5d5; background:#f9f9f9; }
.xans-myshop-orderhistorydetail .boardList table.csProduct th:first-child,
.xans-myshop-orderhistorydetail .boardList table.csProduct td:first-child { border-right:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .boardList table.csProduct th,
.xans-myshop-orderhistorydetail .boardList table.csProduct td { padding:14px; }
.xans-myshop-orderhistorydetail .boardList table.csProduct td { text-align:left; }
.xans-myshop-orderhistorydetail .boardList table.csProduct td.quantity { text-align:center; }
.xans-myshop-orderhistorydetail .boardList table.csProduct ul.option { margin:10px 0 0; }
.xans-myshop-orderhistorydetail .boardList table.csProduct span.option { margin:0 0 0 14px; padding:0; border-top-width:0; }
.xans-myshop-orderhistorydetail div.xans-myshop-orderhistorydetailpickup table th { padding-left:14px; background:none; }

/* 수거신청 정보 */
.xans-myshop-orderhistorydetail .cancelAddress .info { padding:14px; line-height:1.5em; background:#fff; }
.xans-myshop-orderhistorydetail .cancelAddress .info span { color:#757575; }

/* 취소/교환/반품 상세정보 */
.xans-myshop-orderhistorydetail .csTitle { line-height:36px; margin:-14px -7px 0; border-bottom:1px solid #d5d5d5; background-color:#f1f1f1; }
.xans-myshop-orderhistorydetail .csTitle h2 { padding:0 0 0 14px; font-size:13px; }
.xans-myshop-orderhistorydetail .boardViewCS .prdInfo { border:1px solid #d5d5d5; margin:14px 0 7px; padding:14px; background-color:#f1f1f1; }
.xans-myshop-orderhistorydetail .boardViewCS .prdInfo strong { font-size:13px; }
.xans-myshop-orderhistorydetail .boardViewCS .option { line-height:15px; margin:7px 0 0; padding:0; border-top:0; }
.xans-myshop-orderhistorydetail .boardViewCS .titleArea { line-height:43px; border:1px solid #d5d5d5; border-top:0; border-bottom:0; background-color:#f1f1f1; }
.xans-myshop-orderhistorydetail .boardViewCS:first-child .titleArea { border-top:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .boardViewCS .titleArea h3 { padding:0 0 0 14px; font-size:13px; text-align:left; color:#508bed; }

.xans-myshop-orderhistorydetail .boardViewCS table { font-size:13px; word-wrap:break-word; border:1px solid #d5d5d5; border-bottom:0; background-color:#fff; }
.xans-myshop-orderhistorydetail .boardViewCS table tbody th { padding:14px 0 14px 14px; border-bottom:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .boardViewCS table tbody td { padding:14px 14px 14px 0; border-bottom:1px solid #d5d5d5; }
.xans-myshop-orderhistorydetail .boardViewCS table tbody th { text-align:left; color:#757575; font-weight:normal; }
.xans-myshop-orderhistorydetail .btnClose { position:absolute; top:0px; right:7px; z-index:110; width:36px; height:36px; border:0; padding:0; font-size:0; text-indent:100%; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_close_gray.png") center center no-repeat; background-size:14px 14px; }

/* 고객알림 */
.xans-myshop-orderhistorydetail .customer { padding:14px; background-color:#fff; font-size:13px; color:#56595c; }
