.header-gnb {
  @extend .font-mono;
  position: relative;
  background-color: #1E1E1E;
  z-index: 1;
  height: 70px;
  display: none;
  padding-top: 15px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    li {
      float: left;
      padding: 0;
      margin: 0;

      a {
        display: block;
        color: #fff;
        line-height: 35px;
        font-size: 0.9em;
        font-weight: 300;
        padding: 0 10px;
      }
    }
  }

  ul.left {
    a.brand-logo {
      display: none;
      margin-top: 5px;
      height: 30px;
      width: auto;
      padding: 0;

      img {
        display: block;
        width: auto;
        height: 30px;
        float: left;
      }
      span {
        margin-left: 10px;
        display: block;
        line-height: 30px;
        float: left;
        @extend .font-BM-DOHYUN;
        font-size: 1.3em;
        vertical-align: middle;
      }
    }

  }

  ul.right {
    //display: none;
    li {
      a.quick-account {

      }

      .log-in {
        &:hover {
          color: #FDDE00;
        }
      }
      .sign-up {
        &:hover {
          color: #7ED321;
        }
      }

    }

  }
  //mobile
  @media #{$medium-and-up} { // 640

  }

  // table
  @media #{$large-and-up} { // 993
    display: block;

    ul.left {
      a.brand-logo {
        display: block;

      }

    }

  }

  // desktop
  @media #{$extra-large-and-up} { // 1200

  }
}