.xans-product-additional .cont { padding:27px 0px; line-height:1.5; }
.xans-product-additional .cont h3 { margin:0 0 20px; }

/* 상품 게시판 */
.xans-product-additional div.board { padding:27px 0 46px; line-height:1.5; }
.xans-product-additional div.board h3 { padding:0 10px 0 9px; }
.xans-product-additional div.board p.desc { padding:0 10px 0 9px; }
.xans-product-additional div.board p.nodata {padding:13px 0; text-align:center; }
.xans-product-additional div.board > .buttonArea {margin:15px 0 ; }

.xans-product-additional table .subject img { vertical-align:middle; margin:0 1px; }
.xans-product-additional table td .view { padding:16px 19px 0; line-height:1.5; text-align:left; }

.xans-product-additional .commentSecretForm td { padding:0; }
.xans-product-additional .commentSecretForm td .secretForm { background:#fbf9fa; }
.xans-product-additional .commentSecretForm td .secretForm .view { padding:8px 0 7px 0; }
.xans-product-additional #product-review-read td .secretForm .view { padding-left:79px; }
.xans-product-additional #product-qna-read td .secretForm .view { padding-left:213px; }
.xans-product-additional .commentSecretForm td .secretForm #secure_btn { width:41px; height:24px; border:0; font-size:0; line-height:0; cursor:pointer; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/btn_ico_submit.gif") no-repeat 0 center; }
.xans-product-additional .commentSecretForm td .secretForm #secure_password { width:130px; }

.xans-product-additional .boardComment { padding:0 19px; }
.xans-product-additional .boardComment li { position:relative; overflow:hidden; margin:10px 0 0 0; padding:12px 0 0; border-top:1px solid #d7d5d6; text-align:left; }
.xans-product-additional .boardComment li img { vertical-align:middle; }
.xans-product-additional .boardComment li:first-child { margin-top:0; }
.xans-product-additional .boardComment li .comment { margin:9px 0 0; padding:16px 0 15px 9px; border-top:1px solid #e9e9e9; line-height:1.5; word-break:break-all; }
.xans-product-additional .boardComment li .name #secure0 { width:13px; }
.xans-product-additional .boardComment li .buttonArea { position:absolute; right:0; top:6px; margin:0; }

.xans-product-additional .memoCont { margin:20px 15px; padding:10px 20px 15px 20px; border:1px solid #e9e9e9; text-align:left; background:#fbfafa; }
.xans-product-additional .memoCont .text { overflow:hidden; padding:0 82px 0 0; }
.xans-product-additional .memoCont .text textarea { float:left; height:44px; padding:2px 2px 2px 4px; *margin-right:10px; }
.xans-product-additional .memoCont .text a { float:right; margin:0 -82px 0 0; }
.xans-product-additional .memoCont .captcha { margin:8px 0 0; padding:10px 0 0; border-top:1px solid #e9e9e9; }
.xans-product-additional .memoCont .captcha img { vertical-align:middle; }
.xans-product-additional .memoCont .text #comment_name,
.xans-product-additional .memoCont .text #comment_password { width:135px; }

.xans-product-additional table td .view + form .memoCont { margin-top:0; }

/* 댓글의 댓글 */
.xans-product-additional .boardComment li.replyArea { margin:-1px 0 0; padding:10px 0 7px 33px; border:1px solid #e9e9e9; background:url("http://img.echosting.cafe24.com/skin/admin_ko_KR/board/ico_comment.gif") no-repeat 20px 15px; }
.xans-product-additional .boardComment li.replyArea .commentSecret { margin-right:30px; }
.xans-product-additional .boardComment li.replyArea .comment { margin:7px 0 0; padding:0; border-top:0; }

/* 권한없을시 */
.xans-product-additional .noAccess { margin:15px 0 10px; padding:13px 0 13px 0; border:1px solid #d7d5d5; text-align:center; }

/* 미성년자 */
.xans-product-additional .minor { margin:15px 0 0; padding:35px 0 24px; border:1px solid #d7d5d5; line-height:1.17; text-align:center; }
.xans-product-additional .minor p:first-child img { margin:-11px 8px 0 0; vertical-align:top; }

/* 비밀글 관련 */
.xans-product-additional .commentSecret { margin:10px 10px 5px 0; padding:10px 15px; border:1px solid #e9e9e9; background:#fbfafa; }