.mid-0.xans-product-listcompare th { width:116px; }
.mid-0.xans-product-listcompare td { min-width:150px; }

.mid-0.xans-product-listcompare .xans-product-compareoptionlist input[type="text"],
.mid-0.xans-product-listcompare .xans-product-compareoptionlist select { width:95%; }

.mid-0.xans-product-listcompare ul.item { margin:3px 0 0; }
.mid-0.xans-product-listcompare ul.item li { margin:2px 0 0; line-height:18px; }

div[class*="tableTheme"].mid-0 .xans-product-quantity td .quantity input { height:19px; line-height:19px; }

.mid-0.xans-product-listcompare .buttonArea .gLeft span {margin-right:4px; }