.popup { min-width:620px; height:570px; }
.xans-product-recommmail .prdThumb { float:left; margin:0 15px 0 0; }
.xans-product-recommmail #content { height:80px; width:97%; }
.xans-product-recommmail #tmp_image_name_str { width:80px; }