/* .searchbox */
.xans-search-form .searchbox { margin:20px 0; padding:17px 20px 35px 350px; border:5px solid #e8e8e8; background:#fff url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/bg_search.gif") no-repeat 88px 30px; }
.xans-search-form dl.desc { overflow:hidden; width:600px; float:left; }
.xans-search-form dl.desc dt, .xans-search-form dl.desc dd { float:left; margin:0 0 5px; }
.xans-search-form dl.desc dt { width:92px; }
.xans-search-form dl.desc dd { width:508px; }
.xans-search-form .searchbox .popular { padding:0 0 0 72px; line-height:18px; *zoom:1; }
.xans-search-form .searchbox .popular.xans-search-hotkeyword { padding-bottom:17px; }
.xans-search-form .searchbox .popular:after { content:""; display:block; clear:both; }
.xans-search-form .searchbox .popular strong { float:left; margin:0 0 0 -72px; }
.xans-search-form .searchbox .popular p a { margin:0 3px 0 0; padding:0 0 0 8px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/bg_popular_search.gif") no-repeat 0 3px; }
.xans-search-form .searchbox .popular p a:first-child { padding-left:0; background:none; }
.xans-search-form .searchbox .popular a:hover { text-decoration:none; }
.xans-search-form .searchbox .buttonArea { padding:20px 0 0 92px; }

/* Input Size */
.xans-search-form .searchbox #category_no,
.xans-search-form .searchbox #order_by { width:400px; }
.xans-search-form .searchbox #search_type { width:120px; }
.xans-search-form .searchbox #keyword { width:265px; }
.xans-search-form .searchbox #exceptkeyword { width:317px; }
.xans-search-form .searchbox #product_price1,
.xans-search-form .searchbox #product_price2 { width:131px; }

/* searchResult */
.xans-search-form .searchResult { overflow:hidden; border:1px solid #d7d5d5; text-align:right; line-height:38px; }
.xans-search-form .searchResult .record { float:left; padding:0 0 0 8px; }
.xans-search-form .searchResult .listType { display:inline; margin:0 4px 0 0; }
.xans-search-form .searchResult .listType li { display:inline; padding:0 6px 0 10px; cursor:pointer; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/bg_result_type.gif") no-repeat 0 50%; }
.xans-search-form .searchResult .listType li:first-child { background:none; }