.xans-product-sizeguide.layerTheme { margin-top:-360px; }
.xans-product-sizeguide.layerTheme { position:fixed; top:50%; left:50%; width:820px; margin:-360px 0 0 -410px; }
.xans-product-sizeguide.layerTheme h3 { position:relative; border:1px solid #333; border-width:0 1px 0 1px; }
.xans-product-sizeguide.layerTheme .content { overflow:auto; position:relative; max-height:645px; max-height:735px\9; zoom:1; }

.xans-product-sizeguide.layerTheme .category { display:block; padding:0 0 0 10px; background: url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_customer.gif") no-repeat 1px 4px; }
.xans-product-sizeguide.layerTheme .userGuide img { max-width:100%; height:auto !important; }
.xans-product-sizeguide.layerTheme .userGuide table th,
.xans-product-sizeguide.layerTheme .userGuide table td { word-break:break-all; }

.xans-product-sizeguide.layerTheme .info { margin:10px 0 0; line-height:20px; }
.xans-product-sizeguide.layerTheme .info span { display:block; padding:0 0 0 15px; }