.xans-myshop-bankbook .boxTheme {display:table; width:100%; table-layout:fixed;}
.xans-myshop-bankbook .boxTheme > dl {display:table-cell;}
.xans-myshop-bankbook .boxTheme > dl > dt {text-align:center; font-size:14px; letter-spacing:-0.05em; background:#f0eceb; padding:17px 0;}
.xans-myshop-bankbook .boxTheme > dl > dd {text-align:center; padding:13px 0;}
.xans-myshop-bankbook .boxTheme > span input { width:439px; }

.xans-myshop-asyncbankbook { margin:20px 0 0; }
.xans-myshop-asyncbankbook .boxTheme {display:table; width:calc(100% - 40px); table-layout:fixed;}
.xans-myshop-asyncbankbook .boxTheme > dl {display:table-cell;}
.xans-myshop-asyncbankbook .boxTheme > dl > dt {text-align:center; font-size:14px; letter-spacing:-0.05em; background:#f0eceb; padding:17px 0;}
.xans-myshop-asyncbankbook .boxTheme > dl > dd {text-align:center; padding:13px 0;}
.xans-myshop-asyncbankbook .boxTheme > span input { width:439px; }