.popup { width:600px; min-width:0; min-height:360px; }
.header h1 { padding:0 0 0 20px; font-size:14px; }
.content { padding:20px 20px 40px; }
.btnArea { position:fixed; bottom:0; left:0; width:100%; padding:10px 0; border-top:1px solid #d7d5d5; text-align:center; background:#fbfafa; }
.btnSearch { margin:10px 0 20px; text-align:center; }
.xans-myshop-ordersearchproductform.layerTheme,
.xans-myshop-ordersearchproductform.layerTheme .content { border:0; }
.xans-myshop-ordersearchproductform .tableTheme { color:#777; line-height:20px; }
.xans-myshop-ordersearchproductform table { table-layout:fixed; margin:0; }
.xans-myshop-ordersearchproductform img { vertical-align:middle; }
.xans-myshop-ordersearchproductform select { max-width:95%; height:24px; }
.xans-myshop-ordersearchproductform input { width:340px; height:14px; padding:3px; border:1px solid #d9d9d9; color:#000; font-size:12px; }
.xans-myshop-ordersearchproductform .listCtrl { overflow:hidden; margin:0 0 10px; }
.xans-myshop-ordersearchproductform .listCtrl .result { float:left; }
.xans-myshop-ordersearchproductform .listCtrl .select { float:right; }
.xans-myshop-ordersearchproductform .searchResult { border-bottom:1px solid #d7d5d5; color:#353535; font-size:12px; line-height:140%;}
.xans-myshop-ordersearchproductform .searchResult th.select select { height:24px; }
.xans-myshop-ordersearchproductform .searchResult .typeBody { overflow-x:hidden; overflow-y:scroll; max-height:285px; min-height:35px; }
.xans-myshop-ordersearchproductform .searchResult td.product { overflow:hidden; padding-left:10px; text-align:left; vertical-align:top; }
.xans-myshop-ordersearchproductform .searchResult td.product a { color:#747474; }
.xans-myshop-ordersearchproductform .searchResult td.product p { padding:0 0 0 55px; }
.xans-myshop-ordersearchproductform .searchResult td.product .thumbnail { float:left; }
.xans-myshop-ordersearchproductform .searchResult td.product .thumbnail img { width:46px; }
.xans-myshop-ordersearchproductform .searchResult .empty td { padding:130px 0; }