.xans-layout-login { margin:0; padding:0 0 10px; }
.xans-layout-login fieldset {
    overflow:hidden; min-width:100%;
}
.xans-layout-login .check span,
.xans-layout-login .check #member_id,
.xans-layout-login .check #member_passwd {
    height:32px; line-height:32px;
}
.xans-layout-login .check span {
    overflow:hidden; display:block; margin:0 0 5px; border-radius:2px;
    width:auto;
    border:1px solid #d9d9d9;
    padding:0;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
    *zoom:1;
}
.xans-layout-login .check span,
.xans-layout-login .check input { background:#fff; }
.xans-layout-login .check label { float:left; width:35%; padding:0 0 0 8px; }
.xans-layout-login .check #member_id,
.xans-layout-login .check #member_passwd { float:left; width:50%; border:0; }
.xans-layout-login .security { margin:10px 0 0 10px; }
.xans-layout-login .security input[type=checkbox] { width:13px; }
.xans-layout-login ul li { padding:2px 0 2px 24px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_login.png") no-repeat 10px 60%; }