#searchBarForm{ float:right;}
.xans-layout-searchheader { float:right;}
.xans-layout-searchheader fieldset { border:1px solid #d9d9d9; border-radius:2px; }
.xans-layout-searchheader #keyword  { width:13px; height:32px; padding:0 0 0 9px; border:0; line-height:32px; font-size:12px; color:#7c8389; background:#fff; }