/* common */
.xans-instagramwidget-display { margin:50px auto; padding:0px; text-align:center; }
.xans-instagramwidget-display h2 { margin:0 0 15px; font-weight:normal; }
.xans-instagramwidget-display h2 a { font-size:17px; color:#2e2e2e;   letter-spacing:0.2em; text-decoration:none; display:inline-block; min-height:24px; background:url('/layout/basic/img/img_instagram.png') left 1px no-repeat; padding-left:28px;}
.xans-instagramwidget-display .idTag { position:relative; display:inline-block; height:25px; margin:0 0 25px; line-height:25px; white-space:nowrap; background:#3d3d3d; }
.xans-instagramwidget-display .idTag a { display:inline-block; margin:0 2px; color:#fffeff; font-size:12px; font-weight:normal; text-decoration:none; }
.xans-instagramwidget-display .idTag:before, .xans-instagramwidget-display .idTag:after { content:""; position:absolute; top:0; display:inline-block; width:15px; height:25px; background:url("//img.echosting.cafe24.com/apps/instagram-widget/skin1/bg_tag.png") no-repeat 0 0; }
.xans-instagramwidget-display .idTag:before { left:-15px; }
.xans-instagramwidget-display .idTag:after { right:-15px; background-position:100% 0; }
.xans-instagramwidget-display .thumb.fadeIn li a { opacity:0.3; filter:alpha(opacity=30); }
.xans-instagramwidget-display .thumb.fadeIn li a:hover { filter:alpha(opacity=100); opacity:1; transition:opacity 0.8s; -webkit-transition:opacity 0.8s; -moz-transition:opacity 0.8s; -o-transition:opacity 0.8s; }
.xans-instagramwidget-display .thumb.fadeOut li a:hover { filter:alpha(opacity=30); opacity:0.3; transition:opacity 0.8s; -webkit-transition:opacity 0.8s; -moz-transition:opacity 0.8s; -o-transition:opacity 0.8s; }

/* typeGrid */
.xans-instagramwidget-display.typeGrid .thumb { overflow:hidden; }
.xans-instagramwidget-display.typeGrid .thumb ul { display:table; margin:0 auto; }
.xans-instagramwidget-display.typeGrid .thumb ul:after { content:""; display:block; clear:both; }
.xans-instagramwidget-display.typeGrid .thumb.border li { border:1px solid #b7b7b7; }
.xans-instagramwidget-display.typeGrid .thumb li { position:relative; float:left; box-sizing:border-box; background:#fff; }
.xans-instagramwidget-display.typeGrid .thumb li a { display:block; }
.xans-instagramwidget-display.typeGrid .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:10px; top:10px; width:26px; height:26px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/skin1/ico_play.png") no-repeat 0 0; }
.xans-instagramwidget-display.typeGrid .thumb li .likeLayer {display:none;}


/* typeBoard */
.xans-instagramwidget-display.typeBoard .thumb { overflow:hidden; }
.xans-instagramwidget-display.typeBoard .thumb ul { display:table; margin:0 auto; }
.xans-instagramwidget-display.typeBoard .thumb ul:after { content:""; display:block; clear:both; }
.xans-instagramwidget-display.typeBoard .thumb.border li { border-top:1px solid #e3e3e3; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; border-bottom:1px solid #bcbaba; }
.xans-instagramwidget-display.typeBoard .thumb li { float:left; box-sizing:border-box; text-align:left; background:#fff; }
.xans-instagramwidget-display.typeBoard .thumb li .img { position:relative; margin:5px 5px 0; display:block; font-size:0; }
.xans-instagramwidget-display.typeBoard .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:11px; top:13px; width:26px; height:26px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/skin1/ico_play.png") no-repeat 0 0; }
.xans-instagramwidget-display.typeBoard .thumb li .writer { padding:8px 10px; }
.xans-instagramwidget-display.typeBoard .thumb li .writer a { overflow:hidden; display:inline-block; width:26px; height:26px; vertical-align:middle; border-radius:14px; opacity:1; }
.xans-instagramwidget-display.typeBoard .thumb li .writer img { width:26px; height:26px;}
.xans-instagramwidget-display.typeBoard .thumb li .writer .user { margin:0 0 0 4px; font-size:12px; font-weight:bold; color:#000; vertical-align:middle; }
.xans-instagramwidget-display.typeBoard .thumb li .comment { position:relative; min-height:106px; padding:13px 15px 13px 34px; color:#757575; font-size:11px; line-height:20px; text-align:left; box-sizing:border-box; background:#f2f2f2; }
.xans-instagramwidget-display.typeBoard .thumb li .comment:before {content:""; position:absolute; left:20px; top:14px; width:7px; height:7px; border-bottom:1px dotted #373737; border-left:1px dotted #373737; }

/* typeScrolling */
.xans-instagramwidget-display.typeScrolling { padding:35px 15px 20px; }
.xans-instagramwidget-display.typeScrolling .thumb { overflow:hidden; position:relative; margin:0 auto; }
.xans-instagramwidget-display.typeScrolling .thumb .list { overflow:hidden; margin:0 25px; white-space:nowrap; }
.xans-instagramwidget-display.typeScrolling .thumb li { position:relative; margin:0 0 0 7px; display:inline-block; box-sizing:border-box; background:#fff; }
.xans-instagramwidget-display.typeScrolling .thumb li:first-child {margin-left: 0;}
.xans-instagramwidget-display.typeScrolling .thumb li a { display:block; }
.xans-instagramwidget-display.typeScrolling .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:10px; top:10px; width:26px; height:26px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/skin1/ico_play.png") no-repeat 0 0; }
.xans-instagramwidget-display.typeScrolling .thumb .button .prev,
.xans-instagramwidget-display.typeScrolling .thumb .button .next { position:absolute; top:50%; width:15px; height:26px; margin:-13px 0 0; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/skin1/btn_scrolling.png") no-repeat 0 0; }
.xans-instagramwidget-display.typeScrolling .thumb .button .prev { left:0; }
.xans-instagramwidget-display.typeScrolling .thumb .button .next { right:0; background-position:100% 0; }

/* typeSlideshow */
.xans-instagramwidget-display.typeSlideshow .thumb { position:relative; overflow:hidden; margin:0 auto; }
.xans-instagramwidget-display.typeSlideshow .thumb li { position:absolute; left:0; top:0; z-index:10; padding:10px; background:#fff; border-left:1px solid #dedddd; border-right:1px solid #dedddd; border-bottom:1px solid #b5b2b2; }
.xans-instagramwidget-display.typeSlideshow .thumb li a { display:block; }
.xans-instagramwidget-display.typeSlideshow .thumb li .play { overflow:hidden; display:inline-block; position:absolute; right:20px; top:20px; width:26px; height:26px; font-size:0; line-height:0; text-indent:150%; background:url("//img.echosting.cafe24.com/apps/instagram-widget/skin1/ico_play.png") no-repeat 0 0; }