<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>기본 레이아웃</title>
    <!--@import(/_inno/import/_inno.html)-->
    <!--@js(/layout/basic/js/popup.js)-->
    <!--@js(/layout/basic/js/table_last.js)-->
</head>

<body class="popup">
<!--@contents-->
</body>
</html>