<link rel="stylesheet" href="../../../../../Downloads/CreativeLinkEffects/css/component.css">
<div class="header-gnb">
    <div class="container">

        <ul class="left">
            <li>
                <a href="#!" class="brand-logo">
                    <img src="/assets/images/landing_page/main_visual/99Nerds_logo.svg" alt="99nerds_logo"/><span> 99NERDS</span>
                </a>
            </li>
        </ul>

        <ul class="right">
            <li>
                <a href="#!" class="clickdown-button waves-light">
                    <span class="ci ci-keep"></span>
                    Shopping bag
                </a>
            </li>
            <li>
                <a href="#!" class="clickdown-button waves-light">
                    <span class="ci ci-pay"></span>
                    Order
                </a>
            </li>
            <li>
                <a href="#!" class="clickdown-button waves-light">
                    <span class="ci ci-use"></span>
                    Account
                </a>
            </li>
        </ul>
    </div>
</div>

<nav data-tag-nav class="header-nav">

    <div class="container nav-wrapper">

        <ul class="left" data-nav-account="">
            <li><a href="#" data-activates="slide-out" class="stack-icon waves-light"><span class="ci ci-stack"></span></a>
            </li>
        </ul>

        <ul class="main-nav left ">
            <li><a href="#!">Product</a></li>
            <li><a href="#!">About</a></li>
            <li><a href="#!">Notice</a></li>
            <li><a href="#!">Customer</a></li>
            <li><a href="#!">Report</a></li>
        </ul>

        <a href="#!" class="brand-logo tablet-brand-logo">
            <img src="/assets/images/landing_page/main_visual/99Nerds_logo.svg" alt="99nerds_logo"/><span> 99NERDS</span>
        </a>

        <ul class="right">
            <li>
                <div class="search-box">
                    <form id="searchBarForm" name="" action="/product/search.html" method="get">
                        <input name="banner_action" value="" type="hidden"><input type="text" name="keyword"/><span
                            href="#" class="search-icon"><span class="ci ci-search2"></span></span>
                    </form>
                </div>
            </li>
        </ul>

    </div>
</nav>