<!--@layout(/layout/99nerds/layout-default.html)-->



<div class="sub-about">

    <section class="section-about-header">
        <div class="sub-header-wrap">
            <div class="container">

                <div class="row" style="margin-bottom:0">
                    <div class="col s6">
                        <h1 class="sub-about-title">information<br/><span><span
                                style="text-decoration: underline">about</span> 99NERDS;</span>
                        </h1>
                    </div>
                    <div class="col s6">
                        <img class="sub_about_image" src="/assets/images/sub-about/99nerds-about.png"
                             alt="99nerds-about-image"/></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-founders">
        <div class="container">

            <div class="row">
                <div class="col s12">
                    <div class="about-title-wrap">
                        <h2 class="about-title">
                            <span class="ci ci-new-message"></span></br>
                            The founders
                        </h2>
                        <div class="about-block-line"></div>
                        <h3 class="about-sub-title">
                            '구구너드'를 만든 사람들
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="profile-wrap">
                    <div class="col s3">

                        <div class="about-image-wrap">
                            <img class="about-image" src="/assets/images/sub-about/about-thomas.png"
                                 alt="sub-about-thomas"/></div>
                        <h4>Thomas</h4>
                        <p>CHEQUER Director<br/>
                            대한민국 최고 javascript engineer<br/><br/>

                            &bull;javascript UI 라이브러리 AXISJ 런칭<br/>
                            &bull;javascript UI 프레임워크 AX5UI 런칭<br/>
                            &bull;풀스택 웹 어플리케이션 프레임워크 AXBoot 런칭<br/>
                            &bull;그외 다양한 UI Component를<br/>
                            &bull;지속적으로 개발/공개 하고 있는<br/>
                            &bull;Web UI 오픈소스 개발자</p>

                    </div>
                    <div class="col s3">

                        <div class="about-image-wrap">
                            <img class="about-image" src="/assets/images/sub-about/about-brant.png"
                                 alt="sub-about-brant"/></div>
                        <h4>Brant</h4>
                        <p>CHEQUER CEO<br/>
                            Java, Spring Framework를 즐겨쓰는<br/>
                            server engineer<br/><br/>

                            •Spring Evangelist<br/>
                            •Spring Boot in Action 번역<br/>
                            •카카오에서 커머스 서비스/플랫폼 개발자</p>

                    </div>
                    <div class="col s3">

                        <div class="about-image-wrap">
                            <img class="about-image" src="/assets/images/sub-about/about-bill.png"
                                 alt="sub-about-bill"/></div>
                        <h4>Bill</h4>
                        <p>구구너드 MD</p>
                    </div>


                    <div class="col s3">

                        <div class="about-image-wrap">
                            <img class="about-image" src="/assets/images/sub-about/about-cia.png"
                                 alt="sub-about-cia"/></div>
                        <h4>Cia</h4>
                        <p>구구너드 Designer</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section-history">
        <div class="container">
            <div class="history-space-bg-wrap">
                <img class="history-space-bg" src="/assets/images/sub-about/history-space-bg.png"/>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="history-title-wrap">
                        <h2 class="history-title">
                            <span class="ci ci-new-message"></span></br>
                            Our history
                        </h2>
                        <div class="about-block-line"></div>
                        <h3 class="about-sub-title">
                            '구구너드'의 탄생
                        </h3>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="history-contents-wrap">
                    <div class="col s">


                    </div>
                </div>
            </div>
    </section>

</div>