.popup { min-width:800px; }
.mid-0.xans-coupon-couponlist .gStrong table tfoot td { padding:15px 10px 17px; }
.mid-0.xans-coupon-couponlist .gStrong table tbody td { padding:18px 7px; }
.mid-0.xans-coupon-couponlist table .detail li { padding:0 0 0 9px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/order/ico_grid.gif") no-repeat 0 8px; }