.mid-0.xans-coupon-join { overflow:hidden; padding:50px 0 30px; }
.mid-0.xans-coupon-join .couponSkinArea { text-align:center; }
.mid-0.xans-coupon-join .couponSkinArea ul { zoom:1; margin:0 auto; padding:0; }
.mid-0.xans-coupon-join .couponSkinArea ul:after { content:""; display:block; clear:both; }
.mid-0.xans-coupon-join .couponSkinArea ul li { display:inline; float:left; width:216px; padding:0; list-style:none; }
.mid-0.xans-coupon-join .couponSkinArea ul.grid1 { width:216px; }
.mid-0.xans-coupon-join .couponSkinArea ul.grid2 { width:472px; }
.mid-0.xans-coupon-join .couponSkinArea ul.grid2 li { margin:0 10px; }
.mid-0.xans-coupon-join .couponSkinArea ul.grid3 { width:708px; }
.mid-0.xans-coupon-join .couponSkinArea ul.grid3 li { margin:0 10px; }
.mid-0.xans-coupon-join .couponSkinArea .coupon { width:216px; height:105px; margin-bottom:20px; line-height:1.5; text-align:center; background-repeat:no-repeat; }
.mid-0.xans-coupon-join .couponSkinArea .coupon img { border:0; }
.mid-0.xans-coupon-join .couponSkinArea .coupon p { margin:0; padding:0; }
.mid-0.xans-coupon-join .couponSkinArea .coupon .title { display:block; padding:8px 0 0; line-height:15px; text-align:center; }
.mid-0.xans-coupon-join .couponSkinArea .coupon .discount { line-height:28px; text-align:center; letter-spacing:-1px; }
.mid-0.xans-coupon-join .couponSkinArea .coupon .period { line-height:13px; text-align:center; letter-spacing:-1px; }
.mid-0.xans-coupon-join .couponSkinArea .coupon .button { margin:5px 0 0; text-align:center; }
.mid-0.xans-coupon-join .couponSkinArea .imgCoupon .title,
.mid-0.xans-coupon-join .couponSkinArea .imgCoupon .discount,
.mid-0.xans-coupon-join .couponSkinArea .imgCoupon .period,
.mid-0.xans-coupon-join .couponSkinArea .imgCoupon .button { display:none; }