.popup { min-width:800px; height:670px; }
.mid-0.xans-coupon-selectnew table td select[id*="cpnPrdSelect"] { max-width:90px; }
.mid-0.xans-coupon-selectnew .gStrong table tfoot td { padding:15px 10px 17px; }
.mid-0.xans-coupon-selectnew .gStrong table tbody td { padding:18px 7px; }
.mid-0.xans-coupon-selectnew table .detail td li { padding:0 0 0 9px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/order/ico_grid.gif") no-repeat 0 7px; }
.mid-0.xans-coupon-selectnew table td .selectBox li { margin:5px 0 0; padding:0; background:0 none; }
.mid-0.xans-coupon-selectnew table td .selectBox li:first-child { margin-top:0; }
.mid-0.xans-coupon-selectnew table td .selectBox li select { width:100%; }