/* List */
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon .chkBtn { position:absolute; left:5px; top:5px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea { text-align:center; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul { margin:0 auto; padding:0; *zoom:1; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul:after { content:""; display:block; clear:both; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul li { display:inline; float:left; width:216px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul.grid1 { width:216px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul.grid2 { width:472px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul.grid2 li { margin:0 10px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul.grid3 { width:708px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea ul.grid3 li { margin:0 10px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon { position:relative; width:216px; height:105px; margin-bottom:20px; line-height:1.5; text-align:center; background-repeat:no-repeat; }
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon .title { display:block; padding:8px 0 0; margin:0; }
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon .discount { line-height:28px; letter-spacing:-1px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon .period { line-height:13px; letter-spacing:-1px; }
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon.imgCoupon .title,
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon.imgCoupon .discount,
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon.imgCoupon .period,
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon.imgCoupon .button { display:none; }
.mid-0.xans-coupon-zonepackage .couponSkinArea .coupon.imgCoupon .detail { height:100%; }

.mid-0.xans-coupon-zonepackage .couponZone { border-top:1px solid #d6d6d6; }
.mid-0.xans-coupon-zonepackage .couponZone .title { overflow:hidden; *zoom:1; }
.mid-0.xans-coupon-zonepackage .couponZone .title > p { float:right; }

/* 쿠폰정보 레이어 */
#dCouponDetail { position:relative; width:398px; padding:0; box-shadow:5px 5px 5px #d3d3d3; }
#dCouponDetail h3 + a { position:absolute; right:20px; top:10px; }
#dCouponDetail ul { clear:both; padding:16px 10px 17px 20px; margin:0 0 30px 0; background:#f5f5f5; }
#dCouponDetail ul li { margin:7px 0 0; line-height:18px; }
#dCouponDetail ul li:first-child { margin-top:0; }
#dCouponDetail ul + a { position:absolute; left:50%; bottom:15px; margin:0 0 0 -31px; }