.xans-product-normalpaging { padding:30px 0 40px; border-top:1px solid #e8e8e8; text-align:center; }
.xans-product-normalpaging p { display:inline-block; vertical-align:top; *display:inline; *zoom:1; }
.xans-product-normalpaging p.first { margin:0 -4px 0 0; }
.xans-product-normalpaging p.last { margin:0 0 0 -4px; }
.xans-product-normalpaging ol { display:inline-block; margin:0 -4px; font-size:0; line-height:0; vertical-align:top; *display:inline; *zoom:1; *margin:0; }
.xans-product-normalpaging li { display:inline-block; margin:0 0 0 -1px; border:1px solid #d7d5d5; font-size:12px; color:#757575; vertical-align:top; *display:inline; *zoom:1; }
.xans-product-normalpaging li:first-child { margin-left:0; }
.xans-product-normalpaging img { vertical-align:top; }
.xans-product-normalpaging li a { display:block; width:33px; padding:9px 0; font-weight:bold; color:#939393; line-height:14px; background:#fff; }
.xans-product-normalpaging li a:hover { text-decoration:none; background:#f0f2f2; }
.xans-product-normalpaging li a.this { padding-bottom:6px; border-bottom:3px solid #495164; color:#495164; }
.xans-product-normalpaging a.nolink { cursor:default; }