.popup { min-width:560px; height:410px; }
.mid-0.xans-calendar-modify td input#title { width:350px; }
.mid-0.xans-calendar-modify td input#date { width:80px; text-align:center; }
.mid-0.xans-calendar-modify td input#confirm { width:40px; }
.mid-0.xans-calendar-modify td textarea#contents { width:350px; height:80px; }