.mid-0 .xans-calendar-headmonth { position:relative; margin:30px 0 32px; text-align:center; }
.mid-0 .xans-calendar-headmonth .date { color:#d9bca0; font-size:30px; letter-spacing:-1px; font-family:Lucida Sans, sans-serif; }
.mid-0 .xans-calendar-headmonth .date img { vertical-align:middle; }
.mid-0 .xans-calendar-headmonth .right { position:absolute; right:0; top:0; }

.mid-0 .xans-calendar-listmonth th { border-top:1px solid #d9bca0; font-size:11px; color:#d9bca0; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/calendar/bg_thead.gif") right 0 no-repeat; }
.mid-0 .xans-calendar-listmonth th span { display:block; padding:8px 0; }
.mid-0 .xans-calendar-listmonth th.sun span { color:#e5541e; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/calendar/bg_thead.gif") 0 0 no-repeat; }
.mid-0 .xans-calendar-listmonth th.sat span { color:#7cbed7; }
.mid-0 .xans-calendar-listmonth td { border:1px solid #fff; font-size:11px; background:#f7f4ec; }
.mid-0 .xans-calendar-listmonth td.cal_day_select { background:#f4eacf; }
.mid-0 .xans-calendar-listmonth td div { min-height:90px; padding:8px 6px; border-top:1px solid #e2ddd0; border-left:1px solid #e2ddd0; color:#8f8f8f; }
.mid-0 .xans-calendar-listmonth td div.today { background:#d1e7b9; }
.mid-0 .xans-calendar-listmonth td div.today p > span { font-weight:bold; text-decoration:underline; color:#75a039; }
.mid-0 .xans-calendar-listmonth td p a,
.mid-0 .xans-calendar-listmonth td p a:hover { display:inline-block; padding:2px 0 2px 21px; margin:0 0 0 4px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/calendar/ico_count.gif") 0 0 no-repeat; }
.mid-0 .xans-calendar-listmonth td li { padding:0 0 0 7px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/calendar/ico_list.gif") 0 center no-repeat; }
.mid-0 .xans-calendar-listmonth td li a,
.mid-0 .xans-calendar-listmonth td li a:hover { font-size:11px; line-height:18px; color:#8f8f91; }