.mid-0.xans-board-inquirymodify .required { margin:0 0 10px; text-align:right; }

/* 상품정보선택 */
.mid-0 .xans-board-inquiryhead .prdThumb { float:left; margin:0 15px 0 0; }

/* modify */
.mid-0.xans-board-inquirymodify table #bi_inquire_subject { width:390px; }
.mid-0.xans-board-inquirymodify table #bi_inquirer_email { width:280px; }
.mid-0.xans-board-inquirymodify table #bi_zipcode1,
.mid-0.xans-board-inquirymodify table #bi_zipcode2 { width:40px; }
.mid-0.xans-board-inquirymodify table #bi_zipcode1 { width:65px; }
.mid-0.xans-board-inquirymodify table #bi_inquirer_addr1,
.mid-0.xans-board-inquirymodify table #bi_inquirer_addr2 { width:280px; }
.mid-0.xans-board-inquirymodify table #bi_inquirer_phone2,
.mid-0.xans-board-inquirymodify table #bi_inquirer_phone3 { width:50px; }
.mid-0.xans-board-inquirymodify table #bi_inquirer_phone2 { width:90px; }