/* 게시판 전체 공통 */
.xans-board-title p.imgArea { margin:0 0 20px; }
.xans-board-listpackage .boardSort { float:left; margin:0 0 10px; }
.tableTheme table tr td input[type=text],
.tableTheme table tr td input[type=password],
.tableTheme table tr td select {padding:3px; vertical-align:middle; border:1px solid #ddd; display:inline-block; margin:0 3px;}

.xans-board th {font-size:14px; padding:8px 0; font-weight:400;}
.xans-board td {font-size:13px; padding:8px 10px;}
.xans-board td a {font-size:13px;}

/* thead */
.xans-board-listheader {border-top:1px solid #777; border-bottom:1px solid #777;}
.xans-board-listheader th {border:0;}

/* tbody */
.xans-board-notice td, 
.xans-board-list td {text-align:center; border:0; border-bottom:1px solid #ddd;}
td.left {text-align:left;}

.xans-board-notice td:first-child,
.xans-board-notice td.left a {color:#222;}

/* 갤러리형 탭메뉴 */
ul.xans-board-listheader { text-align:right; margin:0 0 10px; }
ul.xans-board-listheader li { display:inline; }

/* 목록 */
.xans-board-listpackage table { clear:both; border-left:0px; border-right:0px;}
.xans-board-listpackage table tr:nth-child(2n) td {background:#f9f9f9;}

/* 상품게시판 - 상품정보 */
.xans-board-listpackage table td .thumb img { display:inline-block; width:46px; }
.xans-board-listpackage table td .thumb span { display:inline-block; width:65px; padding:0 0 0 8px; }

/* 상품후기 아코디언형 */
.xans-board-notice #content_view td { padding:9px 10px 20px; text-align:left; background:#f6f7f9; }
.xans-board-list #content_view td { padding:9px 10px 20px; text-align:left; white-space:pre-wrap; background:#f6f7f9; }






