/* 게시판 전체 공통 */
.mid-0 .xans-board-title p.imgArea { margin:0 0 20px; }

/* modify */
.mid-0 .xans-board-modify-9 .displaynone+table.gTriple { margin-top:0; }
.mid-0 .xans-board-modify-9 table td .detail { padding:17px 17px 15px; }
.mid-0 .xans-board-modify-9 table td .detail ol,
.mid-0 .xans-board-modify-9 table td .detail ul { margin:15px 0; padding:0 0 0 40px; }
.mid-0 .xans-board-modify-9 table td .detail ol li { list-style:decimal; }
.mid-0 .xans-board-modify-9 table td .detail ul li { list-style:disc; }
.mid-0 .xans-board-modify-9 table #subject { width:390px; }