/* 게시판 전체 공통 */
.xans-board-title p.imgArea { margin:0 0 20px; }

/* 상품정보선택 */
.xans-board-write .prdThumb { float:left; margin:0 15px 0 0; }

/* write */
.xans-board-write table textarea#privacy_agreement { width:560px; height:140px; }
.xans-board-write table #subject { width:390px; }
.xans-board-write table #ucc_width { width:40px; }
.xans-board-write table #ucc_height { width:40px; }
