.banner .bx-wrapper .bx-pager.bx-default-pager a {display:inline-block; width:12px; height:12px; background:#aaa; overflow:hidden; text-indent:-9999px;}
.banner .bx-wrapper .bx-pager.bx-default-pager a.active {background:#222;}
.banner .bx-wrapper .bx-pager {text-align:right; bottom:15px; width:97%;}