html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { margin:0; padding:0; border:0; }
body { font:12px "돋움", Dotum, AppleGothic, sans-serif; color:#333; background:#fff; }
caption { display:none; }
li { list-style:none; }

.mid-0.xans-estimate-print { overflow:hidden; padding:20px 30px; border-bottom:1px solid #6c6c6c; background:#eee; }
.mid-0.xans-estimate-print strong { display:block; color:#353535; }
.mid-0.xans-estimate-print ul { float:left; margin:7px 0 0; width:410px; color:#757575; font-size:12px; line-height:1.5; }
.mid-0.xans-estimate-print li { padding:0 0 0 9px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/order/ico_grid.gif") no-repeat 0 7px; }
.mid-0.xans-estimate-print p { float:right; width:257px; }

.mid-0.xans-estimate-estimateinfo { padding:0 20px 30px; }
.mid-0.xans-estimate-estimateinfo h1 { padding:30px 0; text-align:center; letter-spacing:10px; color:#000; }
.mid-0.xans-estimate-estimateinfo table { width:100%; border-spacing:0; border-collapse:collapse; border:0; margin:0 0 30px; }
.mid-0.xans-estimate-estimateinfo th,
.mid-0.xans-estimate-estimateinfo td { padding:4px 2px; border:1px solid #999; }
.mid-0.xans-estimate-estimateinfo p { padding:0 0 5px; }

.mid-0.xans-estimate-estimateinfo .number,
.mid-0.xans-estimate-estimateinfo .prdCode,
.mid-0.xans-estimate-estimateinfo .quantity { text-align:center; }
.mid-0.xans-estimate-estimateinfo .prdName img { width:60px; padding:0 4px 0 0; vertical-align:middle; }
.mid-0.xans-estimate-estimateinfo .unitPrice,
.mid-0.xans-estimate-estimateinfo .totalPrice { text-align:right; }
.sale li { padding:3px 0 0; }
.sale li .title { width:150px; display:inline-block; }
