.popup { min-width:780px; }

.mid-0.xans-estimate-userform table .agree { overflow:auto; width:95%; height:100px; padding:5px 6px; border:1px solid #d5d5d5; }
.mid-0.xans-estimate-userform #user_name { width:180px; }
.mid-0.xans-estimate-userform #user_phone2,
.mid-0.xans-estimate-userform #user_phone3 { width:60px; }
.mid-0.xans-estimate-userform #user_email1 { width:150px; },
.mid-0.xans-estimate-userform #user_email2 { width:150px; }